<mat-progress-bar
  mode="indeterminate"
  *ngIf="(logs$ | async) === null"
></mat-progress-bar>
<main class="p-4">
  <h1>Activity Log</h1>
  <mat-list class="my-2">
    <mat-list-item *ngFor="let stat of stats$ | async">
      <h3 mat-line>{{ stat.message }}</h3>
      <p mat-line>{{ stat.count }} times logged</p>
    </mat-list-item>
  </mat-list>
  <table
    *ngIf="logs$ | async as orders"
    mat-table
    [dataSource]="orders"
    class="w-full"
  >
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date: 'medium' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef>Message</th>
      <td mat-cell *matCellDef="let element">
        {{ element.message }}
      </td>
    </ng-container>

    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef>Level</th>
      <td mat-cell *matCellDef="let element">
        {{ element.severity }}
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button (click)="showDetails(element)">
          Show details
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</main>
