/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .mat-mdc-form-field {
    width: 128px;
  }
}
