<app-reactive-toolbar>
  <mat-toolbar color="white">
    <a routerLink=".." mat-icon-button>
      <mat-icon svgIcon="icon-circled-chevron-left"></mat-icon>
    </a>
    <div resetScroll>Purchase Details</div>
  </mat-toolbar>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="(purchase$ | async) === null"
  ></mat-progress-bar>
</app-reactive-toolbar>
<main class="p-4" *ngIf="purchase$ | async as purchase">
  <h2>Payment</h2>
  <!--  TODO: check use of transactions list-->
  <app-transaction-list
    [transactions]="purchase.transactions"
  ></app-transaction-list>
  <h2>Items</h2>
  <mat-list>
    <mat-list-item *ngFor="let item of purchase.items">
      <img [src]="item.product.leadImage.src" mat-list-avatar />
      <h3 mat-line>{{ item.product.title }} x {{ item.quantity }}</h3>
      <p mat-line *ngFor="let submission of item.submissions">
        {{ submission.submissionItem.name }}: {{ submission.data.value }}
      </p>
    </mat-list-item>
  </mat-list>
  <pre>{{ purchase$ | async | json }}</pre>
</main>
