:host {
  @apply block;
  max-height: inherit;
  max-width: inherit;
}

.inherit-dimensions {
  max-height: inherit;
  max-width: inherit;
}

img {
  @apply h-full w-full;
  max-height: inherit;
  max-width: inherit;
}
