:host{
  @apply block;
  max-height: inherit;
  max-width: inherit;
}

.inherit-dimensions{
  max-height: inherit;
  max-width: inherit;
}

img{
  @apply w-full h-full;
  max-height: inherit;
  max-width: inherit;
}
