<div
  class="flex-column relative flex items-center justify-center gap-8 bg-slate-200 p-8 lg:py-14"
>
  <div
    class="relative flex w-[90vw] max-w-[90vw] flex-col items-center overflow-hidden rounded-lg bg-white p-4 text-center shadow-lg sm:w-[400px]"
  >
    <div
      class="background absolute top-0 left-0 w-full h-[80px] bg-blue-500 flex items-center p-4 justify-between {{
        profile?.currentTenant?.status | lowercase
      }}"
    >
      <img
        src="/assets/logos/full_white.svg"
        alt="ESN TUMi Logo"
        class="w-20 object-contain md:w-24"
      />
    </div>
    <div
      *ngIf="!profile"
      class="z-10 h-[128px] w-[128px] overflow-hidden rounded-full bg-white"
    >
      <div class="skeleton h-full w-full"></div>
    </div>
    <img
      *ngIf="profile"
      [src]="profile.picture"
      class="picture rounded-full h-[128px] w-[128px] border-white border-[3px] z-10 {{
        profile.currentTenant?.status | lowercase
      }} bg-white"
      style="text-indent: -10000px"
      referrerpolicy="no-referrer"
      data-testid="profile-picture"
      onerror="this.src='assets/images/defaultUser.jpg'"
    />
    <div class="mt-4 text-3xl font-bold">
      <div *ngIf="!profile" class="skeleton w-60">Phantom</div>
      <span *ngIf="profile">{{ profile.fullName }}</span>
    </div>
    <div
      *ngIf="
        profile &&
        position(profile.position, profile.currentTenant?.status) as position
      "
      class="my-1"
    >
      <span
        class="background px-2 py-1 text-sm text-white rounded-lg {{
          profile.currentTenant?.status | lowercase
        }}"
        >{{ position }}</span
      >
    </div>
    <div *ngIf="profile && profile.country" class="my-1 text-sm italic">
      {{ profile.country }}
    </div>
    <div *ngIf="!profile" class="skeleton mt-2 text-sm italic">
      Phantom Country
    </div>
    <div class="mt-3">
      <div *ngIf="!profile" class="skeleton h-20 w-60"></div>
      <ng-container *ngIf="profile">
        <span *ngIf="profile.bio" class="whitespace-pre-wrap">{{
          profile.bio
        }}</span>
        <span *ngIf="!profile.bio" class="italic text-gray-400">no bio</span>
      </ng-container>
    </div>
    <ng-container *ngIf="profile && profile.organizedEventsCount > 0">
      <mat-divider class="!my-4 w-full"></mat-divider>
      <div
        class="my-4 flex w-full flex-row justify-evenly sm:justify-center sm:gap-16"
      >
        <div>
          <div class="mb-1 text-3xl font-extrabold">
            {{ profile.organizedEventsCount }}
          </div>
          <div class="text-sm">
            event{{ profile.organizedEventsCount === 1 ? '' : 's' }} tutored
          </div>
        </div>
        <div *ngIf="profile.createdEventsCount > 0">
          <div class="mb-1 text-3xl font-extrabold">
            {{ profile.createdEventsCount }}
          </div>
          <div class="text-sm">
            event{{ profile.createdEventsCount === 1 ? '' : 's' }} created
          </div>
        </div>
      </div>
    </ng-container>
    <mat-divider class="!my-4 w-full"></mat-divider>
    <div class="flex flex-col items-center gap-1 text-sm">
      <div>
        <span
          *ngIf="
            profile && profile.university && profile.university.length <= 3
          "
          class="font-semibold"
          >{{ profile.university | uppercase }}</span
        >
        <span *ngIf="!profile" class="skeleton">Phantom Study Program</span>
        <span *ngIf="profile && profile.studyProgram" class="font-light">
          {{ profile.studyProgram }}</span
        >
      </div>
      <div
        *ngIf="profile && profile.homeUniversity"
        class="flex items-center gap-1"
      >
        <mat-icon
          svgIcon="icon-home"
          style="min-width: 18px; max-width: 18px"
        ></mat-icon>
        <div>{{ profile.homeUniversity }}</div>
      </div>
      <div
        *ngIf="profile && profile.instagram"
        class="mt-1 flex items-center gap-1 text-pink-600"
      >
        <mat-icon
          svgIcon="icon-instagram-new"
          style="min-width: 18px; max-width: 18px"
        ></mat-icon>
        <a
          href="https://www.instagram.com/{{ profile.instagram }}"
          target="blank"
          >{{ profile.instagram }}</a
        >
      </div>
    </div>
    <div *ngIf="!hideEditButton" class="absolute right-2 bottom-2">
      <button mat-mini-fab class="modern" color="accent" (click)="edit.emit()">
        <mat-icon svgIcon="icon-edit"></mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="profile" class="top-4 right-4 block sm:absolute">
    <a
      mat-flat-button
      class="modern"
      color="primary"
      [routerLink]="'/tenant/users/' + profile.id"
      *appIfRole="[Role.Admin]"
      >Manage user</a
    >
  </div>
</div>
