<div
  class="bg-slate-200 p-8 lg:py-14 relative"
  fxLayout="column"
  fxLayoutAlign="space-evenly center"
  fxLayoutGap="2rem"
  *ngIf="profile"
>
  <div
    class="bg-white shadow-lg rounded-lg p-4 flex flex-col items-center relative overflow-hidden max-w-[90vw] w-[90vw] sm:w-[400px] text-center"
  >
    <div
      class="background absolute top-0 left-0 w-full h-[80px] bg-blue-500 flex items-center p-4 justify-between {{
        profile.currentTenant?.status | lowercase
      }}"
    >
      <img
        src="/assets/logos/full_white.svg"
        alt="ESN TUMi Logo"
        class="w-20 md:w-24 object-contain"
      />
    </div>
    <img
      [src]="profile.picture"
      class="picture rounded-full h-[128px] w-[128px] border-white border-[3px] z-10 {{
        profile.currentTenant?.status | lowercase
      }} bg-white"
      style="text-indent: -10000px"
      referrerpolicy="no-referrer"
      onerror="this.src='assets/images/defaultUser.jpg'"
    />
    <div class="text-3xl font-bold mt-4">{{ profile.fullName }}</div>
    <div
      *ngIf="
        position(profile.position, profile.currentTenant?.status) as position
      "
      class="my-1"
    >
      <span
        class="background px-2 py-1 text-sm text-white rounded-lg {{
          profile.currentTenant?.status | lowercase
        }}"
        >{{ position }}</span
      >
    </div>
    <div *ngIf="profile.country" class="italic my-1 text-sm">
      {{ profile.country }}
    </div>
    <div class="mt-3">
      <span *ngIf="profile.bio" class="whitespace-pre-wrap">{{
        profile.bio
      }}</span>
      <span *ngIf="!profile.bio" class="text-gray-400 italic">no bio</span>
    </div>
    <ng-container *ngIf="profile.organizedEventsCount > 0">
      <mat-divider class="w-full !my-4"></mat-divider>
      <div
        class="w-full my-4 flex flex-row justify-evenly sm:gap-16 sm:justify-center"
      >
        <div>
          <div class="text-3xl font-extrabold mb-1">
            {{ profile.organizedEventsCount }}
          </div>
          <div class="text-sm">
            event{{ profile.organizedEventsCount === 1 ? '' : 's' }} tutored
          </div>
        </div>
        <div *ngIf="profile.createdEventsCount > 0">
          <div class="text-3xl font-extrabold mb-1">
            {{ profile.createdEventsCount }}
          </div>
          <div class="text-sm">
            event{{ profile.createdEventsCount === 1 ? '' : 's' }} created
          </div>
        </div>
      </div>
    </ng-container>
    <mat-divider class="w-full !my-4"></mat-divider>
    <div class="flex flex-col items-center gap-1 text-sm">
      <div class="">
        <span
          *ngIf="profile.university && profile.university.length <= 3"
          class="font-semibold"
          >{{ profile.university | uppercase }}</span
        >
        <span *ngIf="profile.studyProgram" class="font-light">
          {{ profile.studyProgram }}</span
        >
      </div>
      <div *ngIf="profile.homeUniversity" class="flex items-center gap-1">
        <mat-icon
          svgIcon="icon-home"
          style="min-width: 18px; max-width: 18px"
        ></mat-icon>
        <div>{{ profile.homeUniversity }}</div>
      </div>
      <div
        *ngIf="profile.instagram"
        class="flex items-center gap-1 text-pink-600 mt-1"
      >
        <mat-icon
          svgIcon="icon-instagram-new"
          style="min-width: 18px; max-width: 18px"
        ></mat-icon>
        <a
          href="https://www.instagram.com/{{ profile.instagram }}"
          target="blank"
          >{{ profile.instagram }}</a
        >
      </div>
    </div>
    <div *ngIf="!hideEditButton" class="absolute right-2 bottom-2">
      <button mat-mini-fab class="modern" color="accent" (click)="edit.emit()">
        <mat-icon svgIcon="icon-edit"></mat-icon>
      </button>
    </div>
  </div>
  <div class="block sm:absolute top-4 right-4">
    <a
      mat-flat-button
      class="modern"
      color="primary"
      [routerLink]="'/tenant/users/' + profile.id"
      *appIfRole="[Role.Admin]"
      >Manage user</a
    >
  </div>
</div>
