<a *ngIf="event" mat-list-item routerLink="/events/{{ event.id }}">
  <img [src]="event.icon | iconURL" mat-list-avatar />
  <h3 mat-line>{{ event.title }}</h3>
  <p mat-line>
    <span>{{ formatDate(event.start, event.end) }}</span>
    <span *ngIf="event.participantRatingCount > 0">
      <span class="ml-2 rounded px-1 bg-amber-400 text-white !text-xs"
        >{{ event.participantRating | number: '1.1-1' }} ★ ({{
          event.participantRatingCount
        }})
      </span></span
    >
  </p>
  <p
    *ngIf="event.ratingPending"
    class="!text-xs !mt-0.5 text-amber-600 !font-medium"
  >
    Rate now!
  </p>
  <p *ngIf="event.createdBy" class="!text-xs !mt-1" mat-line>
    <app-user-chip
      size="xs"
      [id]="event.createdBy.id"
      [picture]="event.createdBy.picture"
      name="{{ event.createdBy.firstName }} {{ event.createdBy.lastName }}"
    >
    </app-user-chip>
  </p>
</a>
<a *ngIf="!event" mat-list-item>
  <div class="skeleton !rounded-full" mat-list-avatar></div>
  <h3 mat-line class="skeleton">Phantom Title</h3>
  <p mat-line>
    <span class="skeleton">XXX XX, XXXX</span>
  </p>
</a>
