<mat-progress-bar
  mode="indeterminate"
  *ngIf="(statistics$ | async) === null"
></mat-progress-bar>
<main class="p-4" *ngIf="statistics$ | async as statistics">
  <h1 class="mb-4 font-mono font-black">Statistics HQ</h1>
  <mat-form-field [formGroup]="rangeControl">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input formControlName="start" matStartDate placeholder="Start date" />
      <input formControlName="end" matEndDate placeholder="End date" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <app-grid class="mb-4">
    <div class="kpi">
      <p class="title">Registered Users</p>
      <p class="value">{{ statistics.usersRegistered }}</p>
    </div>
    <div class="kpi">
      <p class="title">Users with stripe customer</p>
      <p class="value">{{ statistics.usersWithCustomer }}</p>
    </div>
    <div class="kpi">
      <p class="title">Users with payment method</p>
      <p class="value">{{ statistics.usersWithPaymentMethod }}</p>
    </div>
    <div class="kpi">
      <p class="title">Events</p>
      <p class="value">{{ statistics.totalEvents }}</p>
    </div>
    <div class="kpi">
      <p class="title">Paid Events</p>
      <p class="value">{{ statistics.paidEvents }}</p>
    </div>
    <!--    <div class="kpi">-->
    <!--      <p class="title">Average events price</p>-->
    <!--      <p class="value">-->
    <!--        {{ tenant.statistics.averageEventCost | currency: 'EUR' }}-->
    <!--      </p>-->
    <!--    </div>-->

    <div class="kpi">
      <p class="title">Registrations</p>
      <p class="value">{{ statistics.registrations }}</p>
    </div>
    <div class="kpi">
      <p class="title">Paid registrations</p>
      <p class="value">{{ statistics.paidRegistrations }}</p>
    </div>
    <!--    <div class="kpi">-->
    <!--      <p class="title">Total net payments</p>-->
    <!--      <p class="value">-->
    <!--        {{ tenant.statistics.totalNetPayments | currency: 'EUR' }}-->
    <!--      </p>-->
    <!--    </div>-->
    <div class="kpi">
      <p class="title">Check ins</p>
      <p class="value">{{ statistics.checkins }}</p>
    </div>
    <div class="kpi">
      <p class="title">Users who registered for Events</p>
      <p class="value">{{ statistics.usersRegisteredEvents }}</p>
    </div>
    <div class="kpi">
      <p class="title">Users who registered for free Events</p>
      <p class="value">{{ statistics.usersRegisteredFreeEvents }}</p>
    </div>
    <div class="kpi">
      <p class="title">Users who registered for paid Events</p>
      <p class="value">{{ statistics.usersRegisteredPaidEvents }}</p>
    </div>
  </app-grid>
  <h2>University distribution</h2>
  <div gdAuto gdColumns="max-content auto" gdGap="0 1rem" class="mt-2 mb-6">
    <ng-container *ngFor="let entry of statistics.userUniversityDistribution">
      <p class="font-bold">{{ entry.uni ?? 'not set' | titlecase }}</p>
      <p>{{ entry.count }}</p>
    </ng-container>
  </div>
  <h2>Status distribution</h2>
  <div gdAuto gdColumns="max-content auto" gdGap="0 1rem" class="mt-2 mb-6">
    <ng-container *ngFor="let entry of statistics.userStatusDistribution">
      <p class="font-bold">{{ entry.status | titlecase }}</p>
      <p>{{ entry.count }}</p>
    </ng-container>
  </div>
  <div *ngIf="charts$ | async as charts">
    <div gdAuto gdColumns.gt-md="1fr 1fr" gdColumns="1fr" gdGap="1rem">
      <div *ngFor="let options of charts.pie">
        <highcharts-chart
          [Highcharts]="Highcharts"
          [options]="options"
          style="width: 100%; height: 400px; display: block"
        ></highcharts-chart>
      </div>
    </div>
    <div class="relative my-4" *ngFor="let options of charts.line">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="options"
        style="width: 100%; height: 400px; display: block"
      ></highcharts-chart>
    </div>
  </div>
  <br />
  <!--  <pre>{{ tenant | json }}</pre>-->
</main>
