@if ((profile$ | async) === null) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<main>
  <app-profile-card [profile]="profile$ | async"></app-profile-card>
  <div class="m-4">
    <div
      class="bg-secondary-container text-secondary-onContainer shadow-xl rounded-2xl p-4 h-full"
    >
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
        <mat-icon
          svgIcon="icon-overtime"
          class="text-secondary-default bg-secondary-on card-icon"
        ></mat-icon>
        <h2 class="font-bold">
          <span>Common past events </span>
          @if (profile$ | async; as profile) {
          <span>with {{ profile.firstName }}</span>
          } @if (commonEvents$ | async; as events) {
          <span class="font-light"> ({{ events.length }})</span>
          }
        </h2>
      </div>
      <mat-nav-list>
        @if (commonEvents$ | async; as events) { @for (event of events; track
        event) {
        <app-event-list-item [event]="event"></app-event-list-item>
        } } @else { @for (event of [].constructor(3); track event) {
        <app-event-list-item></app-event-list-item>
        } }
      </mat-nav-list>
    </div>
  </div>
</main>
