<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
  <mat-icon
    *ngIf="data.icon"
    [svgIcon]="data.icon"
    class="snack-icon"
  ></mat-icon>
  <span class="mat-body-1">{{ data.message }}</span>
  <button
    fxFlex="noshrink"
    (click)="dismiss()"
    *ngIf="data.action"
    color="accent"
    mat-flat-button
  >
    {{ data.action }}
  </button>
  <button (click)="cancel()" *ngIf="data.allowClose" mat-icon-button>
    <mat-icon svgIcon="cancel"></mat-icon>
  </button>
</div>
