<h2 class="mat-headline no-margin">Request: {{ title$ | async }}</h2>
<p class="mat-body">To approve the request please just select the corresponding user from the list</p>
<mat-form-field>
  <input [formControl]="filterInput" matInput placeholder="Search people" type="text" />
</mat-form-field>
<table [dataSource]="dataSource" class="people-table" mat-table>
  <ng-container matColumnDef="firstName">
    <th *matHeaderCellDef mat-header-cell>First Name</th>
    <td *matCellDef="let element" mat-cell>{{ element.firstName }}</td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th *matHeaderCellDef mat-header-cell>Last Name</th>
    <td *matCellDef="let element" mat-cell>{{ element.lastName }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th *matHeaderCellDef mat-header-cell>Email</th>
    <td *matCellDef="let element" mat-cell>{{ element.email }}</td>
  </ng-container>

  <ng-container matColumnDef="faculty">
    <th *matHeaderCellDef mat-header-cell>Faculty</th>
    <td *matCellDef="let element" mat-cell>{{ element.faculty }}</td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th *matHeaderCellDef mat-header-cell>Country</th>
    <td *matCellDef="let element" mat-cell>{{ element.country }}</td>
  </ng-container>

  <tr *matHeaderRowDef="columns" mat-header-row></tr>
  <tr (click)="approveRequest(row)" *matRowDef="let row; columns: columns" class="people-row" mat-row></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
