<div class="column" fxLayout="column" fxLayoutAlign="top center" fxLayoutGap="2rem" ngClass.gt-sm="big">
<!--    <img src="/assets/illustrations/later.svg"/>-->
  <lottie-player
    autoplay background="transparent" loop speed="1"
    src="https://assets5.lottiefiles.com/private_files/lf30_Rq4Htd.json" style="width: 30vmin; height: 30vmin;">
  </lottie-player>
  <h1 class="mat-display-3">We're off, washing hands</h1>
  <p>
    Due to restrictions to prevent further spread of SARS-CoV-2 TUMi is not organizing any events in the foreseeable
    future. We will take up operations again once the restrictions are lowered by the state and university. <br>
    In the mean time feel free to join the facebook group of this semester for digital exchange!
  </p>
  <a color="primary" href="https://www.facebook.com/groups/1578294439000555" mat-raised-button target="_blank">Join our
    facebook group</a>
  <a href="https://www.tum.de/en/about-tum/news/coronavirus/" mat-raised-button target="_blank">TUM CoV info
    site</a>
</div>
