<h1 mat-dialog-title>Select location</h1>
<mat-dialog-content>
  <app-location-autocomplete
    [formControl]="locationControl"
  ></app-location-autocomplete>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button class="modern" mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    class="modern save-button"
    color="primary"
    [disabled]="locationControl.invalid || isSaving"
    (click)="submitLocation()"
  >
    <mat-icon [class]="isSaving ? 'saving' : ''"
      ><mat-spinner></mat-spinner
    ></mat-icon>
    Save
  </button>
</mat-dialog-actions>
