<h1 class="mat-display-4">Statistics</h1>
<button
  (click)="rebuildStats()"
  *ngIf="isAdmin$ | async"
  [disabled]="loadingMessage | async"
  color="warn"
  mat-stroked-button
>
  Rebuild Stats
</button>
<p>{{ loadingMessage | async }}</p>
<div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start" fxLayoutGap="2rem">
  <app-event-stats *ngIf="eventStats | async" [stats]="eventStats | async"></app-event-stats>
  <app-user-stats *ngIf="userStats | async" [stats]="userStats | async"></app-user-stats>
</div>
