.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 280px;
  @apply p-4 bg-surface-default text-variant-on;
}

@media print {
  .sidenav {
    display: none;
  }
  mat-toolbar {
    display: none;
  }
  button {
    display: none;
  }
  div {
    display: none;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000;
}

mat-nav-list {
  .active {
    @apply bg-secondary-container text-secondary-onContainer;
  }
  a,
  button {
    @apply rounded-full overflow-hidden font-medium text-variant-on;
    .mat-list-item-content {
      @apply p-4;
    }
    mat-icon {
      @apply w-6 h-6 mr-3;
    }
  }
}
