<header
  fxLayout="row"
  class="p-4"
  [style.margin-left.px]="(isHandset$ | ngrxPush) ? 0 : 300"
>
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    color="primary"
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | ngrxPush"
  >
    <mat-icon aria-label="Side nav toggle icon" svgIcon="icon-menu"></mat-icon>
  </button>
  <div fxFlex="noshrink" fxLayout="row" fxLayoutAlign="center center">
    <span
      class="bg-clip-text text-3xl font-bold text-transparent bg-gradient-to-bl from-primary-600 to-accent-600"
      *ngIf="isHandset$ | async"
    >
      TUMi
    </span>
  </div>
  <button
    mat-flat-button
    (click)="login()"
    *ngIf="!(isAuthenticated$ | ngrxPush); else logoutButton"
  >
    Login
  </button>
  <ng-template #logoutButton>
    <button mat-flat-button (click)="logout()">Logout</button>
  </ng-template>
</header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    fixedInViewport
    [attr.role]="(isHandset$ | ngrxPush) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | ngrxPush) ? 'over' : 'side'"
    [opened]="(isHandset$ | ngrxPush) === false"
    [fixedTopGap]="(isHandset$ | ngrxPush) ? 72 : 0"
  >
    <div fxLayout="column" class="h-full">
      <div
        *ngIf="(isHandset$ | ngrxPush) === false"
        fxFlex="noshrink"
        class="text-5xl py-4"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <span>
          <span
            class="bg-clip-text font-bold text-transparent bg-gradient-to-bl from-primary-600 to-accent-600"
            >TUMi</span
          >&nbsp;app
        </span>
      </div>
      <mat-nav-list (click)="closeSidenav(drawer)">
        <a mat-list-item routerLink="events" routerLinkActive="active">
          <mat-icon svgIcon="icon-overtime" mat-list-icon></mat-icon>
          <h3 mat-line>Events</h3>
        </a>
        <a
          mat-list-item
          routerLink="profile"
          routerLinkActive="active"
          *ngIf="isAuthenticated$ | ngrxPush"
        >
          <mat-icon svgIcon="icon-contact-card" mat-list-icon></mat-icon>
          <h3 mat-line>My Profile</h3>
        </a>
        <a
          mat-list-item
          routerLink="page/shop"
          routerLinkActive="active"
          *ngIf="isTutor$ | ngrxPush"
        >
          <mat-icon svgIcon="icon-online-shop-2" mat-list-icon></mat-icon>
          <h3 mat-line>TUMi Merch</h3>
        </a>
        <a
          mat-list-item
          routerLink="users"
          routerLinkActive="active"
          *ngIf="isAdmin$ | ngrxPush"
        >
          <mat-icon svgIcon="icon-conference" mat-list-icon></mat-icon>
          <h3 mat-line>Users</h3>
        </a>
        <a
          *ngIf="isAdmin$ | ngrxPush"
          mat-list-item
          routerLink="money"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon svgIcon="icon-money"></mat-icon>
          <h3 mat-line>Money</h3>
        </a>
        <a
          mat-list-item
          *ngIf="showTutorApplication$ | async"
          routerLink="apply"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon svgIcon="icon-submit-resume"></mat-icon>
          <h3 mat-line>Become a Tutor</h3>
        </a>
        <a
          *ngIf="isAdmin$ | ngrxPush"
          mat-list-item
          routerLink="scanner"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon svgIcon="icon-barcode-scanner-2"></mat-icon>
          <h3 mat-line>Scanning</h3>
        </a>
        <h3 matSubheader *ngIf="isAdmin$ | ngrxPush">Association management</h3>
        <a
          *ngIf="isAdmin$ | ngrxPush"
          mat-list-item
          routerLink="apply/manage"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon svgIcon="icon-parse-resumes"></mat-icon>
          <h3 mat-line>Manage applications</h3>
        </a>
        <a
          *ngIf="isAdmin$ | ngrxPush"
          mat-list-item
          routerLink="association"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon svgIcon="icon-conference"></mat-icon>
          <h3 mat-line>Manage members</h3>
        </a>
      </mat-nav-list>
      <div fxFlex="grow"></div>
      <div class="text-center text-gray-800 my-2">
        <a routerLink="/page/privacy">Privacy</a> /
        <a routerLink="/page/imprint">Imprint</a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
