@import "../../../mixins.scss";

.sidenav-container {
  background: none;
  mat-sidenav {
    width: 300px;
    @include acrylic(0.2, 5px);
    border-right: rgba(255, 255, 255, 0.3) 1px solid;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  @include acrylic(0.2, 10px);
  border-bottom: rgba(255, 255, 255, 0.4) 1px solid;
}

mat-nav-list.mat-nav-list {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-right: 0.5rem;

  .mat-list-item {
    border-radius: 0 28px 28px 0;
    overflow: hidden;
  }
}
