<mat-progress-bar
  mode="indeterminate"
  *ngIf="(events$ | async) === null"
></mat-progress-bar>
<main class="p-4">
  <h1 class="font-bold">Events with ratings</h1>
  <div class="mt-2 mb-4 text-sm">Showing events of the last month.</div>
  <table
    *ngIf="events$ | async as events"
    mat-table
    multiTemplateDataRows
    [dataSource]="events"
    class="w-full"
  >
    <!--<ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/tenant/registrations/{{ element.id }}" mat-icon-button>
          <mat-icon svgIcon="icon-open-in-popup"></mat-icon>
        </a>
      </td>
    </ng-container>-->

    <ng-container matColumnDef="event">
      <th mat-header-cell *matHeaderCellDef>Event</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/events/{{ element.id }}/manage">{{ element.title }}</a>
      </td>
    </ng-container>

    <!--<ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>User</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/tenant/users/{{ element.user.id }}">
          {{ element.user.fullName }}
        </a>
      </td>
    </ng-container>-->

    <!--<ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date: 'medium' }}
      </td>
    </ng-container>-->

    <!--<ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Payment Status</th>
      <td mat-cell *matCellDef="let element">
        {{ element.payment?.status }}
      </td>
    </ng-container>-->

    <ng-container matColumnDef="organizer">
      <th mat-header-cell *matHeaderCellDef>Organizer rating</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.organizerVotes > 0"
          >{{ element.organizerRatings | number: '1.1-2' }} ★ ({{
            element.organizerVotes
          }})</span
        >
        <span *ngIf="element.organizerVotes === 0">None</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="participant">
      <th mat-header-cell *matHeaderCellDef>Participant rating</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.voteCount > 0"
          >{{ element.participantRatings | number: '1.1-2' }} ★ ({{
            element.voteCount
          }})</span
        >
        <span *ngIf="element.voteCount === 0">None</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="comments">
      <!--      <th mat-header-cell *matHeaderCellDef>Participant rating</th>-->
      <td colspan="3" mat-cell *matCellDef="let element">
        <app-grid
          minWidth="200px"
          *ngIf="
            element.participantRegistrations.length ||
            element.organizerRegistrations.length
          "
          class="m-4"
        >
          <div
            *ngFor="let registration of element.organizerRegistrations"
            class="border p-2"
          >
            {{ registration.userComment }}<br />
            <span class="font-mono mr-2 bg-gray-200 px-1 rounded"
              >organizer</span
            ><span
              *ngFor="let _ of [].constructor(registration.rating)"
              class="text-amber-400"
              >★</span
            >
          </div>
          <div
            *ngFor="let registration of element.participantRegistrations"
            class="border p-2"
          >
            {{ registration.userComment }}<br />
            <span
              *ngFor="let _ of [].constructor(registration.rating)"
              class="text-amber-400"
              >★</span
            >
          </div>
        </app-grid>
      </td>
    </ng-container>

    <!--<ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let element">
        {{ (element.payment?.netAmount ?? 0) / 100 | currency: 'EUR' }}
      </td>
    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: ['comments']"></tr>
  </table>
  <!--<mat-paginator
    [length]="registrationCount$ | async"
    [pageSizeOptions]="[20, 50, 100, 500, 1000, 2500, 5000]"
    showFirstLastButtons
    (page)="updatePage($event)"
  >
  </mat-paginator>-->
</main>
