<ng-container *ngrxLet="event$; let event">
  <a
    style="
      width: calc(100% + 2rem);
      background: rgba(255, 255, 255, 0.2);
      padding: 0.5rem 1rem;
      margin: -1rem -1rem 1rem;
      text-decoration: none;
      border-bottom: rgba(255, 255, 255, 0.3) 1px solid;
    "
    fxLayoutAlign="start center"
    fxLayout="row"
    routerLink="/events/{{ event.id }}"
  >
    <mat-icon
      svgIcon="icon-back-arrow"
      style="
        margin-right: 0.5rem;
        height: 36px !important;
        width: 36px !important;
      "
    ></mat-icon>
    <span
      style="font-weight: 500; font-size: 16px; line-height: 34px; color: black"
    >
      Back to event
    </span>
  </a>
  <div fxLayout="column" fxLayoutGap="1rem">
    <app-participant
      *ngFor="let registration of event.registrations | ngrxPush"
      [registration]="registration"
      (attended)="updateRegistration(registration, $event)"
    ></app-participant>
  </div>
</ng-container>
