<div fxLayout="column" fxLayoutGap="2rem">
    <h1 class="mat-display-2 no-margin">About TUMi</h1>
    <p class="mat-body">TUMinternational (or TUMi for short) is the orientation and support program for new international students at TUM. TUMi provides support for new international students at the beginning of their studies in Munich and offers a comprehensive program of cultural activities throughout the semester. The program is aimed at international exchange and full-time students at TUM. Many activities are also open to German TUM students.</p>
    <!--TODO: Extend this page to look appealing on the desktop and be informative on mobile devices-->
    <section>
        <h2 class="mat-title">Students for students</h2>
        <p class="mat-body">All TUMi activities are conducted by collegiate tutors. Many of them are internationally experienced or have an international background. This enables them to put themselves in the position of new students at TUM.</p>
    </section>
    <section>
        <h2 class="mat-title">About this app</h2>
        <p class="mat-body">In this app we provide you all things TUMi for your time at TUM</p>
    </section>
    <small>Icons provided generously by <a href="https://icons8.com/" target="_blank">icons8</a></small>
</div>
