<header class="relative">
  <img
    src="/assets/images/about/munich.jpg"
    alt="Picture of the TUM clock tower at night"
    class="cover-image"
  />
</header>
<section class="p-4 md:p-8">
  <h1
    class="mt-4 md:mt-0 mb-4 font-bold text-6xl leading-snug text-transparent bg-clip-text bg-gradient-to-tr from-primary-800 to-primary-600"
  >
    Local students
  </h1>
  <p class="max-w-5xl leading-normal md:text-lg mb-4">
    No matter if you have already spent time abroad, are planning to or are just
    interested to learn about other cultures. All students are welcome at TUMi.
    You can take part in our events or even join the organization and
    contribute. <br />
    <span class="font-bold">
      TUMi events are open to ALL students, not just internationals! </span
    ><br />
    Go ahead, browse our events and see what sounds interesting to you, we can
    guarantee you'll have a great time and meet awesone people.
  </p>
  <a mat-stroked-button color="primary" routerLink="/events" class="mt-4">
    Go to the Events
  </a>
</section>

<section class="p-4 md:p-8">
  <h1
    class="mt-4 md:mt-0 font-bold text-6xl leading-snug text-transparent bg-clip-text bg-gradient-to-tr from-accent-800 to-accent-600"
  >
    Join TUMi!
  </h1>
  <h3 class="mb-4 text-2xl text-accent-700">Become one of us</h3>
  <div class="max-w-5xl mb-4">
    <p class="font-bold mb-2">Are you interested in...</p>
    <ul class="list-disc list-outside mb-6 ml-5">
      <li>
        supporting international students with settling in, showing them around
        the campus and introducing them to Munich and its cultural highlights?
      </li>
      <li>making international contacts in a relaxed atmosphere?</li>
      <li>volunteering as part of a friendly, young and dynamic team?</li>
      <li>
        taking on responsibility for the planning and execution of an
        interesting, exciting and fun program?
      </li>
    </ul>
    <p class="mb-2">We suggest to only apply if</p>
    <ul class="list-disc list-outside ml-5">
      <li>
        your level of German is at least B1, because it is likely that you will
        be interacting on your own in German-only-speaking environments during
        TUMi events.
      </li>
      <li>
        you will study at TUM for at least another year, as TUMi will invest a
        considerable amount of training resources into you and therefore we have
        an interest to have you stay with TUMi for an extended period of time.
      </li>
      <li>
        you are not an exchange student yourself, again as we want you to stay
        at TUM for more than the duration of an exchange.
      </li>
    </ul>
  </div>
  <a mat-stroked-button color="accent" routerLink="/apply" class="mt-4">
    Apply now
  </a>
</section>
