:host {
  display: block;
}
.cover-image {
  @apply object-cover w-full;
  @screen lg {
    height: 50vh;
  }
  height: 33vh;
  object-position: 25% 25%;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 30% 100%, 0 85%);
}
