<div *ngIf="event" fxFlex="column">
  <div fxLayout="row">
    <a routerLink=".." mat-icon-button>
      <mat-icon svgIcon="icon-circled-chevron-left"></mat-icon
    ></a>
    <div fxFlex="grow"></div>
    <a routerLink="edit" mat-icon-button *ngIf="event.userIsCreator">
      <mat-icon svgIcon="icon-edit"></mat-icon
    ></a>
    <div *ngIf="!event.userIsCreator">
      <a routerLink="edit" mat-icon-button *appIfRole="[Role.Admin]">
        <mat-icon svgIcon="icon-edit"></mat-icon
      ></a>
    </div>
    <a routerLink="manage" mat-icon-button *appIfRole="[Role.Admin]">
      <mat-icon svgIcon="icon-administrative-tools"></mat-icon
    ></a>
    <a routerLink="run" mat-icon-button *appIfRole="[Role.Admin]">
      <mat-icon svgIcon="icon-user-shield"></mat-icon
    ></a>
  </div>
  <img
    [src]="event.icon | iconURL"
    class="bg-surface-default mx-auto mb-4 rounded-2xl p-1 lg:mb-8"
  />
  <h1 class="mb-2">{{ event.title }}</h1>
  <ng-container *ngIf="!isSingleDayEvent(); else singleDayEvent">
    <p>Starts: {{ event.start | date: 'medium' }}</p>
    <p>Ends: {{ event.end | date: 'medium' }}</p>
  </ng-container>
  <ng-template #singleDayEvent>
    <div class="flex items-center gap-2">
      <mat-icon svgIcon="icon-calendar" style="width: 18px"></mat-icon>
      <span
        >{{ event.start | date: 'medium' }} -
        {{ event.end | date: 'mediumTime' }}</span
      >
    </div>
  </ng-template>
  <ng-container *ngIf="bestPrice">
    <div class="flex items-center gap-2">
      <mat-icon svgIcon="icon-price-tag-euro" style="width: 18px"></mat-icon>
      {{ bestPrice.amount | currency: 'EUR' }}
    </div>
  </ng-container>
  <ng-container *ngIf="canShare">
    <div class="mt-4">
      <button
        class="modern"
        mat-flat-button
        color="accent"
        (click)="shareEvent()"
      >
        <mat-icon svgIcon="icon-share-3"></mat-icon>
        <span>Share this event</span>
      </button>
    </div>
  </ng-container>
</div>
