<div [class.app--is-mobile]="isMobile$ | async" class="app-container">
  <div [class]="class$ | async">
    <mat-toolbar [color]="color$ | async" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
      <button (click)="nav.toggle()" mat-icon-button>
        <mat-icon svgIcon="menu"></mat-icon>
      </button>
      <h4
        ngStyle.gt-sm="font-size: 2rem; line-height: 2.2rem"
        ngStyle.xs="font-size: 1.25rem; line-height: 1.5rem"
        routerLink="/"
        style="font-size: 1.5rem; line-height: 1.7rem; transform: translateY(4px)"
      >
        TUMinternational
      </h4>
      <mat-icon
        fxHide.xs
        style="line-height: 2rem; font-size: 2rem; width: 2rem; height: 2rem; transform: scale(1)"
        svgIcon="tumi-logo"
      ></mat-icon>
      <div fxFlex></div>
      <ng-template #loginButton>
        <button mat-stroked-button routerLink="/signup">Login</button>
      </ng-template>
      <button (click)="authService.logout()" *ngIf="authenticated$ | async" mat-stroked-button>
        Log out
      </button>
    </mat-toolbar>
  </div>
  <mat-sidenav-container [style.marginTop.px]="(isMobile$ | async) ? 56 : 0">
    <mat-sidenav
      #nav
      [fixedInViewport]="isMobile$ | async"
      [mode]="(isMobile$ | async) ? 'over' : 'side'"
      [opened]="!(isMobile$ | async) && !!(color$ | async)"
      fixedTopGap="56"
      style="width: 260px;"
    >
      <aside fxLayout="column" style="height: 100%;">
        <mat-nav-list>
          <a mat-list-item routerLink="/events/list" routerLinkActive="active">
            <mat-icon mat-list-icon svgIcon="calendar"></mat-icon>
            <h3 mat-line>Upcoming events</h3>
          </a>
          <a *ngIf="authenticated$ | async" mat-list-item routerLink="/events/my" routerLinkActive="active">
            <mat-icon mat-list-icon svgIcon="schedule"></mat-icon>
            <h3 mat-line>My TUMi</h3>
          </a>
          <a mat-list-item routerLink="/about" routerLinkActive="active">
            <mat-icon mat-list-icon svgIcon="about"></mat-icon>
            <h3 mat-line>About TUMi</h3>
          </a>
          <a mat-list-item routerLink="/party-animals" routerLinkActive="active">
            <mat-icon mat-list-icon svgIcon="party"></mat-icon>
            <h3 mat-line>Party Animals</h3>
          </a>
          <!--<a *ngIf="!(authenticated$ | async)" mat-list-item routerLink="/signup" routerLinkActive="active">
            <mat-icon mat-list-icon svgIcon="signup"></mat-icon>
            <h3 mat-line><strong>Get started</strong></h3>
          </a>-->
          <a mat-list-item routerLink="/help" routerLinkActive="active">
            <mat-icon mat-list-icon svgIcon="help"></mat-icon>
            <h3 mat-line>FAQ & Help</h3>
          </a>
          <ng-container *ngIf="isTutor$ | async">
            <mat-divider></mat-divider>
            <h3 matSubheader>For Tutors</h3>
            <a mat-list-item routerLink="/tutors/events" routerLinkActive="active">
              <mat-icon mat-list-icon svgIcon="timetable"></mat-icon>
              <h3 mat-line>Events I'm running</h3>
            </a>
            <a mat-list-item routerLink="/tutors/list" routerLinkActive="active">
              <mat-icon mat-list-icon svgIcon="users"></mat-icon>
              <h3 mat-line>All Tutors</h3>
            </a>
          </ng-container>
          <ng-container *ngIf="isEditor$ | async">
            <mat-divider></mat-divider>
            <h3 matSubheader>Office section</h3>
            <a mat-list-item routerLink="/office/events" routerLinkActive="active">
              <mat-icon mat-list-icon svgIcon="timetable"></mat-icon>
              <h3 mat-line>Manage Events</h3>
            </a>
            <a *ngIf="isAdmin$ | async" mat-list-item routerLink="/office/users" routerLinkActive="active">
              <mat-icon mat-list-icon svgIcon="users"></mat-icon>
              <h3 mat-line>Manage Users</h3>
            </a>
            <a *ngIf="isAdmin$ | async" mat-list-item routerLink="/office/funds" routerLinkActive="active">
              <mat-icon mat-list-icon svgIcon="money"></mat-icon>
              <h3 mat-line>Money & Transactions</h3>
            </a>
          </ng-container>
        </mat-nav-list>
        <div fxFlex></div>
        <button (click)="scanRequest()" *ngIf="isAdmin$ | async" color="primary" mat-raised-button>
          <mat-icon svgIcon="scanner"></mat-icon>
          <span>Scan office request</span>
        </button>
        <p><a href="https://www.international.tum.de/en/impressum/" target="_blank">Imprint</a></p>
      </aside>
    </mat-sidenav>
    <mat-sidenav-content>
      <main class="mat-typography">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
