.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app--is-mobile {
  mat-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }

  mat-sidenav-container {
    flex: 1 0 auto;
  }
}

mat-sidenav-container {
  flex: 1;
}

main {
  padding: 1rem;
  min-height: calc(100% - 2rem);
  position: relative;
}

mat-sidenav {
  button {
    margin: 8px;

    mat-icon {
      margin-right: 1rem;
    }
  }
  mat-nav-list{
    h3{
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5rem;
    }
  }
}
