<ng-container *ngrxLet="event$; let event">
  <a
    style="
      width: calc(100% + 2rem);
      background: rgba(255, 255, 255, 0.2);
      padding: 0.5rem 1rem;
      margin: -1rem -1rem 1rem;
      text-decoration: none;
      border-bottom: rgba(255, 255, 255, 0.3) 1px solid;
    "
    fxLayoutAlign="start center"
    fxLayout="row"
    routerLink="/events/{{ event.id }}"
  >
    <mat-icon
      svgIcon="icon-back-arrow"
      style="
        margin-right: 0.5rem;
        height: 36px !important;
        width: 36px !important;
      "
    ></mat-icon>
    <span
      style="font-weight: 500; font-size: 16px; line-height: 34px; color: black"
    >
      Back to event
    </span>
  </a>
  <form
    [formGroup]="receiptForm"
    fxLayout="column"
    fxLayoutGap="1rem"
    class="mb-4"
  >
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" type="text" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Total Amount</mat-label>
      <input matInput formControlName="amount" type="number" />
    </mat-form-field>
    <button mat-flat-button (click)="fileInput.click()" type="button">
      Add image
    </button>
    <input
      #fileInput
      formControlName="file"
      type="file"
      accept="{{ 'image' }}/*"
      (change)="fileChange($event)"
      class="hidden"
    />
    <p>Selected file: {{ (currentFile | ngrxPush)?.name ?? "none" }}</p>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="receiptForm.invalid"
      (click)="submitReceipt()"
    >
      Submit Receipt
    </button>
  </form>
  <div fxLayout="column" fxLayoutGap="1rem">
    <mat-card *ngFor="let receipt of event.receipts | ngrxPush">
      <mat-card-title>{{ receipt.description }}</mat-card-title>
      <img mat-card-image [src]="receipt.file | getDownloadURL" />
      <mat-card-content>{{
        receipt.amount | currency: "EUR"
      }}</mat-card-content>
    </mat-card>
  </div>
</ng-container>
