<mat-progress-bar
  mode="indeterminate"
  *ngIf="(profile$ | async) === null"
></mat-progress-bar>
<main *ngIf="profile$ | async as profile">
  <div
    class="bg-tertiary-containerDark text-tertiary-onContainerDark p-8 lg:py-14"
    fxLayout="column"
    fxLayoutAlign="space-evenly center"
    fxLayoutGap="2rem"
  >
    <img
      [src]="profile.picture"
      class="rounded-lg shadow-lg"
      referrerpolicy="no-referrer"
    />
    <div fxLayout="column" class="max-w-md">
      <h2 class="mb-4 text-3xl font-bold">
        Hey {{ profile.firstName }}! <span class="text-white">👋</span>
      </h2>
      <p>
        We're excited to see you here! This is your profile, giving you an
        overview of all things TUMi.
      </p>
    </div>
  </div>
  <div
    class="m-4 overflow-hidden"
    gdAuto
    gdColumns="100%"
    gdColumns.gt-sm="calc(50% - 0.5rem) calc(50% - 0.5rem)"
    gdGap="1rem"
  >
    <div
      class="bg-secondary-container text-secondary-onContainer rounded-2xl p-4"
    >
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="1rem"
        class="mb-6"
      >
        <mat-icon
          svgIcon="icon-contact-card"
          class="text-secondary-default bg-secondary-on card-icon"
        >
        </mat-icon>
        <h2 class="font-bold">General Information</h2>
      </div>
      <div gdAuto gdColumns="1fr 2fr" gdGap="0 1rem" class="mb-2">
        <p>Name:</p>
        <p>{{ profile.fullName }}</p>
        <p>Mail:</p>
        <p>{{ profile.email }}</p>
        <p>Phone:</p>
        <p>{{ profile.phone ?? 'not saved' }}</p>
        <p>ESNcard:</p>
        <p>{{ profile.hasESNCard ? 'Yes' : 'No' }}</p>
      </div>
      <div class="mt-2 flex w-full flex-col gap-2">
        <button mat-raised-button class="modern" (click)="updateProfile()">
          <mat-icon svgIcon="icon-change-user-female"></mat-icon>
          Update data
        </button>
      </div>
      <h3 class="mt-6 font-bold">Calendar integration</h3>

      <p class="select-all break-words font-mono" style="max-width: 80vw">
        https://tumi.esn.world/cal/private/{{ profile.calendarToken }}
      </p>

      <p class="text-sm">
        You can use this url to subscribe to a calendar feed of the events you
        are registered for.
      </p>
    </div>
    <!--<div
      class="bg-secondary-container text-secondary-onContainer rounded-2xl p-4"
    >
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="1rem"
        class="mb-6"
      >
        <mat-icon
          svgIcon="icon-card-in-use"
          class="text-secondary-default bg-secondary-on card-icon"
        ></mat-icon>
        <h2 class="font-bold">Payment Information</h2>
      </div>
      <p class="mb-4">
        To register for paid events, you can add a payment method here. It will
        show up when registering.
      </p>
      <ng-container *ngIf="profile.currentTenant?.stripeData?.paymentMethodId">
        <p>✔️ All good, we have a payment method saved for you</p>
        <p class="mb-4">
          If you wish, you can go through the process again to change your
          payment method
        </p>
      </ng-container>

      <button mat-flat-button color="accent" (click)="setupStripePayment()">
        Set payment method
      </button>
    </div>-->
    <div
      *ngIf="(eventsToRate$ | async)?.length"
      class="bg-secondary-container text-secondary-onContainer rounded-2xl p-4"
    >
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="1rem"
        class="mb-6"
      >
        <mat-icon
          svgIcon="icon-star"
          class="text-secondary-default bg-secondary-on card-icon"
        ></mat-icon>
        <h2 class="font-bold">Rate Events</h2>
      </div>
      <p class="mb-4">
        Please take a little time to rate these events you took part in so we
        can improve.
      </p>
      <div
        fxLayout="column"
        fxLayoutGap="1rem"
        *ngIf="eventsToRate$ | async as events"
      >
        <app-rate-event
          *ngFor="let event of events"
          [event]="event"
          (ratingSubmitted)="saveRating($event, event.id)"
        >
        </app-rate-event>
      </div>
    </div>
    <app-event-list
      [events]="profile.organizedEvents"
      [isOrganized]="true"
      *ngIf="profile.organizedEvents.length"
    ></app-event-list>
    <app-event-list
      [events]="profile.participatedEvents"
      [isOrganized]="false"
      (claimRequest)="claimEvent()"
    ></app-event-list>
    <div
      class="bg-primary-container text-primary-onContainer rounded-2xl p-4"
      *ngIf="profile.currentTenant?.status !== MembershipStatus.None"
    >
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="1rem"
        class="mb-6"
      >
        <mat-icon
          svgIcon="icon-conference"
          class="text-primary-default card-icon bg-white"
        ></mat-icon>
        <h2 class="font-bold">Section membership</h2>
      </div>
      <div>
        Current status:
        <div class="black text-8xl text-center">
          {{ profile.currentTenant?.status | uppercase }}
        </div>
      </div>
    </div>
  </div>
</main>
