<h1 mat-dialog-title>Update private information</h1>
<form [formGroup]="profileForm" (ngSubmit)="submit()">
  <mat-dialog-content>
    <mat-form-field class="w-full">
      <mat-label>Enrolment Status</mat-label>
      <mat-select formControlName="enrolmentStatus" required>
        <mat-option [value]="EnrolmentStatus.Exchange"
          >Exchange student</mat-option
        >
        <mat-option [value]="EnrolmentStatus.International"
          >International degree student</mat-option
        >
        <mat-option [value]="EnrolmentStatus.Local">Local student</mat-option>
        <mat-option [value]="EnrolmentStatus.Other">Other</mat-option>
      </mat-select>
      <mat-error>Your university is required</mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Phone number</mat-label>
      <input
        matInput
        formControlName="phone"
        type="tel"
        minlength="5"
        required
      />
      <mat-error>A valid phone number is required</mat-error>
      <mat-hint>
        Please use the international format
        <span class="font-mono">+4912345678</span>
      </mat-hint>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end" fxLayoutGap="1rem">
    <button mat-flat-button mat-dialog-close>Cancel</button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="profileForm.invalid"
      type="submit"
    >
      Save
    </button>
  </mat-dialog-actions>
</form>
