<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
  <button style='position:fixed; right: 0.75rem; top: 0.75rem; height: 2.5rem'
    mat-stroked-button
    (click)="auth.logout({ returnTo: document.location.origin })"
  >
    <mat-icon svgIcon="icon-logout-rounded-left"></mat-icon>
    Log out
  </button>
</ng-container>

<ng-template #loggedOut>
  <button style='position:fixed; right: 0.75rem; top: 0.75rem; height: 2.5rem' mat-stroked-button (click)="auth.loginWithRedirect()">
    <mat-icon svgIcon="icon-login-rounded-right"></mat-icon>
    Log in
  </button>
</ng-template>
