<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
  <a routerLink="/profile" class="p-3 h-full aspect-1">
    <img
      [src]="userPicture"
      class="rounded-full h-full bg-gray-200"
      style="text-indent: -10000px"
      routerLinkActive="active"
      referrerpolicy="no-referrer"
    />
  </a>
</ng-container>
<ng-template #loggedOut>
  <div class="flex flex-row items-center justify-center w-full" (click)="auth.loginWithRedirect()">
    <mat-icon svgIcon="icon-login-rounded-right"></mat-icon>
    <span>&nbsp;Log in</span>
  </div>
</ng-template>
