.table-wrapper {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-height: 70vh;
  margin-left: -24px;
  margin-bottom: -17px;
  width: calc(100% + 48px);

  .mat-table {
    width: 100%;
  }
}

.tag {
  @apply mr-2 rounded px-1;
}

.cancelled {
  opacity: 0.5;

  .tag {
    @apply bg-gray-200;
  }
}

.mat-header-row {
  z-index: 10;
}

tr.registration-row {
  cursor: pointer;

  &:not(.expanded-row):hover {
    background: whitesmoke;
  }

  &:not(.expanded-row):active {
    background: #efefef;
  }

  td {
    border-bottom-width: 0;
  }
}

.registration-detail {
  overflow: hidden;
  display: flex;
}

.registration-detail-row {
  height: 0;
}
