.counter {
  @apply absolute bottom-0 right-0 box-border h-[18px] w-[18px] rounded-full border-[1px] border-gray-400 bg-white text-center text-xs font-medium tracking-tighter;
  font-size: 0.7rem;
}

.mat-expansion-panel-header-title {
  flex-grow: 3;
}

.mat-expansion-panel-header-description {
  flex-grow: 1;
}
button[mat-fab] {
  @apply fixed bottom-20 right-4 z-50 sm:bottom-4;
}
