// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tumi-app-primary: mat.define-palette(mat.$blue-palette);
$tumi-app-accent: mat.define-palette(mat.$pink-palette);

// The warn palette is optional (defaults to red).
$tumi-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tumi-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $tumi-app-primary,
      accent: $tumi-app-accent,
      warn: $tumi-app-warn,
    ),
  )
);

$tumi-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $tumi-app-primary,
      accent: $tumi-app-accent,
      warn: $tumi-app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tumi-app-theme);

/* You can add global styles to this file, and also import other style files */

@layer base {
  html {
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
  }
  body {
    margin: 0;
    @apply font-sans;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  mat-icon.mat-icon.card-icon {
    @apply w-8 lg:w-10 h-8 lg:h-10 p-1 rounded-lg;
  }
  markdown {
    img {
      @apply xl:max-w-2xl xl:float-right xl:ml-4;
    }
  }
  .dark-button {
    @include mat.button-theme($tumi-dark-theme);
  }
}
