<div class="pa-start">
  <div class="content">
    <h1 class="mat-display-3" ngClass.gt-sm="mat-display-4">Welcome!</h1>
    <p ngClass.gt-md="large">
      TUMi is kicking the semester off with amazing orientation weeks already planned for you. Take part in "The
      ultimate Munich student life safari" as last semesters participants called it, <strong>Party Animals</strong>!
      <br/>
      Or take part in some of the many many separate events we have lined up for you.
    </p>
    <button mat-flat-button routerLink="/events">Take me to regular events</button>
  </div>
</div>
<div
  class="pa-groups mat-app-background"
  gdAuto="row dense"
  gdColumns="repeat(auto-fit, minmax(300px, 1fr))"
  gdColumns.gt-xs="repeat(auto-fit, minmax(450px, 1fr))"
  gdGap="2rem"
>
  <mat-card gdColumn.gt-sm="span 2">
    <mat-card-header>
      <mat-card-title>"The best experience to start exchange with"</mat-card-title>
      <mat-card-subtitle>This Tram was ours for a combined City tour and party</mat-card-subtitle>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/images/beerlympics.jpg"/>
    <mat-card-content>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Join the Black Badgers!</mat-card-title>
      <mat-card-subtitle>Your alpha badgers</mat-card-subtitle>
      <img alt="" mat-card-avatar src="/assets/first-events/pa/groups/badger.png"/>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/tutors/badger.jpg"/>
    <mat-card-content>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam
    </mat-card-content>
  </mat-card>
  <mat-card gdColumn.gt-sm="span 2">
    <mat-card-header>
      <mat-card-title>"A never-ending party!"</mat-card-title>
      <mat-card-subtitle>This Tram was ours for a combined City tour and party</mat-card-subtitle>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/images/tram.jpg"/>
    <mat-card-content>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Join the Teal Tigers!</mat-card-title>
      <mat-card-subtitle>With Panda in Charge: Florian</mat-card-subtitle>
      <img alt="" mat-card-avatar src="/assets/first-events/pa/groups/tiger.png"/>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/tutors/tiger.jpg"/>
    <mat-card-content>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Join the Green Goats!</mat-card-title>
      <mat-card-subtitle>With Panda in Charge: Florian</mat-card-subtitle>
      <img alt="" mat-card-avatar src="/assets/first-events/pa/groups/goat.png"/>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/tutors/goat.jpg"/>
    <mat-card-content>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam
    </mat-card-content>
  </mat-card>
  <mat-card gdColumn.gt-sm="span 2">
    <mat-card-header>
      <mat-card-title>"Came for the alcohol, stayed for the friends"</mat-card-title>
      <mat-card-subtitle>This Tram was ours for a combined City tour and party</mat-card-subtitle>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/images/lake.jpg"/>
    <mat-card-content>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Join the Pink Penguins!</mat-card-title>
      <mat-card-subtitle>With Panda in Charge: Florian</mat-card-subtitle>
      <img alt="" mat-card-avatar src="/assets/first-events/pa/groups/penguin.png"/>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/tutors/penguin.jpg"/>
    <mat-card-content>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Join the Red Rhinos!</mat-card-title>
      <mat-card-subtitle>With Panda in Charge: Florian</mat-card-subtitle>
      <img alt="" mat-card-avatar src="/assets/first-events/pa/groups/rhino.png"/>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/tutors/rhino.jpg"/>
    <mat-card-content>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Join the Blue Bears!</mat-card-title>
      <mat-card-subtitle>With Panda in Charge: Florian</mat-card-subtitle>
      <img alt="" mat-card-avatar src="/assets/first-events/pa/groups/bear.png"/>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/tutors/bear.jpg"/>
    <mat-card-content>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam
    </mat-card-content>
  </mat-card>
  <mat-card gdColumn.gt-sm="span 2">
    <mat-card-header>
      <mat-card-title>"The joy of multinational bonding"</mat-card-title>
      <mat-card-subtitle>This Tram was ours for a combined City tour and party</mat-card-subtitle>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/images/dinner.jpg"/>
    <mat-card-content>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam
    </mat-card-content>
  </mat-card>
</div>
<div class="pa-end">
  <h2 class="mat-display-3">Sign up now!</h2>
</div>
