<div class="pa-start">
  <div class="content">
    <h1 class="mat-display-2" ngClass.gt-sm="mat-display-4">Welcome!</h1>
    <p ngClass.gt-md="large">
      Some years ago the TUMi secret council sat together to develop the ultimate way to kick off exchange in Munich.
      They came up with the Orientationweeks+ programme. Since then we have been perfecting this idea every semester
      without any regard for the health of our tutors. Last semester one student called it "The ultimate Munich student
      life safari", here and around the world it is known as <strong>Party Animals</strong>!<br/>
      Should this be a little bit too much for you we also prepared a whole selection of single events you can check out
    </p>
<!--    <button mat-flat-button routerLink="/events">Orientation weeks</button>-->
  </div>
</div>
<div class="pa-schedule">
  <h2 class="mat-display-4">Schedule</h2>
  <p>
    We have planned this preliminary schedule for you. This is mainly a guide to indicate when The Party Animals events
    will happen and give you an impression of the time needed. <br/>
    You can get hints by looking at our posts down below and we will announce the specific events soon.
  </p>
  <!--<small fxHide.gt-sm>
    To make this list readable on your phone we've hidden some less important information. Make sure to chek it on a
    bigger device to learn everything!
  </small>-->
  <div class="schedule-items" gdAuto gdColumns="repeat(3, 1fr)" gdColumns.gt-sm="repeat(7, 1fr)" gdGap="1rem">
    <span gdColumn="span 3"></span>
    <div class="schedule-item" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <strong>Thu 02.04.</strong>
      <img appIconSrc="handshake:nolan" fxFlex="64px" height="64px" width="64px"/>
      <strong>Noon and evening</strong>
    </div>
    <div class="schedule-item" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <strong>Fri 03.04.</strong>
      <img appIconSrc="confetti:nolan" fxFlex="64px" height="64px" width="64px"/>
      <strong>Morning and night</strong>
    </div>
    <div class="schedule-item" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <strong>Sat 04.04.</strong>
      <img appIconSrc="city-buildings:nolan" fxFlex="64px" height="64px" width="64px"/>
      <strong>All day</strong>
    </div>
    <div class="schedule-item" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <strong>Sun 05.04.</strong>
      <img appIconSrc="beer:nolan" fxFlex="64px" height="64px" width="64px"/>
      <strong>All day</strong>
    </div>
    <div class="schedule-item" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <strong>Mon 06.04.</strong>
      <img appIconSrc="bar:nolan" fxFlex="64px" height="64px" width="64px"/>
      <strong>Evening</strong>
    </div>
    <div class="schedule-item" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <strong>Tue 07.04.</strong>
      <img appIconSrc="micro:nolan" fxFlex="64px" height="64px" width="64px"/>
      <strong>Evening</strong>
    </div>
    <div class="schedule-item" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <strong>Wed 08.04.</strong>
      <img appIconSrc="champagne-bottle:nolan" fxFlex="64px" height="64px" width="64px"/>
      <strong>Evening</strong>
    </div>
    <div class="schedule-item" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <strong>Thu 09.04.</strong>
      <img appIconSrc="food:nolan" fxFlex="64px" height="64px" width="64px"/>
      <strong>Evening</strong>
    </div>
    <div class="schedule-item" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <strong>Fri 10.04.</strong>
      <img appIconSrc="trophy:nolan" fxFlex="64px" height="64px" width="64px"/>
      <strong>All day</strong>
    </div>
    <div class="schedule-item" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <strong>Sat 11.04.</strong>
      <img appIconSrc="weber:nolan" fxFlex="64px" height="64px" width="64px"/>
      <strong>Afternoon</strong>
    </div>
    <div class="schedule-item" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <strong>Sun 12.04.</strong>
      <img appIconSrc="train:nolan" fxFlex="64px" height="64px" width="64px"/>
      <strong>Evening</strong>
    </div>
    <div class="schedule-item" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <strong>Mon 13.04.</strong>
      <img appIconSrc="circled:nolan" fxFlex="64px" height="64px" width="64px"/>
      <strong>All day</strong>
    </div>
    <div class="schedule-item" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <strong>Tue 14.04.</strong>
      <img appIconSrc="world-map:nolan" fxFlex="64px" height="64px" width="64px"/>
      <strong>All day</strong>
    </div>
    <div class="schedule-item" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <strong>Web 15.04.</strong>
      <img appIconSrc="trekking:nolan" fxFlex="64px" height="64px" width="64px"/>
      <strong>All day</strong>
    </div>
  </div>
  <p>
    Below you can get to know some of the people that will take care of you and see what we did last time around. Take a
    look!
  </p>
</div>
<div
  class="pa-groups mat-app-background"
  gdAuto="row dense"
  gdColumns="repeat(auto-fit, minmax(300px, 1fr))"
  gdColumns.gt-xs="repeat(auto-fit, minmax(450px, 1fr))"
  gdGap="2rem"
>
  <mat-card gdColumn.gt-sm="span 2">
    <mat-card-header>
      <mat-card-title>"The best experience to start exchange with"</mat-card-title>
      <mat-card-subtitle>Show your talents at the Beerlympics</mat-card-subtitle>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/images/beerlympics.jpg"/>
    <mat-card-content>
      We cannot wait to welcome you to the green and beautiful scenery of Munich, the perfect place for a warm get
      together with your future best friends for the semester and beyond. Bring out the athlete that lies within you and
      impress them from the very start! But don’t worry, it’s not about winning. Much more importantly, we will be
      playing beautiful games and enjoy tasty Bavarian beer culture, combined into one beautiful competition, where the
      only losers are those who choose not to participate!
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Join the Black Badgers!</mat-card-title>
      <mat-card-subtitle>With boss badgers Omar and David</mat-card-subtitle>
      <img alt="" mat-card-avatar src="/assets/first-events/pa/groups/badger.png"/>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/tutors/badger.jpg"/>
    <mat-card-content>
      Hey guys! <br/>
      Come join us and be part of the beautiful, brilliant and bombastic Black Badgers. You'll have an amazing time
      together partying, experiencing German culture and making amazing new friends from all over the world.
    </mat-card-content>
  </mat-card>
  <mat-card gdColumn.gt-sm="span 2">
    <mat-card-header>
      <mat-card-title>"A never-ending party!"</mat-card-title>
      <mat-card-subtitle>We'll make sure you have a good time getting started</mat-card-subtitle>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/images/party.jpg"/>
    <mat-card-content>
      Join us for unforgettable impressions of Munich by night! Brought to you by dedicated students from our local ESN
      sections. Just like you, they want nothing more than to make our time in Bavaria’s capital so enjoyable, that we
      will look back onto it forever. And trust us, they can! Do not miss out on this wonderful experience, where we
      truly put the “Party” in Party Animals!
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Join the Teal Tigers!</mat-card-title>
      <mat-card-subtitle>Marc, Ilinca and Colin will take care of you</mat-card-subtitle>
      <img alt="" mat-card-avatar src="/assets/first-events/pa/groups/tiger.png"/>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/tutors/tiger.jpg"/>
    <mat-card-content>
      It's not like you can do anything about it, but we are the group you'll wish you had been a part of! We're looking
      forward to meet you, party with you, and provide you with great first impressions of Munich and what's to come
      during your exchange here! Get ready to make friends for life!
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Join the Green Goats!</mat-card-title>
      <mat-card-subtitle>Seen here: your main tutor Deniz</mat-card-subtitle>
      <img alt="" mat-card-avatar src="/assets/first-events/pa/groups/goat.png"/>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/tutors/goat.jpg"/>
    <mat-card-content>
      Hey, I'm Deniz and I will be one of the fabulous tutor squad that will accompany you these 2 amusing, intense and
      memorable weeks! <br/>
      Get ready for the best time of your life aka the Greatest of All Time “the GOAT” 🐐
    </mat-card-content>
  </mat-card>
  <mat-card gdColumn.gt-sm="span 2">
    <mat-card-header>
      <mat-card-title>"Came for the alcohol, stayed for the friends"</mat-card-title>
      <mat-card-subtitle>Spend some chill time with us and your new friends</mat-card-subtitle>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/images/lake.jpg"/>
    <mat-card-content>
      As traditional every semester, during Party Animals we also organize a walking tour to one of the many beautiful
      lakes around Munich. As seen above, no matter how cold or warm, the event is a blast! This is just a small tease,
      to get you excited about the beautiful summer months to come during your stay!
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Join the Pink Penguins!</mat-card-title>
      <mat-card-subtitle>Go hard with Cem and Gerry</mat-card-subtitle>
      <img alt="" mat-card-avatar src="/assets/first-events/pa/groups/penguin.png"/>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/tutors/penguin.jpg"/>
    <mat-card-content>
      Hello, future Pink Penguin🐧, my name is Cem (📸on the left) and I was born and raised in Bayern, but have turkish
      roots. I had my Erasmus semester in Aarhus, DK and being a Party Animal (-Tutor) the 2nd time with Gerry (📸on the
      right).
      <br/>
      You will definitely come for the party 🎉, but what's more important: you're going to stay for the good friends
      you´ll make during that time. Join the legendary Pink Penguins to be part of the madness we create and experience
      how to party in the 👑CemPions League🍻.
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Join the Red Rhinos!</mat-card-title>
      <mat-card-subtitle>And alpha Rhinos Pedro and Tung</mat-card-subtitle>
      <img alt="" mat-card-avatar src="/assets/first-events/pa/groups/rhino.png"/>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/tutors/rhino.jpg"/>
    <mat-card-content>
      Our Students once said: <br/>
      "Red Rhinos: the great herd I've always wanted to be a part of" and "you guys have made this semester the craziest
      experience in my life". These sentences make up our promise to you from the Red Rhinos for the ultimate Erasmus
      experience.
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Join the Blue Bears!</mat-card-title>
      <mat-card-subtitle>Embark on a wild ride with Altug</mat-card-subtitle>
      <img alt="" mat-card-avatar src="/assets/first-events/pa/groups/bear.png"/>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/tutors/bear.jpg"/>
    <mat-card-content>
      Hellooo Blue Bears! Welcome to the party animals 💪🏼 The craziest semester approaches so, get ready for an insane
      time together which you will never forget 🔥 We are Irem, Mayisa, Enrique and Altuğ who will accompany you during
      the whole semester. German, Russian, Turkish and Dominican cultures are clashing and we hope to expand by you. We
      all were part also the last semester in the same group which were by far the best group. Experience is talking 😎
      What is expecting you? Two weeks and beyond of alcohol, party, sightseeing, new people and cultures. We can‘t wait
      to meet you and all your different cultures 🌍 Stay tuned and willkommen in Minga 🥨🍻 (Bavarian name of Munich)
      mia g‘frein uns auf eich!
    </mat-card-content>
  </mat-card>
  <mat-card gdColumn.gt-sm="span 2">
    <mat-card-header>
      <mat-card-title>"The joy of multinational bonding"</mat-card-title>
      <mat-card-subtitle>Get to know people and culture from all over the world</mat-card-subtitle>
    </mat-card-header>
    <img alt="" mat-card-image src="/assets/first-events/pa/images/dinner.jpg"/>
    <mat-card-content>
      Because we are experienced, we know that you should never drink on an empty stomach. That is why, one of our
      events, called "International Dinner" is so beloved! Every participant is encouraged to cook something from their
      own culture, so that in only one evening you would have tried delicious food from more than 10-15 different
      countries! Join us, to bring the yummy in your tummy (aka TUMi, pun intended).
    </mat-card-content>
  </mat-card>
</div>
<div class="pa-end">
  <h2 class="mat-display-3">Sign up now!</h2>
</div>
