:host ::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

:host ::ng-deep .mat-expansion-panel-header {
  padding-left: 0 !important;
  height: unset !important;
}

:host ::ng-deep .mat-expansion-panel {
  background: none;
  border: none;
  box-shadow: none;
}

:host ::ng-deep .mat-expansion-indicator::after {
  color: black;
  border-color: black;
}

.card-icon-small {
  transform: scale(.7);
  margin-right: .3rem !important;
}