<div fxLayout="column" fxLayoutGap="2rem">
  <h1 class="no-margin mat-display-2">Funds</h1>
  <h2 class="no-margin mat-display-4">Currently the register should hold {{ balance$ | async }}€</h2>
  <div fxLayout="column-reverse" fxLayout.gt-md="row" fxLayoutGap="2rem">
    <div fxLayout="column">
      <form [formGroup]="filterForm" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="2rem">
        <div fxFlex.gt-md fxLayout="row" fxLayoutGap="2rem">
          <mat-form-field>
            <input [matDatepicker]="startPicker" formControlName="startDate" matInput placeholder="Show newer than" />
            <mat-datepicker-toggle [for]="startPicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input [matDatepicker]="endPicker" formControlName="endDate" matInput placeholder="Show older than" />
            <mat-datepicker-toggle [for]="endPicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <mat-form-field fxFlex.gt-md>
          <input formControlName="searchString" matInput placeholder="Search" type="search" />
        </mat-form-field>
      </form>
      <div fxFlex fxLayout="column" fxLayoutGap="1rem">
        <div
          *ngFor="let transaction of transactions$ | async"
          class="transaction"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="1rem"
        >
          <mat-icon
            [style.color]="transaction.value > 0 ? 'green' : 'red'"
            [svgIcon]="transaction.value > 0 ? 'plus' : 'minus'"
            mat-list-icon
          ></mat-icon>
          <div fxFlex fxLayout="column">
            <p>{{ transaction.absValue }}€ - {{ transaction.comment }}</p>
            <p class="mat-caption">{{ transaction.timestamp | date: 'medium' }}</p>
          </div>
          <button (click)="getReceipt(transaction)" mat-flat-button>Download Receipt</button>
        </div>
      </div>
    </div>
    <form [formGroup]="transactionForm" fxFlex="30" fxLayout="column">
      <h2>Add a new transaction</h2>
      <mat-form-field>
        <input formControlName="comment" matInput placeholder="Subject of the transaction" />
      </mat-form-field>
      <mat-form-field>
        <input formControlName="value" matInput placeholder="Value of the transaction" type="number" />
        <mat-hint>Enter a negative value if you hand out money</mat-hint>
      </mat-form-field>
      <button (click)="addTransaction()" [disabled]="transactionForm.invalid" color="primary" mat-stroked-button>
        Save transaction
      </button>
    </form>
  </div>
</div>
