:host {
  display: block;
}

.cover-image {
  @apply object-cover w-full;
  max-height: calc(100vh - 6rem);
}

.custom-shape-divider-top-1613246603 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1613246603 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
  @screen md {
    height: 100px;
  }
}

.custom-shape-divider-top-1613246603 .shape-fill {
  fill: #1e293b;
}

.custom-shape-divider-top-1613324121 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1613324121 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1613324121 .shape-fill {
  fill: #115e59;
}

.custom-shape-divider-bottom-1612976657 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1612976657 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 25px;
  @screen md {
    height: 50px;
  }
}

.custom-shape-divider-bottom-1612976657 .shape-fill {
  fill: theme("colors.gray.800");
}
