<header class="relative">
  <img
    src="/assets/images/about/tutors.jpg"
    alt="Picture of TUMI tutors at night"
    class="object-fill max-h-full w-full"
  />
  <div class="custom-shape-divider-bottom-1612976657">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
    </svg>
  </div>
</header>
<section class="bg-gray-800 p-4 md:p-8">
  <h1
    class="mt-8 font-bold text-6xl leading-normal text-transparent bg-clip-text bg-gradient-to-tr from-primary-300 to-primary-500"
  >
    Exchange, better!
  </h1>
  <p class="leading-normal text-white md:text-lg max-w-5xl">
    TUMi is here to make you international experience better. No matter if you
    are an incoming student, doing their international mobility or a local
    student wanting to broaden their horizon. <br />
  </p>
  <div
    class="mt-12"
    gdAuto
    gdGap="2rem"
    gdColumns="1fr minmax(300px, 4fr) 1fr"
    gdColumns.gt-md="1fr minmax(300px, 4fr) 1fr minmax(300px, 4fr) 1fr minmax(300px, 4fr) 1fr"
  >
    <div class="panel" fxLayout="column" fxLayoutGap="1rem" gdColumn="2">
      <h1
        class="text-center font-bold text-2xl leading-normal text-transparent bg-clip-text bg-gradient-to-tr from-accent-300 to-accent-400"
      >
        TUMi Events
      </h1>
      <p class="text-gray-100">
        The daily business of TUMi is organizing events in and around munich,
        for internationals an locals alike.
      </p>
      <a
        routerLink="/events"
        class="border border-gray-300 border-opacity-20 rounded p-2 text-center text-primary-300 hover:bg-primary-300 hover:bg-opacity-10"
      >
        Check out the Events
      </a>
    </div>
    <div
      class="panel"
      fxLayout="column"
      fxLayoutGap="1rem"
      gdColumn.gt-md="4"
      gdColumn="2"
    >
      <h1
        class="text-center font-bold text-2xl leading-normal text-transparent bg-clip-text bg-gradient-to-tr from-accent-300 to-accent-400"
      >
        Incomings
      </h1>
      <p class="text-gray-100">
        TUMi is also active in other ways for internationals, we're the official
        ESN section and local erasmus+ initiative of TUM.
      </p>
      <a
        routerLink="/students"
        class="border border-gray-300 border-opacity-20 rounded p-2 text-center text-primary-300 hover:bg-primary-300 hover:bg-opacity-10"
      >
        Learn more
      </a>
    </div>
    <div
      class="panel"
      fxLayout="column"
      fxLayoutGap="1rem"
      gdColumn.gt-md="6"
      gdColumn="2"
    >
      <h1
        class="text-center font-bold text-2xl leading-normal text-transparent bg-clip-text bg-gradient-to-tr from-accent-300 to-accent-400"
      >
        Locals
      </h1>
      <p class="text-gray-100">
        We're a group of mostly local students and always searching for
        additional motivated people to join and make some awesome intercultural
        experiences as well.
      </p>
      <a
        routerLink="/interested"
        class="border border-gray-300 border-opacity-20 rounded p-2 text-center text-primary-300 hover:bg-primary-300 hover:bg-opacity-10"
      >
        Join us
      </a>
    </div>
  </div>
</section>
<section class="relative bg-primary-800 pt-24 p-8">
  <div class="custom-shape-divider-top-1613246603">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".25"
        class="shape-fill"
      ></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5"
        class="shape-fill"
      ></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
  <h1 class="mt-8 font-bold text-6xl leading-normal text-white">What we did</h1>
  <p class="leading-normal text-white md:text-lg max-w-5xl mb-8">
    See some pictures taken on TUMi events. We've been up to a lot of things and
    are looking towards making many more memories with you! <br />
    Join us to experience great times in an international atmosphere or even
    organize your own events.
  </p>
  <div
    class="image-grid"
    gdAuto="dense"
    gdAlignColumns="stretch"
    gdAlignRows="stretch"
    gdGap="1rem"
    gdColumns="repeat(2, 1fr)"
    gdColumns.gt-sm="repeat(3, 1fr)"
    gdColumns.gt-md="repeat(4, 1fr)"
  >
    <img
      src="/assets/images/landing/Artboard%2033.png"
      class="object-fill"
      gdRow="span 2"
      gdColumn="span 2"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%201.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%202.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%203.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2026.png"
      gdRow="span 2"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%204.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%205.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%206.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%207.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2028.png"
      gdRow="span 2"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%208.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2031.png"
      gdColumn="span 2"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%209.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2029.png"
      gdColumn="span 2"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2034.png"
      class="object-fill"
      gdRow="span 2"
      gdColumn="span 2"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2010.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2011.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2012.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2013.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2014.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2027.png"
      gdRow="span 2"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2015.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2016.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2032.png"
      gdColumn="span 2"
      gdRow="span 2"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2017.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2018.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2019.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2025.png"
      gdRow="span 2"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2020.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2021.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2030.png"
      gdColumn="span 2"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2022.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2023.png"
      class="object-fill"
      loading="lazy"
    />
    <img
      src="/assets/images/landing/Artboard%2024.png"
      class="object-fill"
      loading="lazy"
    />
  </div>
</section>
