<mat-progress-bar
  class="!absolute"
  mode="indeterminate"
  *ngIf="(user$ | async) === null"
></mat-progress-bar>
<main class="p-4" *ngIf="user$ | async as user">
  <div class="flex flex-row gap-1 items-center mb-4">
    <a routerLink=".." mat-icon-button>
      <mat-icon svgIcon="icon-circled-chevron-left"></mat-icon>
    </a>
    <app-user-chip
      size="sm"
      [id]="user.id"
      [picture]="user.picture"
      [name]="user.fullName"
      [status]="user.currentTenant?.status + ''"
    >
    </app-user-chip>

    <div fxFlex="noshrink"></div>
    <button
      mat-flat-button
      class="modern"
      color="primary"
      (click)="updateUser(user)"
    >
      Update role
    </button>
  </div>
  <div gdAuto gdColumns="max-content auto" gdGap="0 1rem" class="max-w-full">
    <p>User ID:</p>
    <p class="select-all font-mono">{{ user.id }}</p>
    <p>First name:</p>
    <p>{{ user.firstName }}</p>
    <p>Last name:</p>
    <p>{{ user.lastName }}</p>
    <p>Role:</p>
    <p>{{ user.currentTenant?.role | titlecase }}</p>
    <p>Status:</p>
    <p>{{ user.currentTenant?.status | titlecase }}</p>
    <p>Email:</p>
    <p>{{ user.email }}</p>
    <p>Auth0 ID:</p>
    <p class="break-all">{{ user.authId }}</p>
    <p>Birthday:</p>
    <p>{{ user.birthdate | date: 'mediumDate' }}</p>
    <p>University:</p>
    <p>{{ user.university }}</p>
    <p>Phone:</p>
    <p>{{ user.phone }}</p>
    <p>ESNcard:</p>
    <p>{{ user.hasESNCard }}</p>
    <p>ESNcardOverride:</p>
    <mat-slide-toggle
      [checked]="user.esnCardOverride"
      (change)="updateEsnCard($event)"
    ></mat-slide-toggle>
    <h2 gdColumn="-1/1" class="mt-8">Registrations</h2>
  </div>

  <mat-table [dataSource]="user.eventRegistrations" class="w-fit sm:w-full mt-4">
    <ng-container matColumnDef="event">
      <mat-header-cell *matHeaderCellDef>Event</mat-header-cell>
      <mat-cell *matCellDef="let registration">
        <app-event-chip
          [id]="registration.event.id"
          [icon]="registration.event.icon"
          [title]="registration.event.title"
        ></app-event-chip>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="eventStart">
      <mat-header-cell *matHeaderCellDef>Event start</mat-header-cell>
      <mat-cell *matCellDef="let registration">
        {{ registration.event.start | date: 'mediumDate' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
      <mat-cell *matCellDef="let registration">
        {{ registration.type | titlecase }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let registration">
        {{ registration.status | titlecase }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="registrationDate">
      <mat-header-cell *matHeaderCellDef>Registration date</mat-header-cell>
      <mat-cell *matCellDef="let registration">
        {{ registration.createdAt | date: 'mediumDate' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="checkInDate">
      <mat-header-cell *matHeaderCellDef>Check in date</mat-header-cell>
      <mat-cell *matCellDef="let registration">
        {{ registration.checkInTime | date: 'medium' }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      matRipple
      *matRowDef="let registration; columns: displayedColumns"
      routerLink="/tenant/registrations/{{ registration.id }}"
      class="cursor-pointer hover:bg-gray-100"
      [class.opacity-50]="registration.status === RegistrationStatus.Cancelled"
    ></mat-row>
  </mat-table>
</main>
<!--<pre>{{ user$ | async | json }}</pre>-->
