<mat-progress-bar
  mode="indeterminate"
  *ngIf="(user$ | async) === null"
></mat-progress-bar>
<main class="p-4" *ngIf="user$ | async as user">
  <div class="flex flex-row gap-1 items-center mb-4">
    <a routerLink=".." mat-icon-button>
      <mat-icon svgIcon="icon-circled-chevron-left"></mat-icon>
    </a>
    <app-user-chip
      size="sm"
      [id]="user.id"
      [picture]="user.picture"
      [name]="user.fullName"
      [status]="user.currentTenant?.status + ''"
    >
    </app-user-chip>

    <div fxFlex="noshrink"></div>
    <button
      mat-flat-button
      class="modern"
      color="primary"
      (click)="updateUser(user)"
    >
      Update role
    </button>
  </div>
  <div gdAuto gdColumns="max-content auto" gdGap="0 1rem" class="max-w-full">
    <p>User ID:</p>
    <p class="select-all font-mono">{{ user.id }}</p>
    <p>First name:</p>
    <p>{{ user.firstName }}</p>
    <p>Last name:</p>
    <p>{{ user.lastName }}</p>
    <p>Role:</p>
    <p>{{ user.currentTenant?.role | titlecase }}</p>
    <p>Status:</p>
    <p>{{ user.currentTenant?.status | titlecase }}</p>
    <p>Email:</p>
    <p>{{ user.email }}</p>
    <p>Auth0 ID:</p>
    <p class="break-all">{{ user.authId }}</p>
    <p>Birthday:</p>
    <p>{{ user.birthdate | date: 'mediumDate' }}</p>
    <p>University:</p>
    <p>{{ user.university }}</p>
    <p>Phone:</p>
    <p>{{ user.phone }}</p>
    <p>ESNcard:</p>
    <p>{{ user.hasESNCard }}</p>
    <p>ESNcardOverride:</p>
    <mat-slide-toggle
      [checked]="user.esnCardOverride"
      (change)="updateEsnCard($event)"
    ></mat-slide-toggle>
    <h2 gdColumn="-1/1" class="mt-8">Registrations</h2>
  </div>
  <div
    [class.opacity-60]="registration.status === RegistrationStatus.Cancelled"
    class="my-4"
    *ngFor="let registration of user.eventRegistrations"
  >
    <p class="max-w-full break-words font-bold" gdColumn="-1/1">
      <a routerLink="/events/{{ registration.event.id }}">{{
        registration.event.title
      }}</a>
    </p>
    <div gdAuto gdColumns="max-content auto" gdGap="0 1rem" class="max-w-full">
      <p>Type:</p>
      <p>{{ registration.type | titlecase }}</p>
      <p>Status:</p>
      <p>{{ registration.status | titlecase }}</p>
      <p>Registration date:</p>
      <p>{{ registration.createdAt | date: 'medium' }}</p>
      <p>Event start:</p>
      <p>{{ registration.event.start | date: 'medium' }}</p>
      <ng-container *ngIf="registration.type !== 'ORGANIZER'">
        <p>Check in date:</p>
        <p>{{ registration.checkInTime | date: 'medium' }}</p>
      </ng-container>
    </div>
  </div>
</main>
<!--<pre>{{ user$ | async | json }}</pre>-->
