<h1 class="mat-display-3">FAQ & Help</h1>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      How do I sign up for multiple events?
    </mat-expansion-panel-header>
    <p>
      If you plan to sign up for multiple events in one office visit, please take
      screenshots of those event's QR codes and bring them to the office for a fast registration
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Can I sign up for my friends?
    </mat-expansion-panel-header>
    <p>
      <strong>Yes!</strong>&nbsp;Please ask your friends to take screenshots of the QR-codes and bring them to the
      office, you can show them and sign your friends up that way. <br />
      If the event has online registration your friends will have to sign up on their app.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      Where can I get more help?
    </mat-expansion-panel-header>
    <p>
      If you have trouble using our system feel free to reach out to&nbsp;
      <a href="mailto:webmaster@esn-tumi.de?subject=[App support] " class="styled">webamster@esn-tumi.de</a>. <br />
      We'll do our best to help you out.
    </p>
  </mat-expansion-panel>
</mat-accordion>
