<mat-progress-bar
  mode="indeterminate"
  class="!relative"
  *ngIf="(registrationCodes$ | async) === null"
></mat-progress-bar>
<div mat-dialog-content mat-dialog-close class="text-surface-on p-4">
  <h1 class="mb-4">Public Registration Codes</h1>
  <p class="mb-6">
    Here you can find some short-notice spots for events here that others want
    to give away. Please make sure to check out the event before registering!
  </p>
  <div fxLayout="column" fxLayoutGap="1rem">
    <p
      *ngIf="(registrationCodes$ | async)?.length === 0"
      class="text-center italic text-gray-600"
    >
      Currently there are no public registration codes. Check again later!
    </p>
    <app-grid minWidth="350px">
      <a
        *ngFor="let code of registrationCodes$ | async"
        routerLink="/events/{{ code.targetEvent.id }}"
        class="event text-surface-on relative h-full bg-white rounded-lg shadow flex flex-col"
        matRipple
      >
        <div class="w-full pt-2 px-4 pb-4 flex flex-col gap-2">
          <div class="flex flex-row gap-2 items-center">
            <img
              [src]="code.targetEvent.icon | iconURL"
              alt=""
              class="w-12 h-12"
            />
            <div class="text-base font-semibold leading-tight">
              {{ code.targetEvent.title }}
            </div>
          </div>

          <div class="mt-auto flex items-center gap-1">
            <mat-icon
              class="ml-2"
              svgIcon="icon-calendar"
              style="width: 18px"
            ></mat-icon>
            <span>{{ code.targetEvent.start | date: 'short' }}</span>
          </div>

          <a
            mat-flat-button
            class="modern"
            color="primary"
            routerLink="/profile"
            [queryParams]="{ code: code.id }"
          >
            Use code
          </a>
        </div>
      </a>
    </app-grid>
  </div>
</div>
