<div
  gdAuto="dense"
  gdAlignColumns="stretch"
  gdAlignRows="stretch"
  gdGap="1rem"
  gdColumns="repeat(2, 1fr)"
  gdColumns.gt-sm="repeat(3, 1fr)"
  gdColumns.gt-md="repeat(4, 1fr)"
>
  <div
    *ngFor="let image of images"
    [ngClass]="{
      'aspect-w-3': image.aspect.w === 1,
      'aspect-w-6': image.aspect.w === 2,
      'aspect-h-2': image.aspect.h === 1,
      'aspect-h-4': image.aspect.h === 2
    }"
    gdColumn="span {{ image.aspect.w }}"
    gdRow="span {{ image.aspect.h }}"
  >
    <picture>
      <source
        srcset="/assets/images/landing/{{ image.id }}-{{ image.aspect.w }}x{{image.aspect.h}}-xs.avif {{image.aspect.w * 450}}w,
/assets/images/landing/{{ image.id }}-{{ image.aspect.w }}x{{image.aspect.h}}.avif {{image.aspect.w * 900}}w,
/assets/images/landing/{{ image.id }}-{{ image.aspect.w }}x{{image.aspect.h}}-xl.avif {{image.aspect.w * 1800}}w"
        sizes="(max-width: 959px) {{ image.aspect.w * 45 }}vw,
(max-width: 1279px) {{ image.aspect.w * 30 }}vw,
{{ image.aspect.w * 22 }}vw"
        type="image/avif"
      />
      <source
        srcset="/assets/images/landing/{{ image.id }}-{{ image.aspect.w }}x{{image.aspect.h}}-xs.jpg {{image.aspect.w * 450}}w,
/assets/images/landing/{{ image.id }}-{{ image.aspect.w }}x{{image.aspect.h}}.jpg {{image.aspect.w * 900}}w,
/assets/images/landing/{{ image.id }}-{{ image.aspect.w }}x{{image.aspect.h}}-xl.jpg {{image.aspect.w * 1800}}w"
        sizes="(max-width: 959px) {{ image.aspect.w * 45 }}vw,
(max-width: 1279px) {{ image.aspect.w * 30 }}vw,
{{ image.aspect.w * 22 }}vw"
        type="image/jpeg"
      />
      <img
        src="/assets/images/landing/{{ image.id }}-{{ image.aspect.w }}x{{
          image.aspect.h
        }}.jpg"
        alt="Image"
        loading="lazy"
        decoding="async"
        class="object-cover w-full h-full"
      />
    </picture>
  </div>
</div>
