<a
  routerLink="/events/{{ event?.id }}"
  class="event text-surface-on relative h-full {{
    event ? 'bg-white' : 'skeleton bg-slate-50'
  }} rounded-lg shadow flex flex-col
  {{ event?.userIsRegistered ? 'participant' : '' }}
  {{ event?.userIsOrganizer ? 'organizer' : '' }}"
  matRipple
>
  <div class="flex w-full flex-col gap-2 px-4 pt-2 pb-4">
    <div class="flex flex-row items-center gap-2">
      <img
        *ngIf="event"
        [src]="event.icon | iconURL"
        alt=""
        class="h-12 w-12"
      />
      <div *ngIf="!event" class="skeleton h-12 w-12"></div>
      <div *ngIf="event" class="text-base font-semibold leading-tight">
        {{ event.title }}
      </div>
      <div *ngIf="!event" class="skeleton">Event Title Phantom</div>
    </div>

    <div class="mt-auto flex items-center gap-1">
      <ng-container *ngIf="event && event.internalEvent">
        <mat-icon
          svgIcon="icon-user-lock"
          style="width: 18px"
          class="ml-2 text-blue-700"
        ></mat-icon>
        <span class="font-semibold text-blue-700">Internal</span>
      </ng-container>

      <ng-container *ngIf="event">
        <mat-icon
          class="ml-2"
          svgIcon="icon-clock"
          style="width: 18px"
        ></mat-icon>
        <span>{{ event.start | date: 'shortTime' }}</span>
      </ng-container>
      <span *ngIf="!event" class="skeleton">XX XX:XX</span>

      <ng-container *ngIf="defaultPrice()">
        <mat-icon
          svgIcon="icon-price-tag-euro"
          style="width: 18px"
          class="ml-2"
        ></mat-icon>
        <span>{{ defaultPrice().amount | currency: 'EUR' }}</span>
      </ng-container>
    </div>

    <div class="inline-flex items-center gap-1 font-semibold">
      <ng-container *ngIf="event">
        <ng-container *ngIf="event.userIsOrganizer || event.userIsRegistered">
          <span
            *ngIf="event.userIsOrganizer"
            class="inline-flex items-center gap-1 rounded-2xl bg-blue-600 px-2 py-1 text-white"
          >
            <mat-icon
              svgIcon="icon-checked"
              style="min-width: 18px; max-width: 18px"
            ></mat-icon>
            <span>Organizer</span>
          </span>
          <span
            *ngIf="event.userIsRegistered"
            class="inline-flex items-center gap-1 rounded-2xl bg-green-600 px-2 py-1 text-white"
          >
            <mat-icon
              svgIcon="icon-checked"
              style="min-width: 18px; max-width: 18px"
            ></mat-icon>
            <span>Registered</span>
          </span>
        </ng-container>
        <ng-container *ngIf="!event.userIsOrganizer && !event.userIsRegistered">
          <span
            *ngIf="
              !notYetOpen() &&
              RegistrationMode.External !== event.registrationMode
            "
            class="rounded-2xl px-2 py-1 {{
              freeSpotsStyling(event.freeParticipantSpots)
            }}"
            >● {{ event.freeParticipantSpots }}</span
          >
          <span
            class="inline-flex items-center gap-1 rounded-xl bg-gray-200 px-2 py-1 text-gray-800"
            *ngIf="notYetOpen()"
          >
            <mat-icon
              svgIcon="icon-lock"
              style="min-width: 18px; max-width: 18px"
            ></mat-icon>
            <span>Opens {{ registrationDate() }}</span>
          </span>
        </ng-container>
        <span
          *ngIf="
            event?.couldBeOrganizer &&
            RegistrationMode.External !== event.registrationMode
          "
          class="ml-2 {{ tutorSpotsClass() }}"
        >
          {{ event.organizersRegistered }}/{{
            event.organizerLimit
          }}
          tutors</span
        >
      </ng-container>
      <span *ngIf="!event" class="skeleton rounded-2xl px-2 py-1"
        >Event state phantom</span
      >
    </div>
  </div>
  <div fxFlex="noshrink"></div>
  <div
    *ngIf="event && event.publicationState !== 'PUBLIC'"
    class="w-full publication-state {{ event.publicationState | lowercase }}"
  ></div>
</a>
