<table [dataSource]="events$" class="event-table" mat-table>
  <ng-container matColumnDef="date">
    <th *matHeaderCellDef mat-header-cell>Date</th>
    <td *matCellDef="let element" mat-cell>{{ element.start | date: 'shortDate' }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell>Name</th>
    <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th *matHeaderCellDef mat-header-cell>Time</th>
    <td *matCellDef="let element" mat-cell>
      {{ element.start | date: 'shortTime' }} - {{ element.end | date: 'short' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="tutors">
    <th *matHeaderCellDef mat-header-cell>Assigned Tutors</th>
    <td *matCellDef="let element" mat-cell>{{ element.tutors }}</td>
  </ng-container>

  <ng-container matColumnDef="tutornum">
    <th *matHeaderCellDef mat-header-cell>Needed Tutors</th>
    <td *matCellDef="let element" mat-cell>{{ element.tutorSpots }}</td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns | async" mat-header-row></tr>
  <tr (click)="editEvent(row)" *matRowDef="let row; columns: displayedColumns | async" class="event-row" mat-row></tr>
</table>
