<table [dataSource]="events$" class="event-table" mat-table>
  <ng-container matColumnDef="date">
    <th *matHeaderCellDef mat-header-cell>Date</th>
    <td *matCellDef="let element" mat-cell>{{ element.start | date: 'shortDate' }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell>Name</th>
    <td *matCellDef="let element" mat-cell>
      <a routerLink="/office/events/edit/{{ element.id }}" style="color:inherit; text-decoration: none">{{ element.name }}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th *matHeaderCellDef mat-header-cell>Time</th>
    <td *matCellDef="let element" mat-cell>
      {{ element.start | date: 'shortTime' }} - {{ element.end | date: 'short' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="tutors">
    <th *matHeaderCellDef mat-header-cell>Needed Tutors</th>
    <td *matCellDef="let element" mat-cell>
      {{ element.tutorSpots - element.tutorSignups.length }} / {{ element.tutorSpots }}
    </td>
  </ng-container>

  <ng-container matColumnDef="students">
    <th *matHeaderCellDef mat-header-cell>Registrations</th>
    <td *matCellDef="let element" mat-cell>{{ element.usersSignedUp }} / {{ element.participantSpots }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th *matHeaderCellDef mat-header-cell>Status</th>
    <td *matCellDef="let element" mat-cell>
      <span *ngIf="element.isVisiblePublicly" style="color: green">Public</span>
      <span *ngIf="!element.isVisiblePublicly && element.isVisibleInternally" style="color: yellow">For Tutors</span>
      <span *ngIf="!element.isVisiblePublicly && !element.isVisibleInternally" style="color: red">For Office</span>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns | async" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns | async" class="event-row" mat-row></tr>
</table>
