<header
  class="bg-gradient-to-tr from-primary-600 to-accent-600 text-white p-4 sticky"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="2rem"
>
  <h1 class="text-4xl lg:text-6xl font-bold">Imprint</h1>
  <a
    routerLink="/"
    class="rounded bg-gray-200 bg-opacity-20 text-xl p-2"
    fxFlex.xs="noshrink"
    >Back to app</a
  >
</header>

<main class="p-4">
  <div
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutAlign="start"
    fxLayoutGap="2rem"
  >
    <div fxLayout="column" class="prose lg:prose-lg prose-primary">
      <p>
        This app was created by students for the TUMinternational Program. For
        all questions you can reach our team at
        <a class="styled" href="mailto:webmaster@esn-tumi.de"
          >webmaster@esn-tumi.de</a
        >. Development is handled primarily by volunteer students and is
        publicly visible on
        <a class="styled" href="https://github.com/Isigiel/tumi-app">Github</a>,
        where you can also see the entire source code for this application.
      </p>
      <h3>Coordination of the TUMi Program</h3>
      <p>
        Thomas Bergmann, M.A. <br />
        Tel.: +49 (89) 289 - 25477 <br />
        <a href="mailto:tumi-koordination@zv.tum.de"
          >tumi-koordination@zv.tum.de</a
        >
      </p>
    </div>
    <div fxLayout="column" class="prose lg:prose-lg prose-primary">
      <h2>Postal Address</h2>
      <p>
        ESN TUMi e.V. <br />
        c/o TUM Global and Alumni Office <br />
        Arcisstr. 21 <br />
        80333 Munich <br />
        Germany
      </p>
    </div>
  </div>
</main>
