<div fxLayout="column" fxLayoutGap="2rem">
  <h3 class="no-margin mat-display-3">Users</h3>
  <p>Manage the apps users and special roles here</p>
  <p>Filter displayed users</p>
  <form [formGroup]="filterForm" gdAuto gdColumns="repeat(auto-fit, minmax(250px, 1fr))" gdGap="1rem" style="margin-bottom: 2rem;">
    <mat-checkbox formControlName="showAll" [indeterminate]="filterIndeterminate | async">Show all users</mat-checkbox>
    <mat-checkbox formControlName="showAdmins">Show Admins</mat-checkbox>
    <mat-checkbox formControlName="showTutors">Show Tutors</mat-checkbox>
    <mat-checkbox formControlName="showStudents">Show regular Students</mat-checkbox>
  </form>
  <app-people-table [columns]="columns$ | async" [people]="users$ | async" (show)="showUser($event)"></app-people-table>
</div>
