<mat-progress-bar
  mode="indeterminate"
  *ngIf="(event$ | async) === null"
></mat-progress-bar>
<main *ngIf="event$ | async as event" class="bg-surface-default">
  <a
    mat-fab
    routerLink="run"
    class="extended-fab"
    *ngIf="event.userIsOrganizer"
  >
    <mat-icon svgIcon="icon-user-shield"></mat-icon>
    <span class="label">Run Event</span>
  </a>
  <button
    mat-fab
    (click)="showCode()"
    class="extended-fab"
    *ngIf="
      event.userIsRegistered &&
      !((eventOver$ | async) && event.activeRegistration?.didAttend)
    "
  >
    <mat-icon svgIcon="icon-two-tickets" class="mr-2"></mat-icon>
    <span class="label">Check in</span>
  </button>
  <app-event-header
    [event]="event"
    [bestPrice]="bestPrice$ | async"
    class="text-secondary-onContainerDark bg-secondary-containerDark dark-button from-gray-600 to-gray-800 p-4 pb-20 lg:p-6 lg:pb-24"
  ></app-event-header>
  <!--  TODO: get rid of the 10 character check here -->
  <div class="-mt-16 p-2 sm:mx-2 sm:p-4 lg:mx-6 lg:p-6">
    <mat-accordion displayMode="flat" [multi]="event.couldBeOrganizer">
      <mat-expansion-panel
        [expanded]="
          (!event.userIsRegistered && !event.userIsOrganizer) ||
          event.participantText.length < 10
        "
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Description</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown
          [data]="event.description"
          class="prose lg:prose-xl break-words"
        ></markdown>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="event.couldBeOrganizer" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Information for organizing</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="my-2">
          This event was created by {{ event.createdBy.fullName }} they can
          answer any questions
        </p>
        <markdown
          [data]="event.organizerText"
          class="prose lg:prose-xl break-words"
        ></markdown>
      </mat-expansion-panel>
      <mat-expansion-panel
        *ngIf="
          event.participantText.length > 10 &&
          (event.userIsRegistered || event.userIsOrganizer)
        "
        [expanded]="event.userIsRegistered || event.userIsOrganizer"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Info for participants</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mb-4" *ngIf="eventStarted$ | async">
          <a
            routerLink="./photos"
            mat-flat-button
            color="primary"
            class="w-full"
          >
            Photos for this event
          </a>
        </div>
        <div
          class="mb-2 lg:text-lg rounded-md border-2 p-4"
          *ngIf="event.location"
        >
          <div class="mb-2">
            <b>Meeting point:</b> {{ event.location }} at
            {{ event.start | date: 'mediumTime' }}
          </div>
          <a
            class="modern"
            mat-flat-button
            color="primary"
            [href]="
              event.googlePlaceUrl
                ? event.googlePlaceUrl
                : 'https://www.google.com/maps/place/' +
                  event.coordinates?.lat +
                  ',' +
                  event.coordinates?.lon
            "
            target="_blank"
          >
            <mat-icon svgIcon="icon-map-marker"></mat-icon>
            Open in Maps
          </a>
        </div>

        <markdown
          [data]="event.participantText"
          class="prose lg:prose-xl mb-4 break-words"
        ></markdown>
        <div
          class="mb-4 mt-6"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="1rem"
          *ngIf="(event$ | async)?.activeRegistration?.didAttend"
        >
          <img src="{{ 'approval' | iconURL }}" alt="approval" class="w-10" />
          <span class="text-lg font-bold">You are checked in to the event</span>
        </div>
        <p class="mb-2 mt-2 font-bold lg:text-lg">
          Your organizers on this event:
        </p>
        <ul class="list-inside list-disc lg:text-lg">
          <li *ngFor="let organizer of event.organizers">
            {{ organizer.fullName }}
            <span *ngIf="organizer.phone">
              (<a
                class="text-blue-600 underline"
                href="tel:{{ organizer.phone }}"
                >{{ organizer.phone }}</a
              >)
            </span>
          </li>
        </ul>
        <p class="mb-2 mt-2 lg:text-lg">
          Contact them in case of any issues. <br />We're looking forward to
          seeing you soon!
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="p-6 text-sm lg:px-12">
    <p>{{ event.organizer.text }}</p>
  </div>
  <div class="bg-secondary-container text-secondary-onContainer p-6 lg:p-12">
    <ng-template #noRegistration>
      <h2>You can not sign up for this event</h2>
      <ng-container *ngIf="(hasAccount$ | async) === false">
        <p class="my-4">
          To sign up for events please log in or create an account.
        </p>
        <button
          class="modern"
          mat-flat-button
          color="accent"
          (click)="auth.loginWithRedirect()"
        >
          <mat-icon svgIcon="icon-login-rounded-right"></mat-icon>
          Log in
        </button>
      </ng-container>
    </ng-template>
    <ng-container *ngIf="event.couldBeParticipant; else noRegistration">
      <h2 class="mb-4 font-bold">Registration</h2>
      <app-check-registration-time
        [event]="event"
        *ngIf="(user$ | async)?.university; else noUni"
      >
        <ng-container [ngSwitch]="event.registrationMode">
          <app-external-event-registration
            *ngSwitchCase="RegistrationMode.External"
            [event]="event"
          >
          </app-external-event-registration>
          <app-stripe-event-registration
            *ngSwitchCase="RegistrationMode.Stripe"
            [event]="event"
            [bestPrice]="bestPrice$ | async"
            [user]="user$ | async"
          ></app-stripe-event-registration>
          <app-online-event-registration
            [event]="event"
            *ngSwitchCase="RegistrationMode.Online"
          ></app-online-event-registration>
        </ng-container>
      </app-check-registration-time>
      <ng-template #noUni>
        <p class="my-4">
          You need to add your university to your profile to register for
          events!
        </p>
        <a routerLink="/profile" mat-stroked-button>Open Profile</a>
      </ng-template>
    </ng-container>
  </div>
  <div
    *ngIf="
      event.couldBeOrganizer &&
      event.registrationMode !== RegistrationMode.External
    "
    class="bg-secondary-container text-secondary-onContainer border-secondary-onContainer border-t-2 p-6 lg:p-12"
  >
    <h2 class="mb-4 font-bold">Sign up as organizer</h2>
    <app-check-registration-time [event]="event">
      <div
        fxLayout.gt-md="row"
        fxLayout="column"
        fxLayoutGap="1rem"
        fxLayoutAlign.gt-md="start start"
      >
        <button
          mat-raised-button
          color="primary"
          class="w-full modern"
          [disabled]="!event.organizerRegistrationPossible"
          (click)="registerAsOrganizer()"
        >
          <mat-icon svgIcon="icon-add"></mat-icon>
          Sign up now
        </button>
        <div fxFlex="50">
          <h3>
            Organizers already on this event ({{ event.organizers.length }}/{{
              event.organizerLimit
            }})
          </h3>
          <mat-list>
            <mat-list-item *ngIf="event.organizers.length === 0">
              Nobody yet
            </mat-list-item>
            <mat-list-item *ngFor="let user of event.organizers">
              {{ user.fullName }}
              <span
                *ngIf="user.id === event.createdBy.id"
                class="ml-4 rounded border border-gray-700 bg-blue-600 bg-opacity-10 px-2 text-sm"
              >
                Event Creator
              </span>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </app-check-registration-time>
  </div>
</main>
