<h2 class="no-margin">Description</h2>
<p class="whitespace">{{ event.description }}</p>
<h2 class="no-margin">Tutor Instructions</h2>
<p class="whitespace">{{ event.runningNotes }}</p>
<h2 class="no-margin">Money</h2>
<p style="margin-bottom: 2rem;">
  <strong>Participant cost: </strong>{{ event.price }}<br />
  <strong>Total event cost: </strong>{{ event.fullCost }}
  <span *ngIf="!event.moneyCollected">(Money not collected)</span
  ><span *ngIf="event.moneyCollected">({{ event.moneyWith }})</span>
</p>
<h2 class="no-margin">Dates</h2>
<p>
  <strong>From: </strong>{{ event.start | date: 'medium' }}<br />
  <strong>To: </strong>{{ event.end | date: 'medium' }}<br />
</p>
