<table
  *ngIf="items$ | async as items"
  mat-table
  [dataSource]="items"
  class="mb-4 w-full"
>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">
      <span class="break-words">{{ element.description }}</span>
      <span
        *ngIf="element.notSubsidized"
        class="ml-2 inline-block rounded bg-red-500 px-1 text-xs text-white"
      >
        not subsidized
      </span>
      <span
        *ngIf="element.onInvoice"
        class="ml-2 inline-block rounded bg-green-500 px-1 text-xs text-white"
      >
        on invoice
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>Cost</th>
    <td mat-cell *matCellDef="let element">
      {{ element.value | currency: 'EUR' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="scale">
    <th mat-header-cell *matHeaderCellDef>Scale</th>
    <td mat-cell *matCellDef="let element">
      <ng-container [ngSwitch]="element.type">
        <span *ngSwitchCase="'event'">per Event</span>
        <span *ngSwitchCase="'participant'">per Participant</span>
        <span *ngSwitchCase="'scaled'">
          per {{ element.scale }} participants
        </span>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="onInvoice">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      {{ element.onInvoice ? 'on invoice' : '' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="warn" (click)="removeItem(element)">
        Remove
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<div class="flex flex-row gap-4">
  <button mat-stroked-button class="modern" (click)="addItem()">
    <mat-icon svgIcon="icon-add"></mat-icon>
    Add item
  </button>
  <button
    mat-stroked-button
    class="modern"
    (click)="saveFinances()"
    color="primary"
  >
    <mat-icon svgIcon="icon-save"></mat-icon>
    Save finances
  </button>
</div>
<h3 class="mt-6 mb-4">Plan costs</h3>
<form
  [formGroup]="forecastForm"
  class="flex flex-col items-center gap-2 border-b-2 pb-4 md:flex-row"
>
  <mat-form-field>
    <mat-label>Participants</mat-label>
    <input matInput formControlName="participants" type="number" min="0" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Organizers</mat-label>
    <input matInput formControlName="organizers" type="number" min="0" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Days</mat-label>
    <input matInput formControlName="days" type="number" min="1" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Proposed fee</mat-label>
    <input matInput formControlName="proposedFee" type="number" min="0" />
  </mat-form-field>

  <mat-checkbox formControlName="notAnExcursion">
    Is not an excursion
  </mat-checkbox>
</form>
<div
  *ngIf="forecastResult$ | async as result"
  class="mt-4 flex flex-col flex-wrap gap-3 md:flex-row"
>
  <app-finance-planner-price-model
    *ngIf="result.proposedPriceModel"
    name="Proposed price"
    [result]="result.proposedPriceModel"
  ></app-finance-planner-price-model>
  <app-finance-planner-price-model
    name="Recommended price"
    [result]="result.recommendedPriceModel"
  ></app-finance-planner-price-model>
  <app-finance-planner-price-model
    name="Minimal price"
    [result]="result.minPriceModel"
  ></app-finance-planner-price-model>
  <app-finance-planner-price-model
    name="Maximal price"
    [result]="result.maxPriceModel"
  ></app-finance-planner-price-model>
</div>
<div class="mt-4 space-y-2 text-xs text-slate-500">
  <p>
    This planner calculates multiple price models depending on how much the
    event can and should be subsidized. Subsidies depend on the number of
    participants and organizers, number of days, and whether the event is an
    excursion (e.g. outside the city) or not. Usually, we offer events at cost
    price, which means that participants pay what they would pay if they went
    themselves. That is the <b>recommended price</b>. You can also enter a
    custom price (proposed fee) and see how the calculation changes and how much
    subsidy money remains as a buffer. The balance must remain positive. Any
    positive balance turns into profit.
  </p>
  <p>
    The <b>minimal price</b> refers to maxing out all subsidies, which should
    generally be avoided due to unforeseen circumstances. For instance,
    subsidies are only paid for each participant who actually shows up. The
    <b>maximal price</b> refers to not using any subsidies at all, e.g. for
    events that involve alcohol. In this model, participants pay for the costs
    of the organizers.
  </p>
  <p>
    This calculator provides only a rough overview of the costs. The funding
    depends on other factors. If you have any questions, please contact the Head
    of Finance or Event Manager.
  </p>
</div>
