<h1
  class="text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-tr from-accent-700 to-accent-500 mb-2"
>
  All applications ({{
    (fullMemberApplications$ | ngrxPush)?.length +
      (newMemberApplications$ | ngrxPush)?.length
  }})
</h1>
<h2 class="mb-6 text-3xl text-accent-600">
  Full: {{ (fullMemberApplications$ | ngrxPush)?.length }} &nbsp; New:
  {{ (newMemberApplications$ | ngrxPush)?.length }}
</h2>
<div fxLayout="column" fxLayoutGap="1rem" *ngrxLet="user$; let user">
  <div
    *ngFor="let application of newMemberApplications$ | ngrxPush"
    fxLayout.gt-sm="row"
    fxLayout="column"
    fxLayoutAlign.gt-sm="start center"
    fxLayoutGap="1rem"
    class="panel {{ hasVoted(application.votes, user.id) }}"
  >
    <div>
      <h2 class="text-xl">New member Application of {{ application.name }}</h2>
      <p>Created: {{ application.created | date }}</p>
      <div class="-mb-2 mt-2 space-x-1">
        <mat-icon
          *ngFor="let vote of application.votes"
          [svgIcon]="vote.icon"
        ></mat-icon>
      </div>
    </div>
    <div fxFlex="noshrink"></div>
    <a routerLink="./{{ application.id }}" mat-stroked-button>
      See details and vote
    </a>
  </div>
  <div
    class="panel"
    *ngFor="let application of fullMemberApplications$ | ngrxPush"
    fxLayout.gt-sm="row"
    fxLayout="column"
    fxLayoutAlign.gt-sm="start center"
    fxLayoutGap="1rem"
  >
    <div>
      <h2 class="text-xl">Full Member Application of {{ application.name }}</h2>
      <p>Created: {{ application.created | date }}</p>
      <div class="-mb-2 mt-2 space-x-1">
        <mat-icon
          *ngFor="let vote of application.votes"
          [svgIcon]="vote.icon"
        ></mat-icon>
      </div>
    </div>
    <div fxFlex="noshrink"></div>
    <a routerLink="../manage-full/{{ application.id }}" mat-stroked-button>
      See details
    </a>
  </div>
</div>
