<div fxLayout="column" fxLayoutAlign="start">
  <header fxFlex="200px" fxFlex.gt-md="300px" fxLayout="column" fxLayoutAlign="center center">
    <h1 ngClass.lt-lg="mat-h4" ngClass.gt-md="mat-h2" style="color:#ffffff; padding: 2rem;">The best start at TUM</h1>
  </header>
  <div gdAuto gdColumns="repeat(4, 1fr)" gdRows.gt-sm="200px!" gdRows="100px!" class="animals">
    <div style="background: black;" class="animal">
      <img src="/assets/illustrations/party/Badger.svg" alt="">
    </div>
    <div style="background: #a21e61;" class="animal">
      <img src="/assets/illustrations/party/Penguin.svg" alt="">
    </div>
    <div style="background: #cb5626" class="animal">
      <img src="/assets/illustrations/party/Owl.svg" alt="">
    </div>
    <div style="background: #007e47" class="animal">
      <img src="/assets/illustrations/party/Goat.svg" alt="">
    </div>
    <div style="background: #20395c;" class="animal">
      <img src="/assets/illustrations/party/Dog.svg" alt="">
    </div>
    <div style="background: #b5181a" class="animal">
      <img src="/assets/illustrations/party/Rhino.svg" alt="">
    </div>
    <div style="background: #67b650;" class="animal">
      <img src="/assets/illustrations/party/Lama.svg" alt="">
    </div>
    <div style="background: #04559c" class="animal">
      <img src="/assets/illustrations/party/Bull.svg" alt="">
    </div>
  </div>
  <div class="container grey-slant">
    <section fxLayout="column" fxLayoutGap="4rem" class="mat-typography infos">
      <h3>Party Animals</h3>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start center" fxLayoutGap="2rem">
        <img fxFlex.gt-sm="33" src="/assets/illustrations/party/campus.svg">
        <div fxFlex>
          <h4>Get your head start at tum</h4>
          <p>At the beginning of every semester we select 160 incoming students into 8 teams that take part in our two week
            party animals programme, meet new peers and get started in munich.</p>
        </div>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row-reverse" fxLayoutAlign="start center" fxLayoutGap="2rem">
        <img fxFlex.gt-sm="33" src="/assets/illustrations/party/planner.svg">
        <div fxFlex>
          <h4>Coming up for you this time</h4>
          <p>This semester will be better than anyone experienced before we have some amazing trips in store for you
            starting with one night at castle werdenfels.</p>
        </div>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start center" fxLayoutGap="2rem">
        <img fxFlex.gt-sm="33" src="/assets/illustrations/party/confetti.svg">
        <div fxFlex>
          <h4>Join our amazing events</h4>
          <p>The two week programme includes daily events and is very affordable. If you want to join you can soon sign up.</p>
          <button mat-stroked-button color="primary" disabled>Sign up for Party Animals</button>
        </div>
      </div>
      <div fxLayout="column">
        <h4>What we did last semester</h4>
        <iframe src="https://drive.google.com/file/d/1wNUAqj5UDxy7uSudukUm9fOhbR7UOwWP/preview" ngStyle.gt-sm="height: 500px;" ngStyle.lt-md="height: 200px;"></iframe>
      </div>
    </section>
  </div>
</div>
