<div fxLayout="column" fxLayoutAlign="start">
  <header fxFlex.gt-md="300px" fxLayout="column" fxLayoutAlign="center center">
    <h3 style="color:#ffffff; padding: 2rem;">160 Students, 40 Tutors, 11 days of fun</h3>
  </header>
  <div gdAuto gdColumns="repeat(4, 1fr)" gdRows.gt-sm="200px!" gdRows="100px!" class="animals">
    <div style="background: black;" class="animal">
      <img src="/assets/illustrations/party/Badger.svg" alt="">
    </div>
    <div style="background: #a21e61;" class="animal">
      <img src="/assets/illustrations/party/Penguin.svg" alt="">
    </div>
    <div style="background: #cb5626" class="animal">
      <img src="/assets/illustrations/party/Owl.svg" alt="">
    </div>
    <div style="background: #007e47" class="animal">
      <img src="/assets/illustrations/party/Goat.svg" alt="">
    </div>
    <div style="background: #20395c;" class="animal">
      <img src="/assets/illustrations/party/Dog.svg" alt="">
    </div>
    <div style="background: #b5181a" class="animal">
      <img src="/assets/illustrations/party/Rhino.svg" alt="">
    </div>
    <div style="background: #67b650;" class="animal">
      <img src="/assets/illustrations/party/Lama.svg" alt="">
    </div>
    <div style="background: #04559c" class="animal">
      <img src="/assets/illustrations/party/Bull.svg" alt="">
    </div>
  </div>
  <div class="container">
    <section fxLayout="column" fxLayoutGap="4rem" class="mat-typography infos">
      <h3>Party Animals</h3>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start center" fxLayoutGap="2rem">
        <img fxFlex.gt-sm="33" src="/assets/images/party/andechs.jpg" style="object-fit: cover">
<!--        <img fxFlex.gt-sm="33" src="/assets/illustrations/party/beer.svg">-->
        <div fxFlex>
          <h4>Get to know bavarian culture</h4>
          <p>Let's not kid ourselves, the best way to make new friends is to have one, or two, or more beers together.
            At party animals we wil make sure that you're very familiar with bavarian beer culture after two weeks.</p>
        </div>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row-reverse" fxLayoutAlign="start center" fxLayoutGap="2rem">
        <img fxFlex.gt-sm="33" src="/assets/images/party/erding.jpg" style="object-fit: cover">
<!--        <img fxFlex.gt-sm="33" src="/assets/illustrations/party/planner.svg">-->
        <div fxFlex>
          <h4>Things are looking great</h4>
          <p>This time will be better than ever before, marvel at you newly designed shirts and be part of never before
            seen party groups.
            <br> To kick everything off we will spend a night at Werdenfals Castle next to Nuremberg, other things
            coming up are a brewery tour, the beerlympics and epic welcome parties!</p>
        </div>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start center" fxLayoutGap="2rem">
        <img fxFlex.gt-sm="33" src="/assets/images/party/pub.jpg" style="object-fit: cover">
<!--        <img fxFlex.gt-sm="33" src="/assets/illustrations/party/confetti.svg">-->
        <div fxFlex>
          <h4>Become a party Animal!</h4>
          <p>You can handle your alcohol and are ready for two weeks of great events and evening fun? <br> Sign up to
            become a party animal today!</p>
          <button mat-stroked-button color="primary" disabled>Sign up for Party Animals</button>
        </div>
      </div>
      <div fxLayout="column">
        <h4>Impressions from last semester</h4>
        <iframe src="https://drive.google.com/file/d/1wNUAqj5UDxy7uSudukUm9fOhbR7UOwWP/preview"
                ngStyle.gt-sm="height: 500px;" ngStyle.lt-md="height: 200px;"></iframe>
      </div>
    </section>
  </div>
</div>
