<h1 mat-dialog-title>Update Profile</h1>
<form [formGroup]="profileForm" (ngSubmit)="submit()">
  <mat-dialog-content>
    <mat-form-field class="w-full">
      <mat-label>First name</mat-label>
      <input required matInput formControlName="firstName" type="text" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Last name</mat-label>
      <input required matInput formControlName="lastName" type="text" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>University</mat-label>
      <mat-select formControlName="university" required>
        <mat-option value="tum" data-cy="tum-option">TUM</mat-option>
        <mat-option value="lmu">LMU München</mat-option>
        <mat-option value="hm">Hochschule München</mat-option>
        <mat-option value="uni-mannheim">Universität Mannheim</mat-option>
        <mat-option value="dhbw">Duale Hochschule Baden-Württemberg</mat-option>
        <mat-option value="hs-mannheim">Hochschule Mannheim</mat-option>
        <mat-option value="hs-augsburg">Hochschule Augsburg</mat-option>
        <mat-option value="uni-augsburg">Universität Augsburg</mat-option>
        <mat-option value="kit">Karlsruher Institut für Technologie</mat-option>
        <mat-option value="hs-karlsruhe">Hochschule Karlsruhe</mat-option>
        <mat-option value="p-hs-k">
          Pädagogische Hochschule Karlsruhe
        </mat-option>
        <mat-option value="m-hs-k">Musikhochschule Karlsruhe</mat-option>
        <mat-option value="otherUni">other university</mat-option>
        <mat-option value="other">not a student</mat-option>
      </mat-select>
      <mat-error>Your university is required</mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Country</mat-label>
      <input matInput formControlName="country" type="text" />
    </mat-form-field>
    <mat-form-field class="w-full" [hintLabel]="bio.value.length + '/150'">
      <mat-label>Bio</mat-label>
      <textarea
        #bio
        matInput
        formControlName="bio"
        [maxLength]="150"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Study Program</mat-label>
      <input matInput formControlName="studyProgram" type="text" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Home University</mat-label>
      <input matInput formControlName="homeUniversity" type="text" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Instagram</mat-label>
      <mat-error
        >Please enter a valid Instagram username without the @</mat-error
      >
      <input matInput formControlName="instagram" type="text" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close class="modern">Cancel</button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="profileForm.invalid"
      type="submit"
      class="modern"
    >
      Save
    </button>
  </mat-dialog-actions>
</form>
