<div
  class="header"
  fxLayout="column"
  fxLayoutAlign="end start"
  ngClass.lt-sm="mobile"
>
  <h1 ngClass.lt-sm="mobile" fxFlexAlign="center">TUMi shop</h1>
</div>
<div
  fxLayout="row"
  fxLayoutAlign="center"
  style="margin: 1rem 0; color: white; padding: 0 2rem"
>
  <div style="max-width: 750px">
    <h2>Welcome to the tumi shop</h2>
    <p>
      Recently we've been busy creating some more merch to <em>TUMi</em>fy your
      life! <br />
      Check out what we have in stock now and get some swag to show off to your
      friends.
    </p>
    <p>
      If you're interested in buying some of our fine products, head over to
      slack and message
      <b>@tumi-koordination</b> with your order. You can pay for and pick up
      your stuff at the TUMi office.
    </p>
    <a mat-flat-button routerLink="/">⬅ Take me back to the app</a>
  </div>
</div>
<div style="padding: 2rem">
  <div
    fxLayout="column"
    fxLayout.gt-xs="row wrap"
    fxLayoutGap="2rem grid"
    fxLayoutAlign="center center"
  >
    <div>
      <div class="card1 card" ngClass.lt-sm="mobile">
        <span class="name">The bottle</span>
        <span class="price">5€</span>
      </div>
    </div>
    <div>
      <div class="card2 card" ngClass.lt-sm="mobile">
        <span class="name">The Mug</span>
        <span class="price">5€</span>
      </div>
    </div>
    <div>
      <div class="card3 card" ngClass.lt-sm="mobile">
        <span class="name">The Pillow</span>
        <span class="price">7,5€</span>
      </div>
    </div>
    <div>
      <div class="card4 card" ngClass.lt-sm="mobile">
        <span class="name">The Book</span>
        <span class="price">5€</span>
      </div>
    </div>
  </div>
</div>
