.event {
  @apply bg-gray-200;

  &.registered, &.organizer {
    @apply bg-green-100;
  }
  &.draft {
    @apply bg-red-100;
  }
  &.organizers {
    @apply bg-blue-100;
  }
  &.approval {
    @apply bg-yellow-100;
  }
}
