<div
  gdColumns="repeat(7, calc(100% / 7))"
  class="-ml-4 -mr-4 border-r border-b md:-ml-0 md:-mr-0"
>
  <div
    class="border-t border-l bg-slate-100 p-1"
    *ngFor="let weekday of weekdays"
  >
    <p class="text-center">{{ weekday }}</p>
  </div>
  <ng-container *ngFor="let week of weeks">
    <div
      matRipple
      *ngFor="let day of week.days"
      (click)="showDayDialog(day.events)"
      class="day flex flex-col border-t border-l cursor-pointer pb-0.5 {{
        day.today ? 'bg-blue-100' : ''
      }}"
    >
      <p class="text-center text-sm md:text-base">
        <span
          *ngIf="day.startOfMonth"
          class="font-bold bg-slate-500 text-white py-0.5 px-1 rounded-md"
          >{{ day.month }}</span
        >
        {{ day.date }}
      </p>
      <div
        *ngFor="
          let event of day.events.slice(
            0,
            day.events.length > numberOfEventsPerCell
              ? numberOfEventsPerCell - 1
              : numberOfEventsPerCell
          )
        "
        class="event select-none flex rounded text-xs md:text-sm mx-0.5 {{
          tutorSpotsClass(event)
        }} {{ event.publicationState | lowercase }} {{
          event.userIsRegistered ? 'registered' : ''
        }} {{ event.userIsOrganizer ? 'organizer' : '' }} {{
          isRegistrationOpen(event) ? '' : 'future-registration'
        }}"
      >
        <img
          [src]="event.icon | iconURL"
          alt="{{ event.icon }}"
          class="w-4 md:mr-0.5 md:w-6"
        />
        <span class="block overflow-hidden text-clip whitespace-nowrap">{{
          event.title
        }}</span>
      </div>
      <div
        *ngIf="day.events.length > numberOfEventsPerCell"
        class="flex justify-center items-center h-4 md:h-6"
      >
        <span class="text-xs rounded-full bg-slate-500 text-white p-1"
          >+{{ day.events.length - numberOfEventsPerCell + 1 }}</span
        >
      </div>
      <!-- Phantom to force the height to be exactly 4 events -->
      <ng-container *ngIf="day.events.length < numberOfEventsPerCell">
        <div
          *ngFor="
            let event of [].constructor(
              numberOfEventsPerCell - day.events.length
            )
          "
          class="invisible flex rounded bg-gray-200 h-4 md:h-6"
        ></div>
      </ng-container>
    </div>
  </ng-container>
</div>
