<div gdColumns="repeat(7, calc(100% / 7))" class="border-r border-b -ml-4 -mr-4 md:-ml-0 md:-mr-0">
  <div class="border-t border-l p-1 bg-slate-100" *ngFor="let weekday of weekdays">
    <p class="text-center">{{ weekday }}</p>
  </div>
  <ng-container *ngFor="let week of weeks">
    <div
      *ngFor="let day of week.days"
      class="flex flex-col space-y-1 border-t border-l {{
        day.today ? 'bg-blue-100' : ''
      }}"
    >
      <p class="text-center">
        <span *ngIf="day.startOfMonth" class="font-bold">{{ day.month }}</span>
        {{ day.date }}
      </p>
      <a
        *ngFor="let event of day.events.slice(0, day.events.length > 4 ? 3 : 4)"
        class="flex rounded bg-gray-200 text-xs mr-0.5 {{
          event.freeParticipantSpots === 'Event is full' ? 'opacity-40' : ''
        }}"
      >
        <img
          [src]="event.icon | iconURL"
          alt="{{ event.icon }}"
          class="w-4"
        />
        <span class="text-clip overflow-hidden whitespace-nowrap block">{{ event.title }}</span>
        <p *ngIf="!isRegistrationOpen(event)">
          🔒
        </p>
      </a>
      <a
        *ngIf="day.events.length > 4"
        class="flex text-xs justify-center"
      >
        ...
      </a>
      <!-- Phantom to force the height to be exactly 4 events -->
      <ng-container *ngIf="day.events.length < 4">
        <a
        *ngFor="let event of [].constructor(4 - day.events.length)"
        class="flex rounded bg-gray-200 text-xs invisible"
      >
        <span class="truncate block">Test</span>
      </a>
      </ng-container>      
    </div>
  </ng-container>
</div>
