<a
  matRipple
  [routerLink]="'/profile/' + id"
  class="chip {{ size }} {{
    status | lowercase
  }} box-border inline-flex flex-row items-center {{ picture ? '' : 'pl-1' }}"
>
  <div class="picture-container relative" *ngIf="picture">
    <img
      [src]="picture"
      class="picture rounded-full z-10 {{
        status | lowercase
      }} bg-gray-100"
      style="text-indent: -10000px"
      referrerpolicy="no-referrer"
      onerror="this.src='assets/images/defaultUser.jpg'"
    />
    <ng-container *ngIf="checkedIn !== null">
      <mat-icon
        *ngIf="checkedIn; else cross"
        svgIcon="icon-checkmark"
        class="absolute bottom-0 -right-3"
      ></mat-icon>
      <ng-template #cross>
        <mat-icon
          svgIcon="icon-delete-sign"
          class="absolute bottom-0 -right-3"
        ></mat-icon>
      </ng-template>
    </ng-container>
  </div>
  <div class="name-container flex flex-col max-w-[16em]" *ngIf="name">
    <div class="name whitespace-nowrap text-ellipsis overflow-hidden">
      <span>{{ name }}</span>
      <span
        *ngIf="tag"
        class="px-1 rounded-lg bg-white text-xs font-light ml-1"
        >{{ tag }}</span
      >
    </div>
    <a
      class="tel underline decoration-dotted font-light whitespace-nowrap"
      href="https://wa.me/{{ phone.replace('+', '') }}"
      target="blank"
      (click)="$event.stopPropagation()"
      *ngIf="size === 'md' && phone"
      >{{ phone }}</a
    >
  </div>
</a>
