<h1>Event Participants</h1>
<h2>Tutors</h2>
<div fxLayout="column" fxLayoutGap="4px">
  <div
    *ngFor="let tutor of event.registeredTutors | ngrxPush"
    class="student"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <div fxFlex="grow">
      <span
        >{{ tutor.firstName }} {{ tutor.lastName }} ({{ tutor.email }})
        {{ tutor.phone }}</span
      >
    </div>
    <span *ngIf="!tutor.joinedAsTutor" class="tag">newbie</span>
    <button
      (click)="stopPropagation($event)"
      *ngIf="$isAdmin | ngrxPush"
      [matMenuTriggerFor]="menu"
      mat-icon-button
    >
      <mat-icon svgIcon="icon-menu-squared"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="removeTutor(tutor.id)" mat-menu-item>
        Remove from Event
      </button>
    </mat-menu>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between start">
  <h2>Registered Students</h2>
  <button (click)="copyStudentMails()" mat-stroked-button>
    Copy participant mails
  </button>
</div>
<p class="mat-caption">Tap students toggle their status</p>
<div fxLayout="column" fxLayoutGap="4px">
  <div
    *ngFor="let registration of event.registrations | ngrxPush"
    fxLayout="row"
    fxLayoutAlign="start center"
    class="student"
    (click)="toggleRegistration(registration)"
  >
    <mat-icon
      style="margin-right: 4px"
      svgIcon="icon-{{
        registration.hasAttended ? 'checkmark' : 'delete-sign'
      }}"
    ></mat-icon>
    <div fxFlex="grow">
      <span
        >{{ registration.user.firstName }} {{ registration.user.lastName }} ({{
          registration.user.email
        }})</span
      ><span
        >[{{ registration.user.phoneNumber }}]{{
          registration.timestamp.toDate() | date: "medium"
        }}</span
      >
    </div>
    <span *ngIf="registration.isWaitList" class="tag">waitlist</span>
    <button
      mat-icon-button
      *ngIf="$isAdmin | ngrxPush"
      [matMenuTriggerFor]="menu"
      (click)="stopPropagation($event)"
    >
      <mat-icon svgIcon="icon-menu-squared"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        (click)="updateWaitListStatus(registration, false)"
        *ngIf="registration.isWaitList"
        mat-menu-item
      >
        Remove from WaitList
      </button>
      <button
        (click)="updateWaitListStatus(registration, true)"
        *ngIf="!registration.isWaitList"
        mat-menu-item
      >
        Put on WaitList
      </button>
      <button (click)="removeRegistration(registration)" mat-menu-item>
        Remove from Event
      </button>
      <button (click)="removeRegistration(registration, true)" mat-menu-item>
        Remove with refund
      </button>
    </mat-menu>
  </div>
</div>
<h2>Event Table</h2>
<table style="user-select: all">
  <tbody>
    <tr>
      <td colspan="3">Event Name:</td>
      <td colspan="5">{{ event.name }}</td>
    </tr>
    <tr>
      <td colspan="3">Date:</td>
      <td colspan="5">{{ event.start | date }}</td>
    </tr>
    <tr>
      <td colspan="3">Tutors:</td>
      <td colspan="5">
        <ng-container *ngFor="let tutor of event.registeredTutors | ngrxPush"
          >{{ tutor.firstName }} {{ tutor.lastName }},
        </ng-container>
      </td>
    </tr>
    <tr>
      <td colspan="3">Participants (including tutors):</td>
      <td colspan="5">{{ event.usersSignedUp + event.tutorSignups.length }}</td>
    </tr>
    <!--  </tbody>-->
    <!--  <thead>-->
    <tr>
      <th></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Country</th>
      <th>E-mail</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Status</th>
    </tr>
    <!--  </thead>-->
    <!--  <tbody>-->
    <tr
      *ngFor="let registration of event.registrations | ngrxPush; let i = index"
      class="table-row"
    >
      <td>{{ i + 1 }}</td>
      <td>{{ registration.user.firstName }}</td>
      <td>{{ registration.user.lastName }}</td>
      <td>{{ registration.user.country }}</td>
      <td>{{ registration.user.email }}</td>
      <td>{{ registration.user.phone }}</td>
      <td>{{ registration.user.address }}</td>
      <td>{{ registration.user.type }}</td>
    </tr>
  </tbody>
</table>
