<div class="flex flex-row items-center justify-between mb-2">
  <button mat-icon-button>
    <mat-icon
      svgIcon="icon-back"
      style="height: 16px"
      (click)="prevSemester()"
    ></mat-icon>
  </button>

  <div class="mx-2">
    <h2 class="whitespace-nowrap">{{ semesterText }}</h2>
    <div class="flex justify-center" *ngIf="semesterText !== 'All time'">
      <button class="modern !text-xs" mat-flat-button (click)="allTime()">
        all time
      </button>
    </div>
  </div>

  <button mat-icon-button>
    <mat-icon
      svgIcon="icon-forward"
      style="height: 16px"
      (click)="nextSemester()"
    ></mat-icon>
  </button>
</div>
