<div class="sm:hidden">
  <label class="sr-only" for="tabs">Select a tab</label>
  <select
    (change)="redirectToTab($event)"
    class="block w-full rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500"
    id="tabs"
    name="tabs"
  >
    <option value=".">Select a tab</option>
    @for (tab of tabs; track tab.path){
    <option [value]="tab.path">{{ tab.title }}</option>
    }
  </select>
</div>
<div class="hidden sm:block">
  <div class="border-b border-gray-200">
    <nav aria-label="Tabs" class="-mb-px flex space-x-8">
      @for (tab of tabs; track tab.path){
      <a
        [routerLink]="tab.path"
        routerLinkActive="border-indigo-500 text-indigo-600"
        class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 group inline-flex items-center border-b-2 py-4 px-1 text-sm font-medium"
      >
        <mat-icon [svgIcon]="tab.icon" class="-ml-0.5 mr-2 h-5 w-5"></mat-icon>
        <span>{{ tab.title }}</span>
      </a>
      }
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
