<div class="group relative">
  <div
    class="aspect-square w-full overflow-hidden rounded-md bg-gray-200 p-4 group-hover:opacity-75"
  >
    <img
      src="{{ event?.icon ?? null | iconUrl }}"
      alt="Front of men&#039;s Basic Tee in black."
      class="aspect-square w-full object-fill object-center"
    />
  </div>
  <div class="mt-4 flex justify-between">
    <div>
      <h3 class="text-sm text-gray-700">
        <a href="#">
          <span aria-hidden="true" class="absolute inset-0"></span>
          {{ event?.title }}
        </a>
      </h3>
      <p class="mt-1 text-sm text-gray-500">{{ event?.start | date }}</p>
    </div>
    <p class="text-sm font-medium text-gray-900">$35</p>
  </div>
</div>
