rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /events/{event} {
        allow read: if resource.data.public || request.auth.uid != null;
        allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }
    match /users/{user} {
        allow read, update: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true || request.auth.uid == resource.data.id;
        allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }
    match /stats/money {
        allow read: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
        match /transactions/{transaction} {
            allow read, write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
        }
    }
     match /{document=**} {
        allow read, write: if false;
     }
  }
}
