<div fxLayout="column" fxLayoutGap="2rem" class="mat-typography">
  <h2 class="no-margin">My TUMi</h2>
  <mat-card *ngIf="!(user$ | async)?.verified">
    <mat-card-header>
      <img src="/assets/illustrations/high_priority.svg" alt="" mat-card-avatar>
      <mat-card-title>Email not verified!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Please check your email to activate your account!
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button (click)="sendVerification()">Resend verification</button>
    </mat-card-actions>
  </mat-card>
  <h4 class="mat-h3 no-margin">Personal Data</h4>
  <app-user-profile [user]="user$ | async"></app-user-profile>
  <p>If any of the above data is not correct please change your info to fix it</p>
  <button mat-stroked-button (click)="changeData()">Change userdata</button>
  <mat-divider></mat-divider>
  <h4 class="mat-h3 no-margin">Upcoming Events</h4>
  <div gdAuto gdColumns="repeat(1, 1fr)" gdColumns.gt-sm="repeat(2, 1fr)" gdGap="2rem">
    <mat-card *ngFor="let event of upcomingEvents$ | async">
      <mat-card-header>
        <img *ngIf="event.icon" mat-card-avatar src="https://png.icons8.com/color/{{ event.icon }}/62"/>
        <mat-card-title>{{ event.name }}</mat-card-title>
        <mat-card-subtitle>{{ event.start | date: 'short' }} to {{ event.end | date: 'short' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <strong style="margin-bottom: 1rem;" *ngIf="event.isOnline && event.hasFee">Please remember to bring {{event.price}} Euro to this event!</strong>
        <strong style="margin-bottom: 1rem;" *ngIf="event.isTutor">You have signed up to be a Tutor for this event!</strong>
        <p class="description">
          {{ event.description }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <h4 class="no-margin">Previous events</h4>
  <div gdAuto gdColumns="repeat(1, 1fr)" gdColumns.gt-sm="repeat(4, 1fr)" gdGap="2rem">
    <mat-card *ngFor="let event of passedEvents$ | async">
      <mat-card-header>
        <img *ngIf="event.icon" mat-card-avatar src="https://png.icons8.com/color/{{ event.icon }}/62"/>
        <mat-card-title>{{ event.name }}</mat-card-title>
        <mat-card-subtitle>{{ event.start | date: 'short' }} to {{ event.end | date: 'short' }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
