<app-reactive-toolbar>
  <mat-toolbar color="white">
    <a routerLink=".." mat-icon-button>
      <mat-icon svgIcon="icon-circled-chevron-left"></mat-icon>
    </a>
    <div resetScroll>
      Registered Users
      <span class="font-light" *ngIf="userNum$ | async as userNum"
        >({{ userNum }})</span
      >
    </div>
  </mat-toolbar>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="(users$ | async) === null"
  ></mat-progress-bar>
</app-reactive-toolbar>
<main class="p-4">
  <form [formGroup]="filterForm" fxLayout="column" fxLayoutGap="1rem">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="1rem">
      <mat-form-field fxFlex="noshrink">
        <mat-label>Selected Roles</mat-label>
        <mat-select formControlName="roleList" multiple>
          <mat-option [value]="Role.User">{{
            Role.User | titlecase
          }}</mat-option>
          <mat-option [value]="Role.Admin">{{
            Role.Admin | titlecase
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="noshrink">
        <mat-label>Selected Status</mat-label>
        <mat-select formControlName="statusList" multiple>
          <mat-option [value]="MembershipStatus.None">
            {{ MembershipStatus.None | titlecase }}
          </mat-option>
          <mat-option [value]="MembershipStatus.Trial">
            {{ MembershipStatus.Trial | titlecase }}
          </mat-option>
          <mat-option [value]="MembershipStatus.Full">
            {{ MembershipStatus.Full | titlecase }}
          </mat-option>
          <mat-option [value]="MembershipStatus.Sponsor">
            {{ MembershipStatus.Sponsor | titlecase }}
          </mat-option>
          <mat-option [value]="MembershipStatus.Alumni">
            {{ MembershipStatus.Alumni | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput formControlName="search" type="search" />
      <mat-icon matSuffix svgIcon="icon-search"></mat-icon>
    </mat-form-field>
  </form>
  <button mat-stroked-button class="modern" (click)="copyMails()">
    <mat-icon svgIcon="icon-copy"></mat-icon>
    Copy mail addresses
  </button>
  <mat-table
    *ngIf="users$ | async as users"
    [dataSource]="users"
    class="w-fit sm:w-full mt-4"
  >
    <ng-container matColumnDef="profile">
      <mat-header-cell *matHeaderCellDef>Profile</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <app-user-chip
          size="sm"
          [id]="element.id"
          [picture]="element.picture"
          [status]="element.currentTenant?.status + ''"
        >
        </app-user-chip>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.firstName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.lastName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.currentTenant.role }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.currentTenant.status }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      matRipple
      *matRowDef="let row; columns: displayedColumns"
      [routerLink]="row.id"
      class="cursor-pointer hover:bg-gray-100"
    ></mat-row>
  </mat-table>
  <mat-paginator
    [length]="userNum$ | async"
    [pageSizeOptions]="[20, 50, 100, 500, 1000, 2500, 5000]"
    showFirstLastButtons
    (page)="updatePage($event)"
  >
  </mat-paginator>
</main>
