<header class="relative">
  <img
    src="/assets/images/about/airport.jpg"
    alt="Picture of the TUM clock tower at night"
    class="cover-image"
  />
</header>
<section class="p-4 md:p-8">
  <h1
    class="
      mt-4
      md:mt-0
      font-bold
      text-6xl
      leading-snug
      text-transparent
      bg-clip-text bg-gradient-to-tr
      from-primary-800
      to-primary-600
    "
  >
    Incoming students
  </h1>
  <h3 class="mb-4 text-2xl text-primary-700">Welcome to Munich!</h3>
  <p class="max-w-5xl leading-normal md:text-lg">
    We're excited to welcome you to our home and hope you will consider our
    beautiful city your home too very soon. No matter if you're here for an
    exchange or as a full-time degree student, TUMi will help you get started in
    Munich and at TUM. <br />
    We are a student association that works in close collaboration with the TUM
    Global & Alumni office to offer events for other students. These range from
    trips to famous castles, to museum visits and even multi-day journeys to big
    cities like Hamburg or Berlin. <br />
    All TUMi events are organized and run by our amazing members who will take
    best care of you while making new experiences.
  </p>
</section>
<section class="p-4 md:p-8">
  <h2
    class="
      mt-4
      md:mt-0
      font-bold
      text-6xl
      leading-snug
      text-transparent
      bg-clip-text bg-gradient-to-tr
      from-accent-800
      to-accent-600
    "
  >
    The ESNcard
  </h2>
  <h3 class="mb-4 text-2xl text-accent-700">
    The card of the Erasmus generation
  </h3>
  <div
    fxLayout="column"
    fxLayout.gt-sm="row-reverse"
    fxLayoutGap.gt-sm="3rem"
    fxLayoutAlign.gt-sm="end start"
  >
    <img
      src="/assets/images/about/esn-card.png"
      alt="Image of a filled out ESNcard"
    />
    <div class="max-w-5xl">
      <p class="leading-normal md:text-lg">
        ESNcard is your membership card to the Erasmus Student Network. It is a
        proof of membership in your ESN section, and so indirectly of the whole
        ESN Network. With the ESNcard, you can attend a great variety of ESN
        events all around Europe. From student parties and city tours, to
        cooking workshops and culture nights. ESN events are created to make you
        feel at home wherever you go. And that is not all,
        <span class="font-bold">
          it also gives you over 1500 discounts all around Europe so you can
          experience more while spending less!
        </span>
      </p>
      <p class="font-bold mt-4 leading-normal md:text-lg">
        Who can get an ESNCard?
      </p>
      <ul class="list-disc ml-6 leading-normal md:text-lg">
        <li>Erasmus+ students</li>
        <li>Erasmus+ trainees</li>
        <li>Erasmus+ International incoming students</li>
        <li>
          International incoming students or trainees on a mobility programme,
          other than Erasmus+
        </li>
        <li>
          International undergraduate or postgraduate full degree students
        </li>
        <li>ESNers</li>
        <li>Alumni of ESN TUMi<br /></li>
      </ul>
    </div>
  </div>
  <div
    class="panel mt-6"
    fxLayout="row"
    fxLayoutGap="2rem"
    fxLayoutAlign="start center"
  >
    <img
      src="/assets/icons/about/card.svg"
      alt="Illustration of a membership card"
      class="-my-4"
    />
    <div fxLayout="column" fxLayoutGap="1rem">
      <h3 class="font-bold text-accent-700 text-2xl">Get it now!</h3>
      <p class="leading-normal md:text-lg">
        Follow this link to learn how to get your ESNcard
      </p>
      <a mat-stroked-button routerLink="/ESNcard"> Show me </a>
    </div>
  </div>
</section>
