<h1 mat-dialog-title>The TUMi app has moved!</h1>
<mat-dialog-content>
  <p>
    It seems like you are using an old domain for the TUMi app. <br />
    We moved to <strong>tumi.esn.world</strong><br />
    Please make sure to update your bookmarks in order to continue using the
    app.
  </p>
  <div *ngIf="data.isPwa || isRunningStandalone()">
    <h2>Update your app</h2>
    <p>
      It seems like you have downloaded the TUMi app and added it to your
      homescreen. To ensure that it continues to work please uninstall the app
      and download it again from the new domain. <br />
      <strong>No data will be lost</strong>
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions
  ><button (click)="redirectUser()" mat-raised-button color="primary">
    Take me there now
  </button>
</mat-dialog-actions>
