<app-reactive-toolbar>
  <mat-toolbar color="white">
    <app-back-button></app-back-button>
    <div resetScroll>All Photos</div>
  </mat-toolbar>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="(photos$ | async) === null"
  ></mat-progress-bar>
</app-reactive-toolbar>
<main *ngIf="photos$ | async as photos" class="p-4">
  <div
    class="w-full"
    gdAuto="dense"
    gdAlignColumns="stretch"
    gdAlignRows="stretch"
    gdGap="1rem"
    gdColumns="repeat(2, 1fr)"
    gdColumns.gt-sm="repeat(3, 1fr)"
    gdColumns.gt-md="repeat(4, 1fr)"
    gdColumns.gt-lg="repeat(6, 1fr)"
    *ngIf="photos$ | async as photos"
  >
    <div
      *ngFor="let photo of photos"
      gdColumn="span {{ photo.cols }}"
      gdRow="span {{ photo.rows }}"
      class="relative"
      (click)="openPhoto(photo)"
    >
      <p
        class="absolute bottom-0 left-0 right-0 rounded-t bg-white bg-opacity-80 p-2"
      >
        {{ photo.event.title }} <br />
        - {{ photo.creator.fullName }}
      </p>
      <img
        [src]="photo.src"
        class="h-full w-full object-cover"
        height="{{ photo.rows * 400 }}"
        width="{{ photo.cols * 400 }}"
        loading="lazy"
      />
    </div>
  </div>
</main>
