<h1 mat-dialog-title>Scan office request</h1>
<mat-dialog-content class="mat-typography" fxLayout="column" fxLayoutGap="1rem">
  <h2>Please scan the registration request into this field</h2>
  <mat-form-field>
    <input [formControl]="scanControl" matInput placeholder="Scanning target" type="text" />
    <mat-hint>{{ error$ | async }}</mat-hint>
  </mat-form-field>
  <h2 *ngIf="(requestType$ | async) == 'register'">User wants to register for an event</h2>
  <h2 *ngIf="(requestType$ | async) == 'collectMoney'">User wants to collect money for an event</h2>
  <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="2rem">
    <mat-card *ngIf="event$ | async" fxFlex>
      <mat-card-title>Event: {{ (event$ | async).name }}</mat-card-title>
      <mat-card-content>
        <p>Start: {{ (event$ | async).start | date: 'short' }}</p>
        <p>End: {{ (event$ | async).end | date: 'short' }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="user$ | async" fxFlex>
      <mat-card-title>User: {{ (user$ | async).firstName }} {{ (user$ | async).lastName }}</mat-card-title>
      <mat-card-content>
        <p>Mail: {{ (user$ | async).email }}</p>
        <p>Academic Mail: {{ (user$ | async).academicMail }}</p>
        <p>Is tutor: {{ (user$ | async).isTutor }}</p>
        <p *ngIf="!(user$ | async).verified" style="font-weight: bold">
          Please ask user to make sure they verified their email
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <ng-container *ngIf="(requestType$ | async) == 'register'">
    <p *ngIf="(event$ | async).hasFee" class="mat-display-4">Make sure to collect {{ (event$ | async).price | currency: 'EUR' }}!</p>
    <p *ngIf="eventFull$ | async" style="color: red">
      This event is already full, you can still register the user but the vent will be over capacity <br />
      Currently signed up for this event:
      {{ (event$ | async).userSignups.length}}/{{ (event$ | async).participantSpots }}
    </p>
    <p *ngIf="alreadyOnEvent$ | async" style="color: red">
      This user is already signed up for the event. Double registrations are possible but be aware!
    </p>
  </ng-container>
  <ng-container *ngIf="(requestType$ | async) == 'collectMoney'">
    <mat-form-field>
      <input [formControl]="moneyControl" matInput placeholder="Money given out" type="number" />
      <mat-hint>You can change the money given out for this event here</mat-hint>
    </mat-form-field>
    <p class="mat-display-4">Please hand out the money for this event!</p>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button (click)="commitRegistration()" [disabled]="!(canRegister$ | async)" color="accent" mat-raised-button>
    Approve request
  </button>
</mat-dialog-actions>
