<header class="relative">
  <div
    class="absolute right-0 top-2 rounded-l-2xl border border-r-0 border-gray-600 bg-gray-800/50 p-2 backdrop-blur-lg backdrop-saturate-150 md:top-6"
  >
    <img
      src="/assets/logos/full_light.svg"
      alt="ESN TUMi Logo"
      class="h-12 md:h-24"
    />
  </div>
  <img
    src="/assets/images/home/tutors.jpg"
    alt="Picture of TUMI tutors at night"
    class="cover-image"
  />
  <div class="custom-shape-divider-bottom-1612976657">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
    </svg>
  </div>
</header>
<main>
  <div class="bg-gray-800 text-gray-50">
    <div class="p-4">
      <h1
        class="mt-4 mb-4 bg-gradient-to-br from-blue-300 to-blue-500 bg-clip-text text-3xl font-bold leading-snug text-transparent md:mt-0 md:text-6xl"
      >
        Exchange, better!
      </h1>
      <p class="max-w-5xl leading-normal text-white md:text-lg">
        TUMi is here to make your international experience better. No matter if
        you are an incoming student, doing your international mobility or a
        local student wanting to broaden your horizon. <br />
        We are a registered Association (Verein) with close connections to our
        friends in the TUM Global & Alumni Office. Our focus is
        <span class="font-bold">
          the promotion of international spirit, tolerance in all facets of
          culture and the fostering of international understanding.
        </span>
      </p>
      <div fxLayout="row" fxLayoutGap=".5rem" class="mt-4 max-w-md">
        <a
          fxFlex="noshrink"
          class="cursor-pointer rounded border border-gray-500 bg-gray-700 p-2 hover:bg-gray-600"
          fxLayout="row"
          fxLayoutGap="1rem"
          fxLayoutAlign="start center"
          routerLink="/events"
        >
          <mat-icon svgIcon="icon-overtime"></mat-icon>
          <span>See all events</span>
        </a>
        <a
          *ngIf="loggedIn$ | async"
          fxFlex="noshrink"
          class="cursor-pointer rounded border border-gray-500 bg-gray-700 p-2 hover:bg-gray-600"
          fxLayout="row"
          fxLayoutGap="1rem"
          fxLayoutAlign="start center"
          routerLink="/profile"
        >
          <mat-icon svgIcon="icon-contact-card"></mat-icon>
          <span>Open profile</span>
        </a>
      </div>
      <h2 class="mt-8 text-2xl font-bold">Upcoming Events</h2>
    </div>
    <div
      class="flex w-full snap-x gap-12 overflow-x-auto pb-8 pt-4"
      fxHide.gt-xs
    >
      <div
        *ngFor="let event of events$ | async"
        routerLink="/event/{{ event.id }}"
        class="relative shrink-0 cursor-pointer snap-start scroll-ml-6 first:pl-6 last:pr-[calc(100%-21.5rem)]"
      >
        <div
          class="rounded-2xl border bg-gray-600 p-4"
          fxLayout="column"
          fxLayoutAlign="start center"
        >
          <img
            src="{{ event.icon | iconURL }}"
            alt="{{ event.icon }}"
            class="w-16"
          />
          <h3>{{ event.title }}</h3>
          <p>{{ event.start | date: 'mediumDate' }}</p>
        </div>
      </div>
    </div>
    <div class="w-full p-4" fxHide.xs>
      <app-grid minWidth="300px">
        <div
          *ngFor="let event of events$ | async"
          routerLink="/event/{{ event.id }}"
          class="cursor-pointer rounded-2xl border bg-gray-600 p-4 hover:bg-gray-700"
          fxLayout="column"
          fxLayoutAlign="start center"
        >
          <img
            src="{{ event.icon | iconURL }}"
            alt="{{ event.icon }}"
            class="w-16"
          />
          <h3>{{ event.title }}</h3>
          <p>{{ event.start | date: 'mediumDate' }}</p>
        </div>
      </app-grid>
    </div>
  </div>
</main>
<footer class="relative bg-gray-200 p-4 pt-12 md:p-8">
  <div class="custom-shape-divider-top-1613324121">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M1200 120L0 16.48 0 0 1200 0 1200 120z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
  <h1
    class="my-8 bg-gradient-to-br from-fuchsia-600 to-fuchsia-800 bg-clip-text text-4xl font-bold leading-normal text-transparent md:text-6xl"
  >
    With friends
  </h1>
  <div
    gdAuto
    gdGap="2rem"
    gdColumns="repeat(auto-fit, minmax(min(100%, 150px), 1fr))"
    gdAlignRows="center"
    gdAlignColumns="center"
    style="max-width: 2000px"
  >
    <img src="/assets/logos/supporters/tum.svg" alt="TUM Logo" />
    <img src="/assets/logos/esn_dark.svg" alt="ESN Logo" />
    <img src="/assets/logos/supporters/lei.png" alt="LEI Logo" />
    <img src="/assets/logos/supporters/daad.svg" alt="DAAD Logo" />
    <div>
      <span class="mx-auto text-sm">Supported by</span>
      <img src="/assets/logos/supporters/BMBF.svg" alt="BMBF Logo" />
    </div>
    <div>
      <span class="mx-auto text-sm">Supported by</span>
      <img src="/assets/logos/supporters/AA.svg" alt="AA Logo" />
    </div>
  </div>
  <p class="mt-8 max-w-5xl leading-normal md:text-lg">
    We are only able to do what we do because of amazing support from public
    institutions, student associations and our university.
  </p>
</footer>
