<div
  class="mb-10 bg-gray-800 py-4 md:flex md:items-center md:justify-between md:space-x-5 xl:bg-white"
>
  <div
    class="container mx-auto flex items-start space-x-5 px-4 sm:px-6 lg:px-8"
  >
    <div class="flex-shrink-0">
      <div class="relative">
        <img [src]="event().icon | iconURL" alt="" class="h-16 w-16" />
      </div>
    </div>
    <div class="pt-1.5">
      <h2 class="text-2xl font-bold text-white xl:text-gray-900">
        {{ event().title }}
      </h2>
      <!--<p class="text-sm font-medium text-gray-500"
        >Applied for
        <a href="#" class="text-gray-900">Front End Developer</a> on
        <time datetime="2020-08-25">August 25, 2020</time></p
      >-->
    </div>
  </div>
</div>

<div class="container mx-auto px-4 sm:px-6 lg:px-8">
  <markdown [data]="event().description"></markdown>
  <div class="mt-8 rounded-md bg-yellow-50 p-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg
          aria-hidden="true"
          class="h-5 w-5 text-yellow-400"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            clip-rule="evenodd"
            d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z"
            fill-rule="evenodd"
          />
        </svg>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-yellow-800">Missing Feature!</h3>
        <div class="mt-2 text-sm text-yellow-700">
          <p>
            The new UI does not yet support registrations, please switch back in
            your <a class="font-bold" routerLink="/profile">profile</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
