table {
  td,
  th {
    @apply border-l border-t p-2 lg:p-4;
    &:first-child {
      @apply border-l-0;
    }
  }
  th {
    @apply bg-gray-100 font-bold;
  }
  tbody:first-child tr:first-child th,
  tbody:first-child tr:first-child td {
    @apply border-t-0;
  }
  td:empty,
  th:empty {
    @apply border-t-0;
  }
}

.tag {
  @apply mr-1 rounded bg-gray-200 px-2 py-1 text-gray-800;
}
