<div
  class="mt-12 mb-8 flex w-full flex-col items-center gap-8 text-base text-slate-500"
>
  <div class="flex w-full justify-center gap-6">
    <a
      href="https://t.me/+GDxAsMO1m7VlZTBk"
      target="_blank"
      class="hover:text-slate-400"
    >
      <mat-icon svgIcon="icon-telegram-app"></mat-icon>
    </a>
    <a
      href="https://www.instagram.com/tumi.esn/"
      target="_blank"
      class="hover:text-slate-400"
    >
      <mat-icon svgIcon="icon-instagram-new"></mat-icon>
    </a>
    <a
      href="https://www.youtube.com/channel/UCkzJDWIa9J6OqsvZXuGsh9w"
      target="_blank"
      class="hover:text-slate-400"
    >
      <mat-icon svgIcon="icon-youtube-play"></mat-icon>
    </a>
    <a
      href="https://www.facebook.com/esntumi.munchen"
      target="_blank"
      class="hover:text-slate-400"
    >
      <mat-icon svgIcon="icon-facebook-new-2"></mat-icon>
    </a>
    <a
      href="https://github.com/heddendorp/tumi"
      target="_blank"
      class="hover:text-slate-400"
    >
      <mat-icon svgIcon="icon-github"></mat-icon>
    </a>
  </div>
  <div class="text-center text-xs">
    <div class="mb-1 text-xs">©️ 2022 ESN TUMi e.V.</div>
    <a routerLink="/page/faq" class="underline">FAQ</a> |
    <a routerLink="/page/imprint" class="underline">Imprint</a> |
    <a routerLink="/page/privacy" class="underline">Privacy Policy</a>
  </div>
</div>
