<h3>All Tutors</h3>
<mat-list>
  <mat-list-item *ngFor="let tutor of tutors$ | async; trackBy: getId">
    <p mat-line style="font-size: 1rem;">
      <strong>{{ tutor.firstName }} {{ tutor.lastName }}</strong>
    </p>
    <p mat-line>
      E-Mail: <a class="styled" href="mailto:{{ tutor.email }}" target="_blank">{{ tutor.email }}</a>
    </p>
    <p mat-line>
      Phone: <a class="styled" href="tel:{{ tutor.phone }}" target="_blank">{{ tutor.phone }}</a>
    </p>
  </mat-list-item>
</mat-list>
