<h3 class="mat-display-3 no-margin">All Tutors</h3>
<mat-form-field style="width: 100%;">
  <input type="search" matInput [formControl]="searchControl" placeholder="Search for a Tutor" />
</mat-form-field>
<table mat-table matSort [dataSource]="dataSource" style="width: 100%;">
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
    <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
    <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Mail</th>
    <td mat-cell *matCellDef="let element">
      <a fxHide.lt-md class="styled" href="mailto:{{ element.email }}" target="_blank">{{ element.email }}</a>
      <a fxHide.gt-sm mat-button href="mailto:{{ element.email }}">Send Mail</a>
    </td>
  </ng-container>
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>Phone</th>
    <td mat-cell *matCellDef="let element">
      <a fxHide.lt-md class="styled" href="tel:{{ element.phone }}" target="_blank">{{ element.phone }}</a>
      <a fxHide.gt-sm *ngIf="element.phone?.length" mat-button href="tel:{{ element.phone }}">Call</a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
