<h1
  class="text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-tr from-accent-600 to-accent-500 mb-8"
>
  {{ (user$ | ngrxPush)?.name }} ({{ (user$ | ngrxPush)?.status }})
</h1>

<!--<button (click)="makeFullMember()" mat-flat-button>Make full member</button>-->
<a
  href="https://console.firebase.google.com/u/0/project/esn-tumi/firestore/data~2Fusers~2F{{
    (user$ | ngrxPush)?.id
  }}"
  target="_blank"
  mat-flat-button
  class="my-4"
>
  Firestore item</a
>
<a routerLink="/users/{{ (user$ | ngrxPush)?.id }}" mat-flat-button class="m-4"
  >User settings</a
>
<app-member-invoice-info
  [invoices]="invoices$ | ngrxPush"
  [user]="auth.user$ | ngrxPush"
  (sendInvoice)="sendInvoice()"
></app-member-invoice-info>
<app-rights-manager
  *ngIf="user$ | ngrxPush as user"
  [user]="user"
  (rightsUpdated)="updateRights($event)"
></app-rights-manager>
