<div
  gdAuto
  gdColumns="1fr"
  gdColumns.gt-xs="repeat(auto-fit, minmax(400px, 1fr))"
  gdGap="1rem"
>
  <ng-container *ngFor="let event of events; trackBy: getId; let i = index">
    <span
      *ngIf="
        (i === 0 ||
          (events[i - 1].start | date: 'shortDate') !=
            (event.start | date: 'shortDate')) &&
        dayDividers
      "
      gdColumn="-1/1"
      >{{ event.start | date: "EEE d LLLL" }}</span
    >
    <a class="event" fxLayout="column" routerLink="/events/{{ event.id }}">
      <div fxLayout="row" fxLayoutGap=".5rem" style="margin-bottom: -0.5rem">
        <div fxFlex="grow" class="title">
          <div
            *ngIf="event.visibility !== 'public'"
            fxLayout="row"
            fxLayoutGap="8px"
            style="margin-top: -0.5rem"
          >
            <div class="tag {{ event.visibility }}">
              {{ event.visibility | titlecase }}
            </div>
            <div *ngIf="event.isWaitList" class="tag waitlist">on waitlist</div>
          </div>
          <h3 class="break-words">{{ event.name }}</h3>
          <h4 class="mat-subheader">
            <ng-container *ngIf="showDates">
              {{ event.start | date: "short" }}
            </ng-container>
            <ng-container *ngIf="!showDates">
              starts {{ event.start | date: "shortTime" }}
            </ng-container>
            <span *ngIf="showCounts"
              >&nbsp;Tutors: {{ event.tutorSignups.length }}/{{
                event.tutorSpots
              }}</span
            >
          </h4>
          <span *ngIf="event.registrationMode !== 'external'">
            Free spots: {{ event.participantSpots - event.usersSignedUp }}
            <!--{{
              event.participantSpots - event.usersSignedUp <= 0
                ? "(Only wait-list)"
                : ""
            }}-->
          </span>
        </div>
        <img
          fxFlex="80px"
          loading="lazy"
          [alt]="event.icon"
          [appIconSrc]="event.icon"
          width="80px"
          height="80px"
        />
      </div>
      <div
        [ngStyle]="{
          width: (1 - event.usersSignedUp / event.participantSpots) * 100 + '%'
        }"
        class="fill-bar participants"
      ></div>
    </a>
  </ng-container>
</div>
