@import '../../../../styles';

div.external {
  font-size: 11px;
  position: absolute;
  top: 5px;
  right: 0;
  background: mat-color($tumi-primary);
  padding: 2px 4px;
  border-radius: 4px 0 0 4px;
  @include mat-elevation(2);
}
