<div *ngIf="events?.length; else emptyList" gdAuto gdColumns="repeat(auto-fit, minmax(350px, 1fr))" gdGap="1rem">
  <mat-card *ngFor="let event of events; trackBy: getId" fxLayout="column">
    <div *ngIf="event.isExternal" class="badge external">External Event</div>
    <div *ngIf="event.isInternal" class="badge internal">Internal Event</div>
    <mat-card-title-group>
      <img *ngIf="event.icon" fxFlex="80px" mat-card-sm-image src="https://png.icons8.com/color/{{ event.icon }}/160" />
      <mat-card-title>{{ event.name }} </mat-card-title>
      <mat-card-subtitle
        >{{ event.start | date: 'EEE dd MMM (bbbb)' }}
        <ng-container *ngIf="!event.isExternal && !event.isInternal">
          <br> <em>{{ event.freeSpots }}</em></ng-container
        >
      </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content *ngIf="(isTutor$ | async) && !event.isExternal && !event.isInternal">
      Tutors still needed: {{ event.tutorSpots - event.tutorSignups.length }} / {{ event.tutorSpots }}
    </mat-card-content>
    <div fxFlex></div>
    <mat-card-actions fxLayout="row">
      <button fxFlex mat-button routerLink="/events/show/{{ event.id }}">More Info</button>
    </mat-card-actions>
  </mat-card>
</div>
<ng-template #emptyList>
  <div
    class="mat-typography"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="2rem"
    style="min-height: 50vh"
  >
    <img src="/assets/illustrations/empty.svg" style="height: 20vh" alt="Empty list illustration" />
    <h4 class="mat-display-4">Sorry, this list is empty. We'll have new events for you soon</h4>
  </div>
</ng-template>
