<app-reactive-toolbar>
  <mat-toolbar color="white">
    <app-back-button></app-back-button>
    <div resetScroll>
      Transactions @if (transactionCount$ | async; as transactionCount) {
      <span class="font-light"> ({{ transactionCount | number }}) </span>
      }
    </div>
  </mat-toolbar>
  @if ((transactions$ | async) === null) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
</app-reactive-toolbar>
<main class="p-4">
  <h2>Net amount: {{ netAmount$ | async | currency }}</h2>
  <p>
    The net amount calculates the sum of all transactions towards TUMi minus all
    that are outwards for confirmed transactions.
  </p>
  <form
    [formGroup]="filterForm"
    fxLayout.gt-md="row"
    fxLayout="column"
    fxLayoutGap="1rem"
  >
    <mat-form-field>
      <mat-label>Transaction Direction</mat-label>
      <mat-select formControlName="directions" multiple>
        <mat-option [value]="TransactionDirection.TumiToUser"
          >TUMi to User</mat-option
        >
        <mat-option [value]="TransactionDirection.TumiToExternal"
          >TUMi to External</mat-option
        >
        <mat-option [value]="TransactionDirection.UserToTumi"
          >User to TUMi</mat-option
        >
        <mat-option [value]="TransactionDirection.ExternalToTumi"
          >External to TUMi</mat-option
        >
        <mat-option [value]="TransactionDirection.UserToUser"
          >User to User</mat-option
        >
        <mat-option [value]="TransactionDirection.UserToExternal"
          >User to External</mat-option
        >
        <mat-option [value]="TransactionDirection.ExternalToUser"
          >External to User</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Transaction Type</mat-label>
      <mat-select formControlName="types" multiple>
        <mat-option [value]="TransactionType.Stripe">Stripe</mat-option>
        <mat-option [value]="TransactionType.Cash">Cash</mat-option>
        <mat-option [value]="TransactionType.Transfer">Transfer</mat-option>
        <mat-option [value]="TransactionType.Paypal">PayPal</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Transaction Status</mat-label>
      <mat-select formControlName="status" multiple>
        <mat-option [value]="TransactionStatus.Pending">Pending</mat-option>
        <mat-option [value]="TransactionStatus.Confirmed">Confirmed</mat-option>
        <mat-option [value]="TransactionStatus.Cancelled">Cancelled</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field formGroupName="range">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input formControlName="start" matStartDate placeholder="Start date" />
        <input formControlName="end" matEndDate placeholder="End date" />
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Search by event title</mat-label>
      <input
        matInput
        formControlName="search"
        placeholder="Search by event title"
      />
      <mat-icon matSuffix svgIcon="icon-search"></mat-icon>
    </mat-form-field>
    <button
      (click)="openCreateTransactionDialog()"
      type="button"
      mat-stroked-button
      class="modern"
      fxFlexAlign="start"
    >
      <mat-icon svgIcon="icon-add"></mat-icon>
      <span>Add transaction</span>
    </button>
  </form>
  @if (transactions$ | async; as users) {
  <table mat-table [dataSource]="users" class="w-fit sm:w-full">
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef>Subject</th>
      <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>User Name</th>
      <td mat-cell *matCellDef="let element">{{ element.user?.fullName }}</td>
    </ng-container>

    <ng-container matColumnDef="direction">
      <th mat-header-cell *matHeaderCellDef>Direction</th>
      <td mat-cell *matCellDef="let element">
        @switch (element.direction) { @case (TransactionDirection.TumiToUser) {
        <p class="text-red-500"> TUMi ➡️ User </p>
        } @case (TransactionDirection.TumiToExternal) {
        <p class="text-red-500"> TUMi ➡️ External </p>
        } @case (TransactionDirection.UserToTumi) {
        <p class="text-green-500"> User ➡️ TUMi </p>
        } @case (TransactionDirection.ExternalToTumi) {
        <p class="text-green-500"> External ➡️ TUMi </p>
        } @case (TransactionDirection.UserToUser) {
        <p>User ➡️ User</p>
        } @case (TransactionDirection.UserToExternal) {
        <p> User ➡️ External </p>
        } @case (TransactionDirection.ExternalToUser) {
        <p> External ➡️ User </p>
        } }
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        @switch (element.status) { @case (TransactionStatus.Pending) {
        <mat-icon svgIcon="icon-connection-status-off"></mat-icon>
        } @case (TransactionStatus.Cancelled) {
        <mat-icon svgIcon="icon-cancel-2"></mat-icon>
        } @case (TransactionStatus.Confirmed) {
        <mat-icon svgIcon="icon-ok"></mat-icon>
        } }
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">
        @switch (element.type) { @case (TransactionType.Stripe) {
        <mat-icon svgIcon="icon-stripe"></mat-icon>
        } @case (TransactionType.Cash) {
        <mat-icon svgIcon="icon-cash"></mat-icon>
        } @case (TransactionType.Paypal) {
        <mat-icon svgIcon="icon-paypal"></mat-icon>
        } @case (TransactionType.Transfer) {
        <mat-icon svgIcon="icon-online-money-transfer"></mat-icon>
        } }
      </td>
    </ng-container>

    <ng-container matColumnDef="event">
      <th mat-header-cell *matHeaderCellDef>Event/Comment</th>
      <td mat-cell *matCellDef="let element">
        {{ element.eventRegistration?.event?.title ?? element.comment }}
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let element">
        {{ element.amount | currency }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date: 'short' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <a mat-flat-button [routerLink]="element.id"> See details </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  }
  <mat-paginator
    [length]="transactionCount$ | async"
    [pageSizeOptions]="[20, 50, 100, 500, 1000, 2500, 5000]"
    showFirstLastButtons
    (page)="updatePage($event)"
  >
  </mat-paginator>
</main>
