<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1rem">
  <mat-form-field fxFlex="grow">
    <mat-label>Scan target</mat-label>
    <input
      [cdkTrapFocusAutoCapture]="true"
      [formControl]="scanControl"
      cdkTrapFocus
      matInput
      type="text"
    />
    <mat-icon matSuffix svgIcon="icon-qr-code"></mat-icon>
  </mat-form-field>
  <button (click)="reset()" color="accent" fxFlex="noshrink" mat-raised-button>
    Reset
  </button>
</div>
<div *ngIf="user$ | ngrxPush as user; else noUser" class="container">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
    <img alt="find user icon" src="/assets/icons/find-user.svg" />
    <h2>{{ user.firstName }} {{ user.lastName }} ({{ user.email }})</h2>
  </div>
</div>
<ng-container *ngIf="events$ | ngrxPush as requests">
  <div *ngFor="let request of requests" class="container">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1rem">
      <img
        [appIconSrc]="request.event.icon"
        alt="{{ request.event.icon }}"
        height="96px"
        width="96px"
      />
      <div>
        <h2>
          {{ request.event.name }}
          <strong>{{ request.event.price | currency: "EUR" }}</strong> ({{
            request.registrations.length
          }}/{{ request.event.participantSpots }}
          Registrations)
        </h2>
        <p>
          {{ request.event.start | date: "medium" }} -
          {{ request.event.end | date: "medium" }}
        </p>
        <p *ngFor="let warning of request.warnings" style="color: #b92b27">
          {{ warning }}
        </p>
        <ng-container [ngSwitch]="request.action">
          <ng-container *ngSwitchCase="'register'">
            <button
              (click)="addUserToWaitList(request)"
              *ngIf="request.onWaitlist; else registerButton"
              [disabled]="request.registered"
              color="primary"
              mat-stroked-button
              style="margin-bottom: 0.5rem"
            >
              Add to waitlist
            </button>
            <ng-template #registerButton>
              <button
                (click)="registerUser(request)"
                [disabled]="request.registered"
                color="primary"
                mat-stroked-button
                style="margin-bottom: 0.5rem"
              >
                Register
              </button>
            </ng-template>
          </ng-container>
          <ng-container *ngSwitchCase="'refund'">
            <button
              (click)="deregisterUser(request)"
              [disabled]="!request.registered"
              color="primary"
              mat-stroked-button
              style="margin-bottom: 0.5rem"
            >
              Refund money
            </button>
          </ng-container>
          <ng-container *ngSwitchCase="'collectMoney'">
            <button
              (click)="collectMoney(request)"
              color="primary"
              mat-stroked-button
              style="margin-bottom: 0.5rem"
            >
              Give out {{ request.event.fullCost | currency: "EUR" }}
            </button>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noUser>
  <div>Could not resolve the request</div>
</ng-template>
