<ng-container [ngSwitch]="event.organizer">
  <div
    *ngSwitchCase="'goa'"
    fxLayout.gt-sm="row"
    fxLayout="column"
    fxLayoutGap="1rem"
    fxLayoutAlign="space-between center"
  >
    <img
      src="/assets/icons/student-center.svg"
      width="72px"
      height="72px"
      fxHide.lt-md
    />
    <p class="text-md md:text-lg xl:text-xl">
      This event is organized by the TUM Global & Alumni Office as part of
      International Campus Life
    </p>
    <a
      href="https://www.international.tum.de/en/home/"
      target="_blank"
      mat-stroked-button
      fxFlex="none"
    >
      Learn more
    </a>
  </div>
  <div
    *ngSwitchCase="'tumi'"
    fxLayout.gt-sm="row"
    fxLayout="column"
    fxLayoutGap="1rem"
    fxLayoutAlign="start center"
  >
    <img
      src="/assets/icons/esn-star.png"
      width="72px"
      height="72px"
      fxHide.lt-md
    />
    <p class="text-md md:text-lg xl:text-xl">
      This event is organized by the student association ESN TUMi München e.V.
    </p>
  </div>
</ng-container>
