<app-reactive-toolbar>
  <mat-toolbar color="white">
    <div *ngIf="searchEnabled" class="w-full text-base">
      <mat-form-field class="w-full" appearance="standard">
        <input #searchbar matInput [formControl]="filterEvents" type="search" />
      </mat-form-field>
    </div>
    <div
      *ngIf="!searchEnabled"
      class="w-full flex flex-row items-center justify-between sm:justify-start"
    >
      <button mat-icon-button (click)="previousMonth()">
        <mat-icon svgIcon="icon-back" style="height: 16px"></mat-icon>
      </button>
      <div resetScroll class="whitespace-nowrap ml-2 mr-2">
        {{ selectedMonthLabel }}
      </div>
      <button mat-icon-button (click)="nextMonth()">
        <mat-icon svgIcon="icon-forward" style="height: 16px"></mat-icon>
      </button>
    </div>
    <button mat-icon-button class="modern" (click)="initSearch()">
      <mat-icon
        [svgIcon]="searchEnabled ? 'icon-cancel' : 'icon-search'"
      ></mat-icon>
    </button>
  </mat-toolbar>
</app-reactive-toolbar>
<mat-progress-bar
  mode="indeterminate"
  *ngIf="loading$ | async"
></mat-progress-bar>
<div
  *ngIf="outstandingRating$ | async"
  @grow
  class="bg-yellow-500 mx-auto py-3 px-6 lg:px-8 cursor-pointer"
  routerLink="/profile"
>
  <div class="flex items-center justify-between flex-wrap">
    <div class="w-0 flex-1 flex items-center">
      <span class="flex p-2 rounded-lg bg-yellow-600 text-white">
        <mat-icon svgIcon="icon-star"></mat-icon>
      </span>
      <p class="ml-3 font-medium text-white leading-tight">
        <span
          >Please rate events you took part in recently!

          <a class="underline">Go to Profile &rarr; </a></span
        >
      </p>
    </div>
  </div>
</div>
<div
  class="bg-indigo-500 mx-auto py-3 px-6 lg:px-8 cursor-pointer"
  routerLink="/page/apply"
>
  <div class="flex items-center justify-between flex-wrap">
    <div class="w-0 flex-1 flex items-center">
      <span class="flex p-2 rounded-lg bg-indigo-600 text-white">
        <mat-icon svgIcon="icon-parse-from-clipboard"></mat-icon>
      </span>
      <p class="ml-3 font-medium text-white leading-tight">
        <span> Werde ein Teil von TUMi! </span>
      </p>
    </div>
  </div>
</div>
<main class="text-surface-on p-4 sm:px-8">
  <a
    mat-fab
    routerLink="/event-templates"
    class="extended-fab"
    *appIfRole="[Role.User, Role.Admin]"
  >
    <mat-icon svgIcon="icon-add"></mat-icon>
    <span class="label">Add Event</span>
  </a>
  <!--<div
      fxFlex="grow"
      class="rounded-2xl bg-gradient-to-r from-pink-500 via-purple-500 to-indigo-500 p-1"
    >
      <div class="block h-full overflow-hidden rounded-xl bg-white">
        <div class="h-full bg-white p-4">
          <h4 class="text-lg font-bold">Welcome to TUMi!</h4>
          <h5 class="mb-4 text-lg text-slate-800" fxHide.lt-sm>
            Join us on other platforms to stay informed!
          </h5>

          <div
            fxLayout.gt-md="row"
            fxLayout="column-reverse"
            fxLayoutGap="1rem"
          >
            <div fxFlex="50" fxLayout="column" fxLayoutGap=".5rem">
              <p class="text-lg" fxHide.lt-sm>Telegram</p>
              <p fxHide.lt-sm>
                Join the telegram group to stay informed and connect with other
                students.
              </p>
              <div fxFlex="grow"></div>
              <a
                href="https://t.me/+PtNU9JqOE19lZjMy"
                mat-flat-button
                color="primary"
                class="modern"
              >
                <mat-icon svgIcon="icon-telegram-app"></mat-icon>
                <span>Join the telegram group</span>
              </a>
            </div>
            <div fxFlex="50" fxLayout="column" fxLayoutGap=".5rem">
              <p class="text-lg" fxHide.lt-sm>Instagram</p>
              <p>
                Use our hashtag
                <span
                  class="bg-gradient-to-r from-pink-500 to-purple-500 bg-clip-text font-bold text-transparent"
                >
                  #tumilove
                </span>
                and tag us at
                <span
                  class="bg-gradient-to-r from-purple-500 to-indigo-500 bg-clip-text font-bold text-transparent"
                >
                  @tumi.esn
                </span>
                to share your experiences!
              </p>
              <div fxFlex="grow"></div>
              <a
                href="https://www.instagram.com/tumi.esn/"
                mat-flat-button
                color="primary"
                class="modern"
              >
                <mat-icon svgIcon="icon-instagram-new"></mat-icon>
                <span>Follow us</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  <!--<div fxFlex="grow" class="rounded-2xl bg-outline-default p-1">
      <div class="block h-full overflow-hidden rounded-xl bg-white">
        <div class="h-full bg-gray-100 p-4">
          <h4 class="text-lg font-bold">The Party animals are back!</h4>
          <p class="text-md mt-1 mb-6">
            The best way to get started in Munich is finally making a return.
            Come together in groups of 25 students and enjoy 9 days of exciting
            activities and fun. Make friends for your stay in munich and beyond.
          </p>
          <a
            class="inline-block w-full rounded-full bg-gradient-to-r from-pink-500 via-purple-500 to-indigo-500 p-[4px] hover:text-white focus:outline-none focus:ring active:text-opacity-75"
            href="https://party-animals.esn.world"
          >
            <span
              class="block text-center rounded-full bg-gray-100 px-8 py-3 text-lg font-bold hover:bg-transparent"
            >
              Learn more!
            </span>
          </a>
        </div>
      </div>
    </div>-->
  <div class="flex flex-row flex-wrap gap-4 mt-2 mb-6 w-full items-center">
    <button
      mat-flat-button
      color="accent"
      class="modern w-full sm:w-auto"
      (click)="toggleSelectedView()"
    >
      <ng-container [ngSwitch]="selectedView$ | async">
        <ng-container *ngSwitchCase="'list'">
          <mat-icon svgIcon="icon-calendar"></mat-icon>
          <span>Calendar view</span>
        </ng-container>
        <ng-container *ngSwitchCase="'calendar'">
          <mat-icon svgIcon="icon-list"></mat-icon>
          <span>List view</span>
        </ng-container>
      </ng-container>
    </button>
    <a
      *appIfRole="[Role.User, Role.Admin]"
      mat-stroked-button
      class="modern"
      routerLink="codes"
    >
      <mat-icon svgIcon="icon-transfer-between-users"></mat-icon
      ><span>Codes</span>
    </a>
    <mat-slide-toggle [formControl]="hideFullEvents">
      Hide full
    </mat-slide-toggle>
  </div>
  <ng-container [ngSwitch]="selectedView$ | async">
    <ng-container *ngSwitchCase="'list'">
      <app-events-list
        [events]="events$ | async"
      ></app-events-list>
      <div
        *ngIf="(events$ | async)?.length === 0"
        class="mx-auto max-w-md rounded-2xl bg-pink-200 p-4"
      >
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="1rem"
          class="mb-6"
        >
          <mat-icon
            svgIcon="icon-overtime"
            class="card-icon bg-white text-pink-500"
          ></mat-icon>
          <h2 class="font-bold">No events right now</h2>
        </div>
        <p>
          Right now there are no events to show you, but check back soon to see
          what we are planning :)
        </p>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'calendar'">
      <app-event-calendar
        [events]="events$ | async"
        [firstDate]="startOfMonth"
        [lastDate]="endOfMonth"
      ></app-event-calendar>
    </ng-container>
  </ng-container>
</main>
