<app-reactive-toolbar>
  <mat-toolbar color="white">
    <a routerLink=".." mat-icon-button>
      <mat-icon svgIcon="icon-circled-chevron-left"></mat-icon>
    </a>
    <div class="reset-scroll">Event Organizations</div>
  </mat-toolbar>
</app-reactive-toolbar>
<mat-progress-bar
    mode="indeterminate"
  *ngIf="(organizers$ | async) === null"
></mat-progress-bar>
<main class="p-4">
  <button mat-flat-button color="primary" (click)="addOrganizer()">
    Add new
  </button>
  <mat-list>
    <mat-list-item *ngFor="let organizer of organizers$ | async">
      <h3 mat-line>{{ organizer.name }}</h3>
      <p mat-line>{{ organizer.text }}</p>
    </mat-list-item>
  </mat-list>
</main>
