<h2
  class="text-3xl font-bold text-transparent bg-clip-text bg-gradient-to-tr from-primary-600 to-primary-500 mb-8"
>
  Invoices
</h2>
<mat-list *ngIf="invoices?.length; else noInvoices" class="mb-4">
  <mat-list-item *ngFor="let invoice of invoices">
    {{ invoice.timestamp | date }} ({{ invoice.stripeInvoiceStatus }})
    {{ invoice.items[0].description }}
    {{ invoice.items[0].amount / 100 | currency: invoice.items[0].currency }}
  </mat-list-item>
</mat-list>
<ng-template #noInvoices>
  <p class="mb-4">This user has no invoices yet</p>
</ng-template>
<button
  mat-stroked-button
  *ngIf="user?.canManageInvoices"
  (click)="sendInvoice.emit()"
>
  Send Invoice to this user
</button>
<div class="mb-8"></div>
