<main class="p-4">
  <div
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutAlign="space-between"
    class="mb-4"
  >
    <h1 class="mb-4">Event Templates</h1>
    <button
      (click)="createTemplate()"
      mat-flat-button
      color="accent"
      *appIfRole="[Role.Admin]"
    >
      Add new template
    </button>
  </div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let category of templateCategories$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title class="w-2/3">
          <img [src]="category.icon | iconURL" class="mr-2 h-10" alt="" />{{
            category.name
          }}
        </mat-panel-title>
        <mat-panel-description>
          {{ category.templateCount }} templates
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a
          *ngFor="let template of category.templates"
          mat-list-item
          routerLink="./{{ template.id }}"
        >
          <img mat-list-avatar [src]="template.icon | iconURL" alt="" />
          <h3 mat-line>{{ template.title }}</h3>
          <span mat-line *ngIf="template.participantRating"
            >Average participant rating:
            {{ template.participantRating }}/5</span
          >
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="eventTemplates$ | async as templates">
      <mat-expansion-panel-header>
        <mat-panel-title class="w-2/3"> Uncategorized </mat-panel-title>
        <mat-panel-description>
          {{ templates.length }} templates
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a
          *ngFor="let template of templates"
          mat-list-item
          routerLink="./{{ template.id }}"
        >
          <img mat-list-avatar [src]="template.icon | iconURL" alt="" />
          <h3 mat-line>{{ template.title }}</h3>
          <span mat-line *ngIf="template.participantRating"
            >Average participant rating:
            {{ template.participantRating }}/5</span
          >
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
</main>
