<app-reactive-toolbar>
  <mat-toolbar color="white">
    <div *ngIf="searchEnabled" class="w-full text-base">
      <mat-form-field class="w-full" appearance="standard">
        <input
          #searchbar
          matInput
          [formControl]="searchControl"
          type="search"
        />
      </mat-form-field>
    </div>
    <div *ngIf="!searchEnabled" class="reset-scroll flex-1">
      Event Templates
    </div>
    <button mat-icon-button class="modern" (click)="initSearch()">
      <mat-icon
        [svgIcon]="searchEnabled ? 'icon-cancel' : 'icon-search'"
      ></mat-icon>
    </button>
  </mat-toolbar>
</app-reactive-toolbar>
<mat-progress-bar
  mode="indeterminate"
  *ngIf="(templateCategories$ | async) === null"
></mat-progress-bar>
<main class="p-4">
  <button
    mat-fab
    class="extended-fab"
    (click)="createTemplate()"
    data-testid="create-template-button"
  >
    <mat-icon svgIcon="icon-add"></mat-icon>
    <span class="label">Create new template</span>
  </button>
  <div class="mb-4">
    Select an event template to create a new event from. If you want to create a
    brand-new template, please contact the Event Manager.
  </div>
  <mat-accordion [multi]="!!searchControl.value">
    <mat-expansion-panel
      *ngFor="let category of templateCategories$ | async"
      [expanded]="!!searchControl.value && !!category.templateCount"
      [style.display]="
        !!searchControl.value && !category.templateCount ? 'none' : ''
      "
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="w-2/3">
          <div class="relative mr-4">
            <img [src]="category.icon | iconURL" class="h-10" alt="" />
            <div class="counter">
              {{ category.templateCount }}
            </div>
          </div>
          <span>
            {{ category.name }}
          </span>
        </mat-panel-title>
        <mat-panel-description>
          {{ category.eventCount }} events
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <mat-nav-list>
          <a
            *ngFor="let template of category.templates"
            mat-list-item
            routerLink="./{{ template.id }}"
          >
            <div mat-list-avatar class="relative">
              <img [src]="template.icon | iconURL" alt="" />
              <div class="counter">
                {{ template.eventInstanceCount }}
              </div>
            </div>
            <h3 mat-line>{{ template.title }}</h3>
            <span mat-line>
              <span *ngIf="template.participantRating">
                {{ template.participantRating | number: '1.1-1' }} ★ ({{
                  template.participantRatingCount
                }})
              </span>
            </span>
          </a>
        </mat-nav-list>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel
      *ngIf="
        (templateCategories$ | async) && eventTemplates$ | async as templates
      "
      [expanded]="!!searchControl.value && !!templates.length"
      [style.display]="!!searchControl.value && !templates.length ? 'none' : ''"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="w-2/3"> Uncategorized </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-nav-list>
          <a
            *ngFor="let template of templates"
            mat-list-item
            routerLink="./{{ template.id }}"
          >
            <div mat-list-avatar class="relative">
              <img [src]="template.icon | iconURL" alt="" />
              <div class="counter">
                {{ templates.length }}
              </div>
            </div>
            <h3 mat-line>{{ template.title }}</h3>
            <span mat-line *ngIf="template.participantRating">
              {{ template.participantRating | number: '1.1-1' }} ★ ({{
                template.participantRatingCount
              }})
            </span>
          </a>
        </mat-nav-list>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</main>
