<h1
  class="text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-tr from-accent-600 to-accent-500 mb-8"
>
  Join TUMi!
</h1>
<div class="panel mb-4 text-lg">
  <p>Are you interested in...</p>
  <ul class="list-disc list-inside mb-4">
    <li>
      supporting international students with settling in, showing them around
      the campus and introducing them to Munich and its cultural highlights?
    </li>
    <li>making international contacts in a relaxed atmosphere?</li>
    <li>volunteering as part of a friendly, young and dynamic team?</li>
    <li>
      taking on responsibility for the planning and execution of an interesting,
      exciting and fun program?
    </li>
  </ul>
  <p>We suggest to only apply if</p>
  <ul class="list-disc list-inside">
    <li>
      your level of German is at least B1, because it is likely that you will be
      interacting on your own in German-only-speaking environments during TUMi
      events.
    </li>
    <li>
      you will study at TUM for at least another year, as TUMi will invest a
      considerable amount of training resources into you and therefore we have
      an interest to have you stay with TUMi for an extended period of time.
    </li>
    <li>
      you are not an exchange student yourself, again as we want you to stay at
      TUM for more than the duration of an exchange.
    </li>
  </ul>
</div>

<div class="panel text-lg mb-8">
  <div
    class="mb-4"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="1rem"
  >
    <img
      class="h-16 object-contain"
      src="/assets/icons/workflow.svg"
      alt=""
      fxHide.lt-md
    />
    <h2 class="text-2xl font-bold">The Process</h2>
  </div>

  <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="1rem">
    <div fxFlex="30">
      <h3 class="text-2xl">Trail Member</h3>
      <p>
        You join TUMi as a trail member on acceptance, this makes you part of
        the organisation and allows you to take part as a tutor in TUMi events
        and buy an ESN card. You will not have to pay membership fees but also
        lack some privileges a full member would enjoy.
      </p>
    </div>
    <div>
      <h3 class="text-2xl">Full Member</h3>
      <p>
        After being part of TUMi for some time you can apply for full
        membership. There are two requirements:
      </p>
      <ol class="list-decimal list-inside">
        <li>Take part in one kickoff or stammtisch</li>
        <li>Be tutor on four events</li>
      </ol>
      <p>
        When becoming a full member you will also have to pay membership fees
        (currently {{ 5 | currency: "EUR" }} per semester), these serve mainly
        the purpose to show who is still active. <br />
        Full members also gain some privileges:
      </p>
      <ul class="list-disc list-inside">
        <li>Voting rights at the assembly</li>
        <li>Ability to run for a board position</li>
        <li>Ability to introduce their own events</li>
      </ul>
    </div>
  </div>
</div>
<div
  class="panel text-lg mb-8"
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="1rem"
>
  <img
    class="h-16 object-contain"
    src="/assets/icons/virus.svg"
    alt=""
    fxHide.lt-md
  />
  <div>
    <h2 class="text-2xl font-bold">Current situation</h2>
    <p>
      We're aware of the current lack of events, the board will take this into
      account when assessing the full member submissions
    </p>
  </div>
</div>

<h2 class="text-2xl font-bold mb-4">Start your application</h2>

<div
  fxLayout="column"
  fxLayout.gt-md="row"
  fxLayoutAlign="space-evenly"
  fxLayoutGap="1rem"
>
  <div
    *ngIf="isAuthenticated$ | ngrxPush; else login"
    class="panel text-lg"
    fxLayout="column"
    fxLayoutGap="1rem"
  >
    <img
      src="/assets/icons/new-application.svg"
      alt=""
      class="h-16 object-contain"
    />
    <h3 class="text-2xl">Apply to become a trail member</h3>
    <p>Get started in TUMi today</p>
    <a mat-stroked-button color="primary" routerLink="new">Start application</a>
  </div>
  <ng-template #login>
    <div class="panel text-lg" fxLayout="column" fxLayoutGap="1rem">
      <img src="/assets/icons/enter.svg" alt="" class="h-16 object-contain" />
      <h3 class="text-2xl">Log in to apply</h3>
      <p>In order to apply, you have to log in first</p>
      <button mat-stroked-button color="primary" (click)="startLogin()">
        Log in
      </button>
    </div>
  </ng-template>
  <div
    *ngIf="isTutor$ | ngrxPush"
    class="panel text-lg"
    fxLayout="column"
    fxLayoutGap="1rem"
  >
    <img src="/assets/icons/skip.svg" alt="" class="h-16 object-contain" />
    <h3 class="text-2xl">Apply to become a full member</h3>
    <p>
      It seems like you have TUMi experience already so you can become a full
      member
    </p>
    <a mat-stroked-button color="primary" routerLink="full"
      >Start application</a
    >
  </div>
</div>
