<main class="p-4 flex flex-col gap-4">
  <h2 class="mb-2">Tenant Management</h2>
  <div class="rounded-md border-2 p-4">
    <h3>Human Resources</h3>
    <div fxLayout="row wrap" class="gap-2">
      <a mat-stroked-button class="modern" routerLink="users">Users</a>
    </div>
  </div>

  <div class="rounded-md border-2 p-4">
    <h3>Event Management</h3>
    <div fxLayout="row wrap" class="gap-2">
      <a mat-stroked-button class="modern" routerLink="registrations"
        >Registrations</a
      >
      <a mat-stroked-button class="modern" routerLink="codes"
        >Registration Codes</a
      >
      <a mat-stroked-button class="modern" routerLink="ratings">Ratings</a>
      <a mat-stroked-button class="modern" routerLink="bookings">Bookings</a>
      <a
        mat-stroked-button
        class="modern"
        routerLink="event-template-categories"
        >Event Template Categories</a
      >
      <a mat-stroked-button class="modern" routerLink="organizers"
        >Organizations</a
      >
      <a mat-stroked-button class="modern" routerLink="photos">Photos</a>
    </div>
  </div>

  <div class="rounded-md border-2 p-4">
    <h3>Finance</h3>
    <div fxLayout="row wrap" class="gap-2">
      <a mat-stroked-button class="modern" routerLink="transactions"
        >Transactions</a
      >
      <a mat-stroked-button class="modern" routerLink="purchases">Purchases</a>
      <a mat-stroked-button class="modern" routerLink="refunds" disabled
        >Refunds</a
      >
      <a mat-stroked-button class="modern" routerLink="insurance"
        >Insurance Dashboard</a
      >
    </div>
  </div>

  <div class="rounded-md border-2 p-4">
    <h3>Web Master</h3>
    <div fxLayout="row wrap" class="gap-2">
      <a mat-stroked-button class="modern" routerLink="metrics"
        >Prisma Metrics</a
      >
      <a mat-stroked-button class="modern" routerLink="stats">Statistics</a>
      <a mat-stroked-button class="modern" routerLink="logs">Activity Log</a>
    </div>
  </div>

  <div class="rounded-md border-2 p-4">
    <h3>Other</h3>
    <div fxLayout="row wrap" class="gap-2">
      <a mat-stroked-button class="modern" routerLink="edit">Edit Tenant</a>
    </div>
  </div>
</main>
