<main class="p-4">
  <h2 class="mb-2">Tenant Management</h2>
  <app-grid minWidth="200px">
    <a mat-stroked-button routerLink="organizers">Organizers</a>
    <a mat-stroked-button routerLink="users">Users</a>
    <a mat-stroked-button routerLink="registrations">Registrations</a>
    <a mat-stroked-button routerLink="codes">Registration Codes</a>
    <a mat-stroked-button routerLink="logs">Activity Log</a>
    <a mat-stroked-button routerLink="refunds" disabled>Refunds</a>
    <a mat-stroked-button routerLink="transactions">Transactions</a>
    <a mat-stroked-button routerLink="edit">Edit Tenant</a>
    <a mat-stroked-button routerLink="stats">Statistics</a>
    <a mat-stroked-button routerLink="photos">Photos</a>
    <a mat-stroked-button routerLink="purchases">Purchases</a>
    <a mat-stroked-button routerLink="insurance">Insurance Dashboard</a>
    <a mat-stroked-button routerLink="event-template-categories"
      >Event Template Categories</a
    >
    <a mat-stroked-button routerLink="ratings">Event Ratings</a>
    <a mat-stroked-button routerLink="bookings">Event Bookings</a>
    <a mat-stroked-button routerLink="metrics">Prisma Metrics</a>
  </app-grid>
</main>
