<h1>Money (Currently {{ balance$ | ngrxPush | currency: "EUR" }})</h1>
<div fxLayout="row" fxLayoutAlign="space-between start">
  <h2>Recent Transactions</h2>
  <button (click)="addTransaction()" color="primary" mat-flat-button>
    Add transaction
  </button>
</div>
<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <div
    *cdkVirtualFor="let transaction of transactions$ | ngrxPush; trackBy: getId"
    fxLayout="row"
    fxLayoutGap="1rem"
    fxLayoutAlign="start center"
    class="border-b border-gray-500 border-opacity-50"
  >
    <ng-container [ngSwitch]="transaction.type">
      <mat-icon
        fxFlex="24px"
        *ngSwitchCase="'registration'"
        [style.color]="transaction.value >= 0 ? '#059669' : '#DC2626'"
        svgIcon="icon-pay"
      ></mat-icon>
      <mat-icon
        fxFlex="24px"
        *ngSwitchCase="'refund'"
        [style.color]="transaction.value >= 0 ? '#059669' : '#DC2626'"
        svgIcon="icon-refund"
      ></mat-icon>
      <mat-icon
        fxFlex="24px"
        *ngSwitchCase="'moneyCollection'"
        [style.color]="transaction.value >= 0 ? '#059669' : '#DC2626'"
        svgIcon="icon-get-cash"
      ></mat-icon>
      <mat-icon
        fxFlex="24px"
        *ngSwitchDefault
        [style.color]="transaction.value >= 0 ? '#059669' : '#DC2626'"
        svgIcon="icon-money-bag"
      ></mat-icon>
    </ng-container>
    <h4 fxFlex="70px">{{ transaction.value | currency: "EUR" }}</h4>
    <div fxFlex="grow">
      <p>{{ transaction.comment }}</p>
      <p>{{ transaction.timestamp | date: "medium" }}</p>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
