<mat-progress-bar mode="indeterminate" *ngIf="(tutorHubData$ | async) === null"></mat-progress-bar>
<div class="m-4" gdAuto gdColumns="100%" gdColumns.gt-sm="calc(50% - 0.5rem) calc(50% - 0.5rem)" gdGap="1rem"
  *ngIf="tutorHubData$ | async as tutorHubData">
  <div class="bg-secondary-container text-secondary-onContainer rounded-2xl p-4 shadow">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem" class="mb-2">
      <mat-icon svgIcon="icon-user-manual" class="text-secondary-default bg-secondary-on card-icon">
      </mat-icon>
      <h2 class="font-bold">Resources</h2>
    </div>
    <mat-list>
      <!-- replace in the future with db model -->
      <a mat-list-item matRipple
        href="https://esntumi.sharepoint.com/:f:/s/Board/EqlZb4OcQgNArN8drmSYCKMBAe9OxW7iaYjHmQl6J-bg5A?e=rALt2f"
        target="_blank">
        <img [src]="'user-manual' | iconURL" alt="Image" mat-list-avatar />
        <p mat-line>Tutor Guide</p>
      </a>
      <a mat-list-item matRipple href="https://app.slack.com/client/T30TKAENN/" target="_blank">
        <img [src]="'slack-new:color' | iconURL" alt="Image" mat-list-avatar />
        <p mat-line>Slack</p>
      </a>
    </mat-list>
  </div>

  <div class="bg-secondary-container text-secondary-onContainer rounded-2xl p-4 shadow">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem" class="mb-2">
      <mat-icon svgIcon="icon-overtime" class="text-secondary-default bg-secondary-on card-icon">
      </mat-icon>
      <h2 class="font-bold">Events</h2>
    </div>
    <div>
      <mat-progress-bar mode="indeterminate" *ngIf="eventsLoading$ | async"></mat-progress-bar>
      <app-semester-navigator [calculateStartEnd]="calculateStartEnd" (rangeEmitter)="updateRange($event)">
      </app-semester-navigator>
      <mat-divider></mat-divider>
      <div class="mt-4 flex flex-row justify-evenly sm:gap-16 sm:justify-center"
        *ngIf="events$ | async as events">
        <div class="flex flex-col items-center">
          <div class="text-3xl font-extrabold mb-1">
            {{ events.eventCount }}
          </div>
          <div class="text-sm">
            event{{ events.eventCount === 1 ? '' : 's' }}
          </div>
        </div>
        <div class="flex flex-col items-center">
          <div class="text-3xl font-extrabold mb-1">
            {{ events.registrationCount }}
          </div>
          <div class="text-sm">
            participant{{ events.registrationCount === 1 ? '' : 's' }}
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem" class="mb-4">
        <mat-icon svgIcon="icon-leaderboard" class="text-secondary-default bg-secondary-on card-icon">
        </mat-icon>
        <h2 class="font-bold">Leaderboard</h2>
      </div>
      <div>
      </div>
    </div>

  </div>

  <div class="bg-secondary-container text-secondary-onContainer rounded-2xl p-4 shadow">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem" class="mb-4">
      <mat-icon svgIcon="icon-conference" class="text-secondary-default bg-secondary-on card-icon">
      </mat-icon>
      <h2 class="font-bold">Tutors</h2>
    </div>
    <div>
      <div class="italic text-gray-500 text-sm mb-2">Active tutors of the last three months.</div>
      <div class="flex flex-wrap gap-2 items-center text-sm">
        <app-user-chip *ngFor="let tenantUser of tutorHubData.activeOrganizers" size="xs" [id]="tenantUser.user.id" [picture]="tenantUser.user.picture"
          name="{{ tenantUser.user.firstName }} {{ tenantUser.user.lastName }}" [status]="tenantUser.status || ''">
        </app-user-chip>
      </div>
    </div>

  </div>

  <div class="bg-secondary-container text-secondary-onContainer rounded-2xl p-4 shadow">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem" class="mb-4">
      <mat-icon svgIcon="icon-birthday" class="text-secondary-default bg-secondary-on card-icon">
      </mat-icon>
      <h2 class="font-bold">Birthdays</h2>
    </div>
    <div  class="flex flex-col gap-4">
      <div *ngIf="tutorHubData.birthdays.length === 0">No upcoming birthdays in the next week</div>
      <div *ngFor="let birthday of tutorHubData.birthdays">
        <div class="font-bold mb-1">{{ birthday.birthday}}</div>
        <div class="flex flex-wrap gap-2 items-center ml-4">
          <app-user-chip *ngFor="let user of birthday.users"  size="sm" [id]="user.id" [picture]="user.picture"
            name="{{ user.firstName }} {{ user.lastName }}" [status]="user.status">
          </app-user-chip>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-secondary-container text-secondary-onContainer rounded-2xl p-4 shadow">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem" class="mb-4">
      <mat-icon svgIcon="icon-user-shield" class="text-secondary-default bg-secondary-on card-icon">
      </mat-icon>
      <h2 class="font-bold">Positions</h2>
    </div>
    <div class="flex flex-col gap-4">
      <div *ngFor="let tenantUser of tutorHubData.usersWithPositions">
        <div class="font-bold mb-1">{{ tenantUser.user.position }}</div>
        <div class="ml-4">
          <app-user-chip size="sm" [id]="tenantUser.user.id" [picture]="tenantUser.user.picture"
            name="{{ tenantUser.user.firstName }} {{ tenantUser.user.lastName }}" [status]="tenantUser.status || ''">
          </app-user-chip>
        </div>
      </div>
    </div>
  </div>

</div>