<mat-progress-bar
  mode="indeterminate"
  *ngIf="(registration$ | async) === null"
></mat-progress-bar>
<main class="space-y-2 p-4 lg:p-8">
  <h1 class="font-bold">Registration</h1>
  <div
    class="overflow-hidden rounded-2xl border"
    *ngIf="registration$ | async as registration"
  >
    <table class="w-full table-auto border-collapse">
      <tbody>
        <tr>
          <th colspan="2">User</th>
          <th colspan="2">Event</th>
        </tr>
        <tr>
          <td>
            {{ registration.user.fullName }}
            <a
              class="w-full"
              class="modern"
              href="/tenant/users/{{ registration.user.id }}"
              mat-stroked-button
            >
              View user
            </a>
          </td>
          <td>Registered: {{ registration.createdAt | date: 'medium' }}</td>
          <td colspan="2">{{ registration.event.title }}</td>
        </tr>
        <tr>
          <td>Status: {{ registration.status }}</td>
          <td>
            {{ registration.cancellationReason }}
          </td>
          <td>Start: {{ registration.event.start | date: 'medium' }}</td>
          <td>End: {{ registration.event.end | date: 'medium' }}</td>
        </tr>
        <tr>
          <ng-container *ngIf="registration?.transaction?.stripePayment">
            <td gdAuto gdColumns="max-content auto" gdGap=".5rem">
              <span> Payment status: </span>
              <span>{{ registration.transaction?.stripePayment?.status }}</span>
              <span> Payment method: </span>
              <span>{{
                registration.transaction?.stripePayment?.paymentMethodType
              }}</span>
              <span>Amount:</span>
              <span>{{
                (registration.transaction?.stripePayment?.amount ?? 0) / 100
                  | currency: 'EUR'
              }}</span>
              <span>Net Amount:</span>
              <span>{{
                (registration.transaction?.stripePayment?.netAmount ?? 0) / 100
                  | currency: 'EUR'
              }}</span>
              <span>Refunded Amount:</span>
              <span>{{
                (registration.transaction?.stripePayment?.refundedAmount ?? 0) /
                  100 | currency: 'EUR'
              }}</span>
              <span>Fee Amount:</span>
              <span>{{
                (registration.transaction?.stripePayment?.feeAmount ?? 0) / 100
                  | currency: 'EUR'
              }}</span>
              <a
                gdColumn="span 2"
                mat-stroked-button
                class="modern"
                href="https://dashboard.stripe.com/payments/{{
                  registration.transaction?.stripePayment?.paymentIntent
                }}"
                >Open in Stripe</a
              >
            </td>
            <td>
              <p>Events</p>
              <p
                *ngFor="
                  let event of registration.transaction?.stripePayment?.events
                "
              >
                {{ event.name }} - {{ event.date | date: 'medium' }}
              </p>
            </td>
          </ng-container>
          <ng-container *ngIf="!registration?.transaction?.stripePayment">
            <td colspan="2">No payment for this registration</td>
          </ng-container>
          <td colspan="2">
            <a
              class="w-full"
              class="modern"
              href="/events/{{ registration.event.id }}/manage"
              mat-stroked-button
            >
              Manage event
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
