<h1 mat-dialog-title>{{ title }}</h1>
<mat-dialog-content>
  <form
    [formGroup]="eventForm"
    gdAuto
    gdGap="1rem"
    gdColumns="1fr"
    gdColumns.gt-lg="repeat(6, 1fr)"
    gdColumns.gt-md="repeat(4, 1fr)"
    gdColumns.gt-xs="repeat(2, 1fr)"
    gdAlignColumns="stretch start"
  >
    <mat-form-field gdColumn.gt-xs="span 2">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" />
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="2rem" gdColumn.gt-xs="span 2">
      <mat-form-field fxFlex>
        <mat-label>Icon for your event</mat-label>
        <input formControlName="icon" matInput />
      </mat-form-field>
      <div fxFlex.gt-sm>
        <img [appIconSrc]="icon$ | ngrxPush" height="64px" width="64px" />
      </div>
    </div>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option value="appointment">Appointment</mat-option>
        <mat-option value="event">Event</mat-option>
        <mat-option disabled value="bundle">Bundle</mat-option>
        <mat-option disabled value="product">Product</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Visibility</mat-label>
      <mat-select formControlName="visibility">
        <mat-option value="draft">Draft</mat-option>
        <mat-option value="internal">Internal</mat-option>
        <mat-option value="alumni">Internal + Alumni</mat-option>
        <mat-option value="public">Public</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Registration</mat-label>
      <mat-select formControlName="registrationMode">
        <mat-option value="office">Office</mat-option>
        <mat-option disabled value="paypal">PayPal</mat-option>
        <mat-option value="stripe">Stripe</mat-option>
        <mat-option value="online">Online</mat-option>
        <mat-option value="external">External</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Organizer</mat-label>
      <mat-select formControlName="organizer">
        <mat-option value="tumi">TUMi e.V.</mat-option>
        <mat-option value="goa">Global & Alumni Office</mat-option>
        <mat-option value="ext">External Organiser</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field gdColumn.gt-xs="span 2">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-hint>Use markdown here to style the text in the app</mat-hint>
    </mat-form-field>
    <mat-form-field gdColumn.gt-xs="span 2">
      <mat-label>Notes for tutors</mat-label>
      <textarea matInput formControlName="runningNotes"></textarea>
      <mat-hint>Use markdown here to style the text in the app</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Start of your event</mat-label>
      <input formControlName="start" matInput />
      <mat-hint>dd.mm.yyyy hh:mm</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>End of your event</mat-label>
      <input formControlName="end" matInput />
      <mat-hint>dd.mm.yyyy hh:mm</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Students allowed</mat-label>
      <input formControlName="participantSpots" matInput type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tutors needed</mat-label>
      <input matInput formControlName="tutorSpots" type="number" />
    </mat-form-field>
    <!--<mat-checkbox formControlName="splitTutorPlaces"
      >Split tutor spots</mat-checkbox
    >-->
    <mat-form-field>
      <mat-label>Total cost</mat-label>
      <input formControlName="fullCost" matInput type="number" />
      <mat-hint>The amount of money given to the tutor</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" type="number" />
    </mat-form-field>
    <mat-checkbox formControlName="hasFee">Requires Payment</mat-checkbox>
    <mat-form-field gdColumn.gt-xs="span 2">
      <mat-label>Signup Link</mat-label>
      <input formControlName="signupLink" matInput type="text" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button
    (click)="submit()"
    [disabled]="eventForm.invalid"
    color="primary"
    mat-stroked-button
  >
    Save
  </button>
</mat-dialog-actions>
