<h1
  class="text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-tr from-accent-600 to-accent-500 pb-8"
>
  Application
</h1>
<div
  class="panel mb-4"
  fxLayout="row"
  fxLayoutGap="1rem"
  fxLayoutAlign="start center"
  *ngIf="hasApplication$ | ngrxPush"
>
  <img src="/assets/icons/warning.svg" alt="⚠" />
  <h2 class="text-xl">You already have submitted an application!</h2>
</div>
<div
  class="panel mb-4"
  fxLayout="row"
  fxLayoutGap="1rem"
  fxLayoutAlign="start center"
>
  <img src="/assets/icons/germany.svg" alt="🇩🇪" />
  <h2 class="text-xl">
    TUMi Bewerbungen können auch auf deutsch abgegeben werden!
  </h2>
</div>
<form
  [formGroup]="applicationForm"
  class="panel"
  gdAuto
  gdColumns="1fr"
  gdColumns.gt-xs="1fr 1fr"
  gdGap="1rem 1rem"
  gdAlignColumns="center center"
>
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mobile Number</mat-label>
    <input
      type="tel"
      autocomplete="tel"
      matInput
      formControlName="phone"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Date of Birth</mat-label>
    <input
      matInput
      [disabled]="true"
      [matDatepicker]="picker"
      formControlName="birthday"
      required
      [max]="maxBirthday"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker
      #picker
      startView="multi-year"
      [disabled]="false"
    ></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Country</mat-label>
    <mat-select formControlName="country" required>
      <mat-option
        *ngFor="let country of countries$ | ngrxPush"
        [value]="country.alpha2Code"
        >{{ country.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Currently Pursuing</mat-label>
    <mat-select formControlName="studyLevel" required>
      <mat-option value="bachelor">Bachelor</mat-option>
      <mat-option value="master">Master</mat-option>
      <mat-option value="examen">Staatsexamen</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Semester</mat-label>
    <input matInput formControlName="studySemester" type="number" required />
    <mat-hint>In your current level of study</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Field of Study</mat-label>
    <input matInput formControlName="studyField" required />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Graduation from TUM</mat-label>
    <input
      matInput
      required
      [disabled]="true"
      [matDatepicker]="picker2"
      [min]="minGraduation"
      formControlName="graduation"
    />
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker
      #picker2
      startView="multi-year"
      [disabled]="false"
      (monthSelected)="chosenMonthHandler($event, picker2)"
      panelClass="month-picker"
    ></mat-datepicker>
  </mat-form-field>
  <h3 gdColumn.gt-xs="span 2">Language Skills</h3>
  <ng-container formArrayName="languages">
    <ng-container
      *ngFor="let group of languages.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-form-field>
        <mat-label>Language</mat-label>
        <input matInput formControlName="language" type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Level</mat-label>
        <input matInput formControlName="level" type="text" />
      </mat-form-field>
    </ng-container>
  </ng-container>
  <button
    mat-stroked-button
    gdColumn.gt-xs="span 2"
    type="button"
    (click)="addLanguage()"
  >
    Add another language
  </button>
  <mat-form-field gdColumn.gt-xs="span 2">
    <mat-label>Experience abroad</mat-label>
    <textarea
      cols="4"
      rows="4"
      formControlName="experienceAbroad"
      matInput
      type="text"
    ></textarea>
    <mat-hint>
      Do you have experience abroad? If yes, please describe.
    </mat-hint>
  </mat-form-field>
  <mat-form-field gdColumn.gt-xs="span 2">
    <mat-label>Volunteering</mat-label>
    <textarea
      cols="4"
      rows="4"
      formControlName="experienceVolunteering"
      matInput
      type="text"
    ></textarea>
    <mat-hint>
      Do you have any prior volunteering or tutoring experience? If yes, which
      tasks did you perform?
    </mat-hint>
  </mat-form-field>
  <mat-form-field gdColumn.gt-xs="span 2">
    <mat-label>Motivation Letter</mat-label>
    <textarea
      cols="4"
      rows="4"
      formControlName="motivation"
      matInput
      type="text"
    ></textarea>
    <mat-hint>
      Why do you want to join TUMi? Which activities would you like to organize
      and how much time do you intend to invest into TUMi?
    </mat-hint>
  </mat-form-field>
  <button
    mat-flat-button
    color="accent"
    gdColumn.gt-xs="span 2"
    style="margin-top: 1rem"
    [disabled]="applicationForm.invalid"
    (click)="submitApplication()"
  >
    Submit Application
  </button>
</form>
<div
  class="panel mt-4"
  fxLayout="row"
  fxLayoutGap="1rem"
  fxLayoutAlign="start center"
>
  <img src="/assets/icons/warning.svg" alt="⚠" />
  <h2 class="text-xl">
    In case you encounter problems with the applications, please write an email
    to
    <a
      href="mailto:webmaster@esn-tumi.de?subject=[TUMi app] Problem with application"
      class="styled"
      >webmaster@esn-tumi.de</a
    >
    and we'll help you along.
  </h2>
</div>
