<main class="mt-6">
  <section class="mx-auto max-w-7xl px-4 sm:px-6">
    <div class="-mt-2 mb-4 flex items-center">
      <a routerLink=".." class="text-">Admin</a>
      <mat-icon svgIcon="icon-forward" style="width: 1rem"></mat-icon>
      <span>Invites</span>
    </div>
    <div class="flex items-center justify-between">
      <h1
        class="text-4xl font-extrabold tracking-tight text-slate-900 dark:text-slate-100 sm:text-5xl md:text-6xl"
      >
        Invites
      </h1>
      <a routerLink="create" mat-flat-button class="my-2">Create invites</a>
    </div>
  </section>
  <section class="mx-auto max-w-7xl px-4 py-8 sm:px-6">
    <ul
      class="border border-slate-800 dark:border-slate-200 md:grid md:grid-cols-3"
    >
      <li class="border border-slate-800 p-8 dark:border-slate-200">
        <p class="text-3xl font-extrabold">{{ inviteNumber$ | async }}</p>
        <p class="mt-1 text-xl font-medium">Invites</p>
      </li>

      <li class="border border-slate-800 p-8 dark:border-slate-200">
        <p class="text-3xl font-extrabold">{{ openInvites$ | async }}</p>
        <p class="mt-1 text-xl font-medium">Open Invites</p>
      </li>

      <li class="border border-slate-800 p-8 dark:border-slate-200">
        <p class="text-3xl font-extrabold">{{ usedInvites$ | async }}</p>
        <p class="mt-1 text-xl font-medium">Used Invites</p>
      </li>
    </ul>
  </section>
  <section class="mx-auto max-w-7xl px-4 sm:px-6">
    <div class="mt-4 overflow-x-auto">
      <table class="min-w-full divide-y-2 text-sm">
        <thead>
          <tr>
            <th class="whitespace-nowrap px-4 py-2 text-left font-medium">
              Email
            </th>
            <th class="whitespace-nowrap px-4 py-2 text-left font-medium">
              Creator
            </th>
            <th class="whitespace-nowrap px-4 py-2 text-left font-medium">
              Status
            </th>
            <th class="whitespace-nowrap px-4 py-2 text-left font-medium">
              Redeemer
            </th>
            <th class="whitespace-nowrap px-4 py-2 text-left font-medium">
              Redeemed at
            </th>
            <th></th>
          </tr>
        </thead>

        <tbody class="divide-y divide-gray-200">
          <tr *ngFor="let invite of invites$ | async">
            <td class="whitespace-nowrap px-4 py-2 font-medium">
              {{ invite.email }}
            </td>
            <td class="whitespace-nowrap px-4 py-2">
              {{ invite.creator.fullName }}
            </td>
            <td class="whitespace-nowrap px-4 py-2">{{ invite.status }}</td>
            <td class="whitespace-nowrap px-4 py-2">
              {{ invite.redeemedBy?.fullName ?? 'not redeemed' }}
            </td>
            <td class="whitespace-nowrap px-4 py-2">
              {{ invite.redeemedAt | date: 'short' }}
            </td>
            <td class="whitespace-nowrap px-4 py-2">
              <button
                mat-stroked-button
                cdkCopyToClipboard="https://beta.esn.world/invite/{{
                  invite.id
                }}"
              >
                Copy invite link
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>
