<mat-sidenav-container>
  <mat-sidenav
    position="end"
    #sidenav
    fixedInViewport
    fixedTopGap="80px"
    class="w-80 bg-white text-slate-900 dark:bg-slate-700 dark:text-white"
  >
    <div class="flex flex-col space-y-2 px-4 py-6">
      <a
        routerLink="/home"
        routerLinkActive="bg-slate-200 dark:bg-slate-900"
        [routerLinkActiveOptions]="{ exact: true }"
        class="rounded px-4 py-2 text-base font-medium text-slate-500 hover:bg-slate-100 dark:text-slate-50 dark:hover:bg-slate-800"
      >
        Home
      </a>
      <a
        routerLink="/events"
        routerLinkActive="bg-slate-200 dark:bg-slate-900"
        class="rounded px-4 py-2 text-base font-medium text-slate-500 hover:bg-slate-100 dark:text-slate-50 dark:hover:bg-slate-800"
      >
        Events
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content
    class="bg-white text-slate-900 dark:bg-slate-900 dark:text-white"
  >
    <div class="flex min-h-screen flex-col">
      <div class="relative bg-slate-50 dark:bg-slate-800">
        <div class="mx-auto max-w-7xl px-4 sm:px-6">
          <div
            class="flex items-center justify-between py-6 md:justify-start md:space-x-10"
          >
            <div class="flex justify-start lg:w-0 lg:flex-1">
              <a routerLink="/">
                <span class="sr-only">ESN TUMi</span>
                <img
                  class="h-8 w-auto dark:hidden sm:h-10"
                  src="/assets/logos/esn_dark.svg"
                />
                <img
                  class="invisible h-8 w-auto dark:visible sm:h-10"
                  src="/assets/logos/esn_light.svg"
                />
              </a>
            </div>
            <div class="-my-2 -mr-2 md:hidden">
              <button
                type="button"
                class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 dark:bg-slate-700 hover:dark:bg-slate-500"
                aria-expanded="false"
                (click)="sidenav.open()"
              >
                <span class="sr-only">Open menu</span>
                <!-- Heroicon name: outline/menu -->
                <svg
                  class="h-6 w-6"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"
                  />
                </svg>
              </button>
            </div>
            <nav class="hidden space-x-10 md:flex">
              <a
                routerLink="/home"
                routerLinkActive="text-slate-700 dark:text-slate-400 underline"
                [routerLinkActiveOptions]="{ exact: true }"
                class="underline-offset-3 text-base font-medium text-slate-500 decoration-indigo-500 decoration-4 hover:text-gray-900 dark:text-slate-50 dark:hover:text-slate-300"
              >
                Home
              </a>
              <a
                routerLink="/events"
                routerLinkActive="text-slate-700 dark:text-slate-400 underline"
                class="underline-offset-3 text-base font-medium text-slate-500 decoration-indigo-500 decoration-4 hover:text-gray-900 dark:text-slate-50 dark:hover:text-slate-300"
              >
                Events
              </a>
              <a
                href="#"
                class="underline-offset-3 text-base font-medium text-slate-500 decoration-indigo-500 decoration-4 hover:text-gray-900 dark:text-slate-50 dark:hover:text-slate-300"
              >
                Join
              </a>
              <a
                href="#"
                class="underline-offset-3 text-base font-medium text-slate-500 decoration-indigo-500 decoration-4 hover:text-gray-900 dark:text-slate-50 dark:hover:text-slate-300"
              >
                Members
              </a>
            </nav>
            <div
              class="hidden items-center justify-end md:flex md:flex-1 lg:w-0"
            >
              <!--        <a href="#" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">-->
              <!--          Sign in-->
              <!--        </a>-->
              <app-auth-button></app-auth-button>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
      <div class="grow"></div>
      <div class="relative mt-8 flex-shrink-0 bg-gray-800">
        <div class="mx-auto max-w-7xl px-4 sm:px-6">
          <div
            class="flex items-center justify-between py-6 md:justify-start md:space-x-10"
          >
            <div class="flex justify-start lg:w-0 lg:flex-1">
              <p class="text-gray-100">©️ 2022 ESN TUMi e.V.</p>
            </div>
            <!--      <nav class="hidden space-x-10 md:flex"></nav>-->
            <div
              class="items-center justify-end space-x-4 md:flex md:flex-1 lg:w-0"
            >
              <a
                href="https://www.instagram.com/tumi.esn/"
                target="_blank"
                class="text-base text-gray-300 hover:text-gray-100"
              >
                <mat-icon svgIcon="icon-instagram-new"></mat-icon>
              </a>
              <a
                href="https://www.facebook.com/esntumi.munchen"
                target="_blank"
                class="text-base text-gray-300 hover:text-gray-100"
              >
                <mat-icon svgIcon="icon-facebook-new-2"></mat-icon>
              </a>
              <a
                href="https://github.com/heddendorp/tumi"
                target="_blank"
                class="text-base text-gray-300 hover:text-gray-100"
              >
                <mat-icon svgIcon="icon-github"></mat-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
