<h1 class="font-bold text-xl mb-2">Register Online</h1>
<ng-container *ngIf="profileIncomplete$ | ngrxPush; else signup">
  <p class="my-2">
    It seems like your profile on the TUMi app is not yet complete, please make
    sure your data is up to date.
  </p>
  <a routerLink="/profile" target="_blank" mat-raised-button color="primary">
    Go to profile
  </a>
</ng-container>
<ng-template #signup>
  <p>You can register for this event right here</p>
  <button
    mat-stroked-button
    color="primary"
    [disabled]="!(canSignUp$ | ngrxPush)"
    (click)="register()"
  >
    Register now
  </button>
</ng-template>
