<h1 class="mat-display-4">Imprint</h1>
<div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="2rem">
  <div fxLayout="column" style="max-width: 600px">
    <p>
      This app was created by students for the TUMinternational Programme. For all questions you can reach our team at
      <a href="mailto:webmaster@esn-tumi.de" class="styled">webmaster@esn-tumi.de</a>. Development is handled primarily
      by volunteer students and is publicly visible on
      <a href="https://github.com/Isigiel/tumi-app" class="styled">Github</a>, where you can also see the entire source
      code for this application.
    </p>
    <strong style="margin-top: 2rem;">Coordination of the TUMi Programme</strong>
    <p>
      Thomas Bergmann, M.A. <br>
      Tel.: +49 (89) 289 - 25477 <br>
      <a href="mailto:tumi-koordination@zv.tum.de" class="styled">tumi-koordination@zv.tum.de</a>
    </p>
  </div>
  <div fxLayout="column">
    <strong>Postal Address</strong>
    <p>
      TUM International Center <br />
      Technical University of Munich <br />
      Arcisstr. 21 <br />
      80333 Munich <br />
      Germany
    </p>
  </div>
</div>
