<mat-toolbar>
  <app-back-button></app-back-button>
  @if (event$ | async; as event) {
    <div class="flex-1 truncate">Run {{ event.title }}</div>
  }
</mat-toolbar>
@if ((event$ | async) === null) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
@if (event$ | async; as event) {
  <main class="flex flex-col gap-8 p-4">
    <a mat-fab extended routerLink="scan">
      <mat-icon svgIcon="icon-barcode-scanner-2"></mat-icon>
      Scan code
    </a>

    <div class="flex flex-col flex-wrap gap-4 md:flex-row">
      <button mat-stroked-button (click)="copyOrganizerMails()">
        <mat-icon svgIcon="icon-copy"></mat-icon>
        <span>Copy mails of organizers</span>
      </button>
      <button mat-stroked-button (click)="copyParticipantMails()">
        <mat-icon svgIcon="icon-copy"></mat-icon>
        <span>Copy mails of participants</span>
      </button>
      <button mat-stroked-button (click)="copyCheckedInMails()">
        <mat-icon svgIcon="icon-copy"></mat-icon>
        <span>Copy mails of checked in users</span>
      </button>
      <button mat-stroked-button (click)="copyNonCheckedMails()">
        <mat-icon svgIcon="icon-copy"></mat-icon>
        <span>Copy mails of non checked in users</span>
      </button>
    </div>
    <div
      class="rounded-2xl bg-secondary-container p-4 text-secondary-onContainer shadow-xl"
    >
      <div class="mb-4 flex items-center gap-4">
        <mat-icon
          svgIcon="icon-cash-receipt"
          class="card-icon bg-secondary-on text-secondary-default"
        >
        </mat-icon>
        @if (event.costItems.length) {
          <h2 class="font-bold">Required receipts</h2>
        } @else {
          <h2 class="font-bold">Receipt upload</h2>
        }
      </div>
      <mat-nav-list>
        @for (costItem of event.costItems; track costItem) {
          <a mat-list-item routerLink="receipts/{{ costItem.id }}">
            <h1 matListItemTitle>
              {{ costItem.name }}
            </h1>
            <p matListItemLine>
              for {{ costItem.amount | currency }} (
              {{ costItem.submittedAmount | currency }} already submitted with
              receipts)
            </p>
          </a>
        }
        <button mat-list-item (click)="addCostItem()">
          <h1 matListItemTitle> Add new receipt </h1>
        </button>
      </mat-nav-list>
      <p class="mb-2">
        You can upload multiple photos of receipts for each entry. Please make
        sure to add all receipts! After you upload a receipt, please write the
        Finance Coordinator to initiate the refund.
      </p>
    </div>

    <ul
      class="divide-y-2 divide-gray-600 divide-opacity-25 rounded-2xl bg-secondary-container text-primary-onContainer shadow-xl sm:grid sm:grid-cols-3 sm:divide-x-2 sm:divide-y-0"
    >
      <li class="p-4">
        <p class="font-extrabold md:text-2xl">
          {{ event.participantRegistrationCount }}
        </p>
        <p class="mt-1 font-medium md:text-xl">Registrations</p>
      </li>

      <li class="p-4">
        <p class="font-extrabold md:text-2xl">{{
          event.participantsAttended
        }}</p>
        <p class="mt-1 font-medium md:text-xl">Users checked in</p>
      </li>

      <li class="p-4">
        <p class="font-extrabold md:text-2xl">{{ event.participantLimit }}</p>
        <p class="mt-1 font-medium md:text-xl">Participant spots</p>
      </li>
    </ul>

    <div class="flex flex-col gap-8 lg:flex-row">
      <div
        class="rounded-2xl bg-secondary-container p-4 text-secondary-onContainer shadow-xl"
      >
        <div class="mb-4 flex justify-center gap-4">
          <mat-icon
            svgIcon="icon-conference"
            class="card-icon bg-secondary-on text-secondary-default"
          >
          </mat-icon>
          <h2 class="font-bold">Organizers</h2>
        </div>
        <div class="flex flex-col gap-2 lg:w-96">
          @for (
            registration of event.organizerRegistrations;
            track registration
          ) {
            <div class="flex gap-2">
              <div class="group block flex-shrink-0 flex-grow">
                <div class="flex items-center">
                  <div>
                    <img
                      class="inline-block h-9 w-9 rounded-full"
                      [src]="registration.user.picture"
                      referrerpolicy="no-referrer"
                      alt=""
                    />
                  </div>
                  <div class="ml-3">
                    <p
                      class="text-sm font-medium text-gray-700 group-hover:text-gray-900"
                      >{{ registration.user.fullName }}</p
                    >
                    @if (registration.user.acceptPhoneUsage) {
                      <p
                        class="text-xs font-medium text-gray-500 group-hover:text-gray-700"
                      >
                        {{ registration.user.phone }}
                      </p>
                    } @else {
                      <p
                        class="text-xs font-medium text-gray-500 group-hover:text-gray-700"
                      >
                        {{ registration.user.communicationEmail }}
                      </p>
                    }
                  </div>
                </div>
              </div>
              @if (registration.user.acceptPhoneUsage) {
                @if (registration.user.phoneNumberOnWhatsapp) {
                  <a
                    [href]="
                      getWhatsAppLink(registration.user.phone ?? undefined)
                    "
                    mat-icon-button
                  >
                    <mat-icon svgIcon="icon-whatsapp"></mat-icon>
                  </a>
                }
                <a href="tel:{{ registration.user.phone }}" mat-icon-button>
                  <mat-icon svgIcon="icon-phone-disconnected"></mat-icon>
                </a>
              } @else {
                <a
                  href="mailto:{{ registration.user.communicationEmail }}"
                  mat-icon-button
                >
                  <mat-icon svgIcon="icon-new-post"></mat-icon>
                </a>
              }
            </div>
          }
        </div>
      </div>

      <div
        class="rounded-2xl bg-secondary-container p-4 text-secondary-onContainer shadow-xl"
      >
        <div class="mb-4 flex justify-center gap-4">
          <mat-icon
            svgIcon="icon-conference"
            class="card-icon bg-secondary-on text-secondary-default"
          >
          </mat-icon>
          <h2 class="font-bold">Participants</h2>
        </div>
        <div class="flex flex-col gap-2 lg:w-96">
          @for (
            registration of event.participantRegistrations;
            track registration
          ) {
            <div class="flex gap-2">
              <div class="group block flex-shrink-0 flex-grow">
                <div class="flex items-center">
                  <div>
                    <img
                      class="inline-block h-9 w-9 rounded-full"
                      [src]="registration.user.picture"
                      referrerpolicy="no-referrer"
                      alt=""
                    />
                  </div>
                  <div class="ml-3">
                    <p
                      class="text-sm font-medium text-gray-700 group-hover:text-gray-900"
                      >{{ registration.user.fullName }}</p
                    >
                    @if (registration.user.acceptPhoneUsage) {
                      <p
                        class="text-xs font-medium text-gray-500 group-hover:text-gray-700"
                      >
                        {{ registration.user.phone }}
                      </p>
                    } @else {
                      <p
                        class="text-xs font-medium text-gray-500 group-hover:text-gray-700"
                      >
                        {{ registration.user.communicationEmail }}
                      </p>
                    }
                  </div>
                </div>
              </div>
              @if (registration.user.acceptPhoneUsage) {
                @if (registration.user.phoneNumberOnWhatsapp) {
                  <a
                    [href]="
                      getWhatsAppLink(registration.user.phone ?? undefined)
                    "
                    mat-icon-button
                  >
                    <mat-icon svgIcon="icon-whatsapp"></mat-icon>
                  </a>
                }
                <a href="tel:{{ registration.user.phone }}" mat-icon-button>
                  <mat-icon svgIcon="icon-phone-disconnected"></mat-icon>
                </a>
              } @else {
                <a
                  href="mailto:{{ registration.user.communicationEmail }}"
                  mat-icon-button
                >
                  <mat-icon svgIcon="icon-new-post"></mat-icon>
                </a>
              }
            </div>
          }
        </div>
      </div>
    </div>

    <div
      class="rounded-2xl bg-secondary-container p-4 text-secondary-onContainer shadow-xl"
    >
      <div class="mb-4 flex justify-center gap-4">
        <mat-icon
          svgIcon="icon-conference"
          class="card-icon bg-secondary-on text-secondary-default"
        >
        </mat-icon>
        <h2 class="font-bold">Participant overview</h2>
      </div>
      <app-event-participants-table
        [event]="event"
      ></app-event-participants-table>
      <!--    <div class="flex flex-col flex-wrap gap-4 md:flex-row">-->
      <!--      <div-->
      <!--        class="flex flex-row items-center gap-1"-->
      <!--        *ngFor="let registration of event.participantRegistrations"-->
      <!--      >-->
      <!--        <div class="flex-1">-->
      <!--          <app-user-chip-->
      <!--            size="md"-->
      <!--            [id]="registration.user.id"-->
      <!--            [picture]="registration.user.picture"-->
      <!--            [name]="registration.user.fullName"-->
      <!--            [phone]="registration.user.phone || ''"-->
      <!--            [checkedIn]="!!registration.checkInTime"-->
      <!--            [status]="registration.user.currentTenant?.status + ''"-->
      <!--          >-->
      <!--            <ng-container *ngIf="!registration.checkInTime">-->
      <!--              <button-->
      <!--                mat-icon-button-->
      <!--                -->
      <!--                (click)="checkin(registration.id)"-->
      <!--                *appIfRole="[Role.Admin]"-->
      <!--              >-->
      <!--                <mat-icon svgIcon="icon-checked"></mat-icon>-->
      <!--              </button>-->
      <!--            </ng-container>-->
      <!--          </app-user-chip>-->
      <!--        </div>-->
      <!--        <div *ngFor="let submission of registration.submissions">-->
      <!--          <p class="font-bold">{{ submission.submissionItem.name }}</p>-->
      <!--          <p>{{ submission.data.value }}</p>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--    </div>-->
    </div>
    <div
      class="rounded-2xl bg-secondary-container p-4 text-secondary-onContainer shadow-xl"
    >
      <div class="mb-4 flex justify-center gap-4">
        <mat-icon
          svgIcon="icon-conference"
          class="card-icon bg-secondary-on text-secondary-default"
        >
        </mat-icon>
        <h2 class="font-bold">Data Submissions</h2>
      </div>
      <app-event-submission-overview
        [registrations]="event.participantRegistrations"
        [submissionItems]="event.submissionItems"
      ></app-event-submission-overview>
    </div>
  </main>
}
