<app-grid minWidth="350px">
  <ng-container *ngIf="events">
    <ng-container *ngFor="let event of events; trackBy: getId; let i = index">
      <span
        *ngIf="
          i === 0 ||
          (events[i - 1].start | date: 'shortDate') !==
            (event.start | date: 'shortDate')
        "
        gdColumn="-1/1"
        class="text-lg mt-2"
      >
        <span class="font-[400]">{{ event.start | date: 'EEEE' }}, </span>
        <span class="font-semibold">{{ event.start | date: 'd LLLL' }}</span>
      </span>
      <app-events-list-item
      [event]="event"
      class="block h-full"
    ></app-events-list-item>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!events">
    <ng-container *ngFor="let event of [].constructor(3)">
      <div  gdColumn="-1/1">
        <span class="skeleton text-lg mt-2"
          >Weekday, XX XXXXX
        </span>
      </div>
      <app-events-list-item
        *ngFor="let event of [].constructor(2)"
        class="block h-full"
      ></app-events-list-item>
    </ng-container>
  </ng-container>
</app-grid>
