<app-grid minWidth="350px">
  <ng-container *ngFor="let event of events; trackBy: getId; let i = index">
    <span
      *ngIf="
        i === 0 ||
        (events[i - 1].start | date: 'shortDate') !==
          (event.start | date: 'shortDate')
      "
      gdColumn="-1/1"
      class="text-lg mt-2"
      >
        <span class="font-[400]">{{ event.start | date: 'EEEE' }}, </span>
        <span class="font-semibold">{{ event.start | date: 'd LLLL' }}</span>
      </span
    >
    <app-events-list-item
      [event]="event"
      class="block h-full"
    ></app-events-list-item>
  </ng-container>
</app-grid>
