<h1
  class="text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-tr from-accent-600 to-accent-500 pb-8"
>
  Full Member Application
</h1>
<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="1rem">
  <div fxFlex="60" class="panel" *ngrxLet="application$; let application">
    <h2 class="text-xl mb-4">
      {{ application?.name }}
    </h2>
    <p class="prose md:prose-lg mb-4">
      {{ application?.comment }}
    </p>
    <p class="font-bold">Submitted events</p>
    <div gdAuto gdGap="1rem" gdColumns="repeat(2, max-content)">
      <ng-container *ngFor="let event of application?.events">
        <p>{{ event.name }}</p>
        <p>{{ event.comment }}</p>
      </ng-container>
    </div>
  </div>
</div>
