<div fxLayout="column" fxLayoutGap="2rem">
  <h1 class="mat-h2 no-margin">Get started</h1>
  <div fxLayout="column-reverse" fxLayout.gt-md="row" fxLayoutAlign="start start" fxLayoutGap="2rem">
    <section fxFlex>
      <h2 class="mat-h4">Why do I have to sign up?</h2>
      <p class="mat-body">
        In order to sign up for events we need to know who you are. So you can conveniently sign up here and enter your data so we can sign you up for events. Please note that an account is required for any event signup!
      </p>
      <h2 class="mat-h4">How do I pay for an event?</h2>
      <p class="mat-body">
        If the event requires payment the app will tell you to sign up in our office. There we will collect the money
        and confirm your participation after you payed. You will then see the event in your upcoming events.
      </p>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <button mat-stroked-button color="primary" (click)="login('google')">
          <mat-icon svgIcon="google"></mat-icon>
          <span>Sign up with Google</span>
        </button>
        <button disabled mat-stroked-button color="primary" (click)="login('microsoft')">
          <mat-icon svgIcon="microsoft"></mat-icon>
          <span>Sign up with microsoft</span>
        </button>
        <button disabled mat-stroked-button color="primary" (click)="login('facebook')">
          <mat-icon svgIcon="facebook"></mat-icon>
          <span>Sign up with facebook</span>
        </button>
        <button disabled mat-stroked-button (click)="login('email')">
          <mat-icon svgIcon="mail"></mat-icon>
          <span>Sign up with your Email</span>
        </button>
      </div>
      <p class="mat-caption">It's recommended to use a social account instead of making a new one with your email</p>

    </section>
    <img fxFlex="40" src="/assets/illustrations/signup.svg" />
  </div>
</div>
