<div fxLayout="column" fxLayoutGap="2rem">
  <h1 class="mat-display-2 no-margin">Get started</h1>
  <div fxLayout="column-reverse" fxLayout.gt-md="row" fxLayoutAlign="start start" fxLayoutGap="2rem">
    <section fxFlex>
      <h2 class="mat-subheading-2">Why do I have to sign up?</h2>
      <p class="mat-body">
        In order to register for events you have to sign up here once and get a verified login. To get it just login and
        we will try to match your email with our database. Should the email match fail we'll request some additional
        info and then take a manual look at your case.
      </p>
      <p class="mat-body">
        Once your account is active you can sign up for events and see the events you have coming up in the app.
      </p>
      <h2 class="mat-subheading-2">How do I pay for an event?</h2>
      <p class="mat-body">
        If the event requires payment the app will tell you to sign up in our office. There we will collect the money
        and confirm your participation after you payed. You will then see the event in your upcoming events.
      </p>
      <button
        (click)="login()"
        [disabled]="authenticated$ | async"
        color="primary"
        mat-raised-button
        style="width: 100%;"
      >
        Begin Signup
      </button>
      <ng-container *ngIf="authenticated$ | async">
        <h2 class="mat-subheading-2">Thank you for authenticating</h2>
      </ng-container>
      <ng-container *ngIf="!(signedUp$ | async) && (authRequest$ | async)">
        <p class="mat-body">
          You already have a pending authorization request, we will look into this soon and activate your account.
        </p>
      </ng-container>
      <ng-container *ngIf="(authenticated$ | async) && !(signedUp$ | async) && !(authRequest$ | async)">
        <p class="mat-body">
          Your user is not activated yet so please help us by providing some more data
        </p>
        <form [formGroup]="requestForm" gdAuto gdColumns="repeat(2, 1fr)" gdGap="1rem">
          <mat-form-field>
            <input formControlName="firstName" matInput placeholder="First Name" />
          </mat-form-field>
          <mat-form-field>
            <input formControlName="lastName" matInput placeholder="Last Name" />
          </mat-form-field>
          <mat-form-field gdColumn="span 2">
            <input formControlName="email" matInput placeholder="E-Mail" type="email" />
            <mat-hint>Enter the email address you used to sign up with tum here please</mat-hint>
          </mat-form-field>
          <mat-form-field gdColumn="span 2">
            <textarea formControlName="comment" matInput placeholder="Leave a comment"></textarea>
            <mat-hint>If you want to leave us some more info with the request please do it here</mat-hint>
          </mat-form-field>
        </form>
        <button
          (click)="submitRequest()"
          [disabled]="requestForm.invalid"
          color="primary"
          mat-raised-button
          style="width: 100%;"
        >
          Submit request
        </button>
      </ng-container>
      <ng-container *ngIf="signedUp$ | async">
        <p class="mat-body">
          You are already signed up and activated so everything is good to go.
        </p>
      </ng-container>
    </section>
    <img fxFlex="40" src="/assets/illustrations/signup.svg" />
  </div>
</div>
