<ng-container *ngIf="user$ | async as user">
  <h1 class="text-4xl font-bold mb-4">Hey {{ user.firstName }} 👋</h1>
  <div class="border-2 border-gray-700 rounded px-4 py-2">
    <p class="text-xl font-bold font-mono mb-2">Contact Card</p>
    <p>
      {{ user.firstName }} {{ user.lastName }} from {{ country$ | ngrxPush }}
    </p>
    <div gdAuto gdColumns="max-content auto" gdGap="0 .5rem">
      <strong>Mail: </strong>
      <p>{{ user.email }}</p>
      <strong>Phone: </strong>
      <p>{{ user.phone }}</p>
      <strong>Address: </strong>
      <p class="whitespace-pre-wrap">{{ user.address }}</p>
      <strong>Status: </strong>
      <p>{{ user.friendlyType }}</p>
    </div>

    <p class="text-sm text-gray-500 mt-4">
      We collect this data to secure public funding for our events and have
      enough data for contact tracing. Please make sure all data is accurate or
      update it.
    </p>
  </div>
  <button
    (click)="editProfile()"
    color="primary"
    mat-flat-button
    style="margin: 1rem 0"
  >
    Update contact
  </button>
</ng-container>
<ng-container *ngIf="isTutor$ | ngrxPush">
  <h2>Your're a tutor for</h2>
  <app-event-grid
    [events]="tutorEvents$ | ngrxPush"
    [showCounts]="true"
  ></app-event-grid>
  <div style="margin-bottom: 2rem"></div>
</ng-container>
<h2>Your Events</h2>
<app-event-grid
  [events]="events$ | ngrxPush"
  [showCounts]="false"
></app-event-grid>
