<div>
  <div class="check-registration-time-container">
    <fieldset [disabled]="(registrationOpen$ | async) === false">
      <div class="check-registration-time-content-wrapper">
        <ng-content></ng-content>
      </div>
    </fieldset>
    <div
      class="check-registration-time-card"
      *ngIf="(registrationOpen$ | async) === false"
    >
      <h3 class="font-semibold">🔒 Registration not open yet</h3>
      <p>
        Opens {{ remainingTime$ | async }} on
        {{ event?.registrationStart | date: "E, MMMM d, y  'at' h:mm a" }}
      </p>
    </div>
  </div>
</div>
