:host .check-registration-time-container {
  position: relative;
}

:host .check-registration-time-container > .check-registration-time-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: fit-content;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

:host fieldset:disabled .check-registration-time-content-wrapper {
  pointer-events: none;
  user-select: none;
  --webkit-touch-callout: none; // iOS Safari
  filter: grayscale(1) opacity(0.1);
}
