:host {
  display: block;
  margin-top: 2rem;
}
.student {
  border: 1px solid gray;
  border-collapse: collapse;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.tag {
  border-radius: 4px;
  font-size: small;
  padding: 0 4px;
  color: white;
  background: #1565c0;
}
table {
  border-collapse: collapse;
}
.table-row {
  td {
    border: 1px solid black;
  }
}
