<div class="intro">
  <h1 class="mat-display-3" style="margin-bottom: 2rem;">Party Animals registration</h1>
  <p>
    Hey there! <br/>
    We're happy to see that you're interested in joining the <strong>Party Animals</strong>. Please read through the
    remaining info we have for you and follow the instructions to sign up. It's going to be awesome having you on board.
    <br/><br/>
    The cost of party animals is 50 EUR per person, payable on the first day.
  </p>
  <p class="mat-caption">
    If you still have questions about TUMi or Party Animals ypu can find us on facebook at
    <a class="styled" href="https://www.facebook.com/esntumi.munchen">facebook.com/esntumi.munchen</a>.
  </p>
  <p class="mat-caption" style="margin-bottom: 4rem;">
    If you encounter technical trouble while signing up please contact
    <em><a class="styled" href="mailto:webmaster@esn-tumi.de?subject=[TUMi app] PA signup">webmaster@esn-tumi.de</a></em
    >.
  </p>
  <h1 class="mat-display-4" style="margin-bottom: 2rem;">Frequently asked questions</h1>
  <div
    class="faq"
    gdAuto
    gdColumns="repeat(1, 1fr)"
    gdColumns.gt-sm="repeat(auto-fit, minmax(400px, 1fr))"
    gdGap="1rem"
  >
    <div>
      <strong>Can I be in a group with my friends?</strong>
      <p>
        No. You can't decide what group you are in and the spirit of party animals is finding new friends along the way.
      </p>
    </div>
    <div>
      <strong>What if I'm not that much of a party-person?</strong>
      <p>
        If partying and the accompanying alcohol are not really your jam, check out the countless other orientation week
        events we have prepared for you.
      </p>
    </div>
    <div>
      <strong>What if I can only attend some events?</strong>
      <p>
        Please refer to the schedule to make sure that you can attend as many events as possible, Party Animals is meant
        to be done together. If the schedule doesn't work for you, check out some of the other events we have prepared
        for you in the first weeks.
      </p>
    </div>
    <div>
      <strong>Can I cancel after I signed up?</strong>
      <p>
        Yes. There will be a period for cancelling your registration, but please put some thought into it before you
        sign up.
      </p>
    </div>
    <div>
      <strong>How do you select who gets in?</strong>
      <p>
        Selection is mainly done by registration order, we do however try to keep the groups diverse a balanced.
      </p>
    </div>
    <div>
      <strong>Where can I find out more?</strong>
      <p>
        To find out more about Party Animals go to the info site we have made for you.
      </p>
      <button mat-stroked-button routerLink="/party-animals">Go to overview</button>
    </div>
  </div>
  <!--<h1 class="mat-display-4" style="margin-bottom: 2rem;">The Facts</h1>
  <div class="facts" gdAuto gdColumns="max-content auto" gdGap="0.5rem">
    <strong>Duration:</strong>
    <p>2nd to 15th of April</p>
    <strong>Price:</strong>
    <p>TBA Euro</p>
    <strong>Location:</strong>
    <p>In and around munich</p>
  </div>-->
</div>
<h1 class="mat-display-4" style="margin-bottom: 2rem; margin-top: 3rem; margin-left: 2rem;">Registration</h1>
<mat-card *ngIf="(user$ | async)?.paStatus == 'applied'" style="margin: 2rem;">
  <mat-card-header>
    <mat-card-title>You're signed up!</mat-card-title>
    <mat-card-subtitle>We'll be in touch</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    You have completed the Party Animals registration! We will contact you in 1 to 2 weeks about how to proceed
  </mat-card-content>
</mat-card>
<mat-card *ngIf="(user$ | async)?.paStatus == 'internal'" style="margin: 2rem;">
  <mat-card-header>
    <mat-card-title>You're signed up!</mat-card-title>
    <mat-card-subtitle>INTERNAL</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Your application was marked as being TUMi internal, if you believe this is an error please contact us as soon as
    possible and we will see to solving the problem
  </mat-card-content>
</mat-card>
<mat-vertical-stepper
  *ngIf="!(isAuthenticated$ | async) || !(user$ | async)?.paStatus || (user$ | async)?.paStatus == 'started'"
  [linear]="true">
  <ng-template matStepperIcon="edit">
    ✏️
  </ng-template>

  <ng-template matStepperIcon="done">
    🗸
  </ng-template>
  <mat-step [completed]="isAuthenticated$ | async" [editable]="false">
    <ng-template matStepLabel>Sign into your TUMi account</ng-template>
    <p>
      In order to take part in any TUMi event, including party animals, you need to register on this site. Don't worry,
      it'll only take a second
    </p>
    <div *ngIf="!(isAuthenticated$ | async)" fxLayout="column" fxLayoutGap="1rem">
      <mat-checkbox [formControl]="consentControl"
      >By signing in I accept the <a class="styled" routerLink="/data-privacy">Privacy Policy</a>
      </mat-checkbox>
      <div class="login-buttons" gdAuto gdColumns="repeat(auto-fit, minmax(250px, 1fr))" gdGap="1rem" id="buttons">
        <button (click)="googleLogin()" [disabled]="!consentControl.value" color="primary" mat-stroked-button>
          <mat-icon svgIcon="google"></mat-icon>
          <span>Sign up with Google</span>
        </button>
        <button
          (click)="oauthLogin('microsoft.com')"
          [disabled]="!consentControl.value || isStaging"
          color="primary"
          mat-stroked-button
        >
          <mat-icon svgIcon="microsoft"></mat-icon>
          <span>Sign up with microsoft</span>
        </button>
        <button
          (click)="facebookLogin()"
          [disabled]="!consentControl.value || isStaging"
          color="primary"
          mat-stroked-button
        >
          <mat-icon svgIcon="facebook"></mat-icon>
          <span>Sign up with facebook</span>
        </button>
        <button (click)="passwordLogin()" [disabled]="!consentControl.value" mat-stroked-button>
          <mat-icon svgIcon="mail"></mat-icon>
          <span>Sign up with your Email</span>
        </button>
      </div>
      <div>
        <p class="mat-caption">It's recommended to use a social account instead of making a new one with your email</p>
        <p class="mat-caption">
          If you have <strong>forgotten your password</strong>, please contact us at
          <em
          ><a class="styled" href="mailto:webmaster@esn-tumi.de?subject=[TUMi app] password reset"
          >webmaster@esn-tumi.de</a
          ></em
          >
          to get a reset.
        </p>
      </div>
    </div>
    <div *ngIf="isAuthenticated$ | async"><strong>Good Job! </strong><span>You can continue now</span></div>
    <button [disabled]="!(isAuthenticated$ | async)" mat-stroked-button matStepperNext style="margin-top: 1rem;">
      Next
    </button>
  </mat-step>
  <mat-step [editable]="false" [stepControl]="personalData">
    <form [formGroup]="personalData" gdAuto gdColumns="repeat(1, 1fr)" gdColumns.gt-sm="repeat(2, 1fr)" gdGap="2rem">
      <ng-template matStepLabel>Tell us something about yourself</ng-template>
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input formControlName="firstName" matInput required/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input formControlName="lastName" matInput required/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Call Name</mat-label>
        <input formControlName="callBy" matInput/>
        <mat-hint>Please enter the name you want to be called by</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender" required>
          <mat-option value="f">
            Female
          </mat-option>
          <mat-option value="m">
            Male
          </mat-option>
          <mat-option value="d">
            Other
          </mat-option>
          <mat-option value="n">
            Prefer not to say
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput required type="email"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>WhatsApp Number</mat-label>
        <input formControlName="phone" matInput required type="tel"/>
        <mat-hint
        >Format: +49 123 123456 We will form a WhatsApp group chat once we assign you to one of the Party Animals
          teams.
        </mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Home country</mat-label>
        <mat-select formControlName="country" required>
          <mat-option *ngFor="let country of countries | async" [value]="country.alpha2Code">
            {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Home University</mat-label>
        <input formControlName="university" matInput required/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Faculty @ TUM</mat-label>
        <mat-select formControlName="faculty" required>
          <mat-option *ngFor="let faculty of faculties" [value]="faculty.key">
            {{ faculty.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="type" required>
          <mat-option *ngFor="let type of studentTypes" [value]="type.key">
            {{ type.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox formControlName="esnMember" gdGridAlign="start center">I'm an ESN member at home</mat-checkbox>
      <mat-form-field>
        <mat-label>My ESN section</mat-label>
        <input formControlName="esnSection" matInput required/>
      </mat-form-field>
      <button (click)="saveUserdata()" mat-stroked-button matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step [editable]="false" [stepControl]="partyData">
    <form [formGroup]="partyData" gdAuto gdColumns="repeat(1, 1fr)" gdColumns.gt-sm="repeat(2, 1fr)" gdGap="2rem">
      <ng-template matStepLabel>What's your Party Animal?</ng-template>
      <mat-checkbox formControlName="referred" gdGridAlign="start center">A friend told me to sign up</mat-checkbox>
      <mat-form-field>
        <mat-label>That friends name</mat-label>
        <input formControlName="referrer" matInput required/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Shirt size</mat-label>
        <mat-select formControlName="size" required>
          <mat-option value="s">
            S
          </mat-option>
          <mat-option value="m">
            M
          </mat-option>
          <mat-option value="l">
            L
          </mat-option>
          <mat-option value="xl">
            XL
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Have you been a Party Animal before?</mat-label>
        <mat-select formControlName="oldie" required>
          <mat-option [value]="true">
            Yes! And I need more
          </mat-option>
          <mat-option [value]="false">
            No, can't wait to become one
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field gdColumn.gt-xs="span 2" gdGridAlign="stretch end" gdRow="span 3">
        <mat-label>My expectations for Party Animals</mat-label>
        <textarea formControlName="expectations" matInput required rows="6"></textarea>
      </mat-form-field>
      <mat-form-field gdColumn.gt-xs="span 2" gdGridAlign="stretch end" gdRow="span 3">
        <mat-label>Special requests</mat-label>
        <textarea formControlName="requests" matInput rows="4"></textarea>
      </mat-form-field>
      <button (click)="savePartyData()" mat-stroked-button matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step [stepControl]="acceptData" editable="false">
    <form [formGroup]="acceptData" fxLayout="column" fxLayoutGap="2rem">
      <ng-template matStepLabel>Understand some things</ng-template>
      <div>
        <p>The payment for Party Animals will happen in cash on the first day of the program.</p>
        <mat-checkbox formControlName="pay">I understand that</mat-checkbox>
      </div>
      <div>
        <p>
          We will create the groups. You cannot influence in which group you will end up, or who will be your mates
          (this is to ensure cultural diversity)
        </p>
        <mat-checkbox formControlName="friends">I understand that</mat-checkbox>
      </div>
      <div fxLayout="row" fxLayoutGap="1rem">
        <button (click)="sendApplication()" fxFlex mat-stroked-button matStepperNext>Sign up now!</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done!</ng-template>
    <p>You are now done.</p>
  </mat-step>
</mat-vertical-stepper>
