<div fxLayout="row" fxLayoutAlign="space-between center" class="mb-6">
  <h1
    class="
      text-6xl
      font-bold
      text-transparent
      bg-clip-text bg-gradient-to-tr
      from-accent-600
      to-accent-500
    "
  >
    Events
  </h1>
  <button
    mat-flat-button
    color="accent"
    *ngIf="(user$ | ngrxPush)?.canCreateEvents"
    (click)="createEvent()"
  >
    Add Event
  </button>
</div>
<div
  fxLayout="column"
  fxLayout.gt-sm="row"
  fxLayoutGap="1rem"
  *ngrxLet="user$; let user"
>
  <mat-form-field fxFlex="auto">
    <mat-label>Show me</mat-label>
    <mat-select [formControl]="eventTypes">
      <mat-option value="appointment">Appointments</mat-option>
      <mat-option value="event">Events</mat-option>
      <!--        <mat-option value="bundle">Bundles</mat-option>-->
      <!--        <mat-option value="product">Products</mat-option>-->
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex="auto" *ngIf="user?.isMember">
    <mat-label>Show events starting after</mat-label>
    <input matInput [formControl]="dateFilter" [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<app-event-grid
  [events]="events$ | ngrxPush"
  [showCounts]="(user$ | ngrxPush)?.isMember"
  [dayDividers]="true"
></app-event-grid>
