<app-reactive-toolbar>
  <mat-toolbar color="white">
    <app-back-button></app-back-button>
    <div
      resetScroll
      class="flex-1 truncate"
      *ngIf="costItem$ | async as costItem"
    >
      {{ costItem.name }} ({{ costItem.event.title }})
    </div>
  </mat-toolbar>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="(costItem$ | async) === null"
  ></mat-progress-bar>
</app-reactive-toolbar>
<main *ngIf="costItem$ | async as costItem" class="flex flex-col gap-4 p-4">
  <button mat-fab extended (click)="addReceipt()">
    <mat-icon svgIcon="icon-add"></mat-icon>
    Add receipt
  </button>
  <app-grid minWidth="500px">
    <div *ngFor="let receipt of costItem.receipts">
      <img
        *ngIf="!receipt.type?.includes('pdf')"
        [ngSrc]="receipt.url"
        width="192"
        height="192"
      />
      <object
        class="block"
        *ngIf="receipt.type?.includes('pdf')"
        [data]="sanitizeUrl(receipt.url)"
        type="application/pdf"
        width="500px"
        height="500px"
      ></object>
      <p class="mt-2">
        <span class="font-bold">{{ receipt.amount | currency }}</span>
        <span class="ml-1">submitted by {{ receipt.user.fullName }}</span>
      </p>
      <div
        fxLayoutAlign="space-between"
        fxLayout="row"
        fxLayoutGap=".5rem"
        class="mt-2"
      >
        <a
          [href]="receipt.originalUrl"
          mat-flat-button
          color="accent"
          class="modern"
          download
          target="_blank"
        >
          <mat-icon svgIcon="icon-download"></mat-icon>
          <span>Download original</span>
        </a>
        <button
          mat-flat-button
          color="warn"
          (click)="deleteReceipt(receipt)"
          class="modern"
        >
          <mat-icon svgIcon="icon-delete-forever"></mat-icon>
          <span>Delete</span>
        </button>
      </div>
    </div>
  </app-grid>
</main>
