<div
  class="navigation {{ outlet.activatedRouteData.navigationMode }} md:hidden"
>
  <a routerLink="/about" class="esn-logo">
    <img
      src="/assets/logos/esn_light.svg"
      alt="ESN logo"
      class="object-contain h-12"
    />
  </a>
  <input #toggle id="toggle" type="checkbox" />

  <!-- IMPORTANT: Any element that we want to modify when the checkbox state changes go here, being "sibling" of the checkbox element -->

  <!-- This label is tied to the checkbox, and it will contain the toggle "buttons" -->
  <label class="toggle-container" for="toggle">
    <!-- If menu is open, it will be the "X" icon, otherwise just a clickable area behind the hamburger menu icon -->
    <span class="button button-toggle"></span>
  </label>

  <!-- The nav menu -->
  <nav class="nav" (click)="toggle.checked = false">
    <a class="nav-item" routerLink="incoming">For Incomings </a>
    <a class="nav-item" routerLink="local">For Locals</a>
    <a class="nav-item" routerLink="tumi">About TUMi</a>
    <a class="nav-item" routerLink="/">Open the App</a>
  </nav>
</div>
<div
  class="navigation {{
    outlet.activatedRouteData.navigationMode
  }} hidden md:block"
>
  <nav fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center">
    <a
      class="text-md lg:test-xl py-2 px-3 rounded hover:bg-white hover:bg-opacity-20 font-medium"
      routerLinkActive="bg-opacity-10 bg-white"
      routerLink="incoming"
      >For Incomings</a
    >
    <a
      class="text-md lg:test-xl py-2 px-3 rounded hover:bg-white hover:bg-opacity-20 font-medium"
      routerLinkActive="bg-opacity-10 bg-white"
      routerLink="local"
      >For Locals</a
    >
    <a
      class="text-md lg:test-xl py-2 px-3 rounded hover:bg-white hover:bg-opacity-20 font-medium"
      routerLinkActive="bg-opacity-10 bg-white"
      routerLink="tumi"
      >About TUMi</a
    >
    <a
      class="text-md lg:test-xl py-2 px-3 rounded hover:bg-white hover:bg-opacity-20 font-medium"
      routerLink="/"
      >Open the App</a
    >
    <div fxFlex="noshrink"></div>
    <a routerLink="/about">
      <img
        src="/assets/logos/full_light.svg"
        alt="TUMi logo"
        class="object-contain h-16 lg:h-20 outline-none"
      />
    </a>
  </nav>
</div>
<router-outlet #outlet="outlet"></router-outlet>
