<header class="relative">
  <img
    src="/assets/images/about/tower.jpg"
    alt="Picture of the TUM clock tower at night"
    class="cover-image"
  />
</header>
<section class="p-4 md:p-8">
  <h1
    class="mt-4 md:mt-0 mb-4 font-bold text-5xl md:text-6xl leading-snug text-transparent bg-clip-text bg-gradient-to-tr from-primary-800 to-primary-600"
  >
    ESN TUMi e.V.
  </h1>
  <p class="max-w-5xl leading-normal md:text-lg">
    The ESN TUMi e.V. was officially founded on the first of october 2020. In a
    year where we could do very little, we looked at our organization and used
    the opportunity to meaningfully change the basis on which we work. <br />
    The idea is much older than that though, TUMi has been operating as a direct
    part of the TUM Global & Alumni office for years. The changes we've made
    will allow us to keep a great thing going as an independent student
    organization. We still cooperate closely with the international office at
    TUM and could not offer the diverse program without them. <br />
    TUMi is also an ESN section, the Erasmus Student Network is active all
    throughout europe and wants to represent international students. ESN and
    TUMi both are based on the Principle of
    <span class="font-bold">students helping students</span>.
  </p>
</section>
<section class="p-4 md:p-8" fxLayout="column" fxLayoutGap="2rem">
  <h1
    class="font-bold text-4xl md:text-6xl leading-snug text-transparent bg-clip-text bg-gradient-to-tr from-accent-800 to-accent-600"
  >
    How TUMi works
  </h1>
  <div
    class="panel w-full"
    fxLayoutGap="2rem"
    fxLayoutAlign="start center"
    fxLayout="column"
  >
    <img src="/assets/icons/about/team.svg" alt="Icon of two people" />
    <h1
      class="font-bold text-4xl md:text-5xl leading-snug text-transparent bg-clip-text bg-gradient-to-tr from-gray-800 to-gray-600"
    >
      Our members
    </h1>
    <p class="leading-normal md:text-lg max-w-lg text-center">
      The Members of TUMi are the people who make the dream work, they organize
      events and take care of the participants on those events. Without these
      dedicated volunteers, TUMi would not be possible.
    </p>
  </div>
  <h1
    class="font-bold text-4xl md:text-5xl leading-snug text-transparent bg-clip-text bg-gradient-to-tr from-gray-800 to-gray-600"
    fxFlexAlign="center"
  >
    The board supporters
  </h1>
  <div fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutGap="2rem grid">
    <div fxFlex.gt-md="noshrink">
      <div
        class="panel"
        fxLayoutGap="2rem"
        fxLayoutAlign="start center"
        fxLayout="column"
      >
        <img src="/assets/icons/about/partner.svg" alt="Icon of two people" />
        <h1
          class="font-bold text-3xl md:text-4xl leading-snug text-transparent bg-clip-text bg-gradient-to-tr from-gray-800 to-gray-600"
        >
          Partnerships
        </h1>
        <p class="leading-normal md:text-lg max-w-md text-center">
          The partnership manager takes care of our partners and is always on
          the lookout for new ones. TUMi cooperates with other institutions for
          special events and in the form of special conditions for ESNcard
          holders.
        </p>
      </div>
    </div>
    <div fxFlex.gt-md="noshrink">
      <div
        class="panel"
        fxLayoutGap="2rem"
        fxLayoutAlign="start center"
        fxLayout="column"
      >
        <img src="/assets/icons/about/pr.svg" alt="Icon of two people" />
        <h1
          class="font-bold text-3xl md:text-4xl leading-snug text-transparent bg-clip-text bg-gradient-to-tr from-gray-800 to-gray-600"
        >
          Public Relations
        </h1>
        <p class="leading-normal md:text-lg max-w-md text-center">
          The PR manager is responsible for the external representation of TUMi,
          including print and digital advertising as well as merchandise. This
          includes taking care of the various channels TUMi uses and promoting
          our main events to the general public.
        </p>
      </div>
    </div>
    <div fxFlex.gt-md="noshrink">
      <div
        class="panel"
        fxLayoutGap="2rem"
        fxLayoutAlign="start center"
        fxLayout="column"
      >
        <img src="/assets/icons/about/calendar.svg" alt="Icon of two people" />
        <h1
          class="font-bold text-3xl md:text-4xl leading-snug text-transparent bg-clip-text bg-gradient-to-tr from-gray-800 to-gray-600"
        >
          Events
        </h1>
        <p class="leading-normal md:text-lg max-w-md text-center">
          The event manager oversees the events offered by TUMi. They help
          members plan new events and lay out the weekend trips during the
          semester. The event manager is also involved with organizing TUMis
          biggest event: Party Animals.
        </p>
      </div>
    </div>
    <div fxFlex.gt-md="noshrink">
      <div
        class="panel"
        fxLayoutGap="2rem"
        fxLayoutAlign="start center"
        fxLayout="column"
      >
        <img src="/assets/icons/about/web.svg" alt="Icon of two people" />
        <h1
          class="font-bold text-3xl md:text-4xl leading-snug text-transparent bg-clip-text bg-gradient-to-tr from-gray-800 to-gray-600"
        >
          Webmaster
        </h1>
        <p class="leading-normal md:text-lg max-w-md text-center">
          The webmaster is responsible for maintaining the IT-tools used by TUMi
          for communication and events. They also support members with IT
          related projects and problems using the existing tools.
        </p>
      </div>
    </div>
    <div fxFlex.gt-md="noshrink">
      <div
        class="panel"
        fxLayoutGap="2rem"
        fxLayoutAlign="start center"
        fxLayout="column"
      >
        <img src="/assets/icons/about/lr.svg" alt="Icon of two people" />
        <h1
          class="font-bold text-3xl md:text-4xl leading-snug text-transparent bg-clip-text bg-gradient-to-tr from-gray-800 to-gray-600"
        >
          Local Representative
        </h1>
        <p class="leading-normal md:text-lg max-w-md text-center">
          The local representative is TUMis connection to the larger ESN
          network. They bring national knowledge to the section and also serve
          as the contact point for the national board and other sections.
        </p>
      </div>
    </div>
  </div>
  <h1
    class="font-bold text-4xl md:text-5xl leading-snug text-transparent bg-clip-text bg-gradient-to-tr from-gray-800 to-gray-600"
    fxFlexAlign="center"
  >
    The board
  </h1>
  <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="2rem">
    <div
      class="panel w-full"
      fxLayoutGap="2rem"
      fxLayoutAlign="start center"
      fxLayout="column"
    >
      <img src="/assets/icons/about/finance.svg" alt="Icon of two people" />
      <h1
        class="font-bold text-3xl md:text-4xl leading-snug text-transparent bg-clip-text bg-gradient-to-tr from-gray-800 to-gray-600"
      >
        Treasurer
      </h1>
      <p class="leading-normal md:text-lg max-w-md text-center">
        Handles the finances of TUMi, they know where money came from and where
        it went.
      </p>
    </div>
    <div
      class="panel w-full"
      fxLayoutGap="2rem"
      fxLayoutAlign="start center"
      fxLayout="column"
    >
      <img src="/assets/icons/about/person.svg" alt="Icon of two people" />
      <h1
        class="font-bold text-3xl md:text-4xl leading-snug text-transparent bg-clip-text bg-gradient-to-tr from-gray-800 to-gray-600"
      >
        Vice President
      </h1>
      <p class="leading-normal md:text-lg max-w-md text-center">
        The vice president takes care of the association and its members. They
        are also responsible for integrating new members and managing the
        application process. Internal events and teambuilding for section
        members are also part of their work.
      </p>
    </div>
    <div
      class="panel w-full"
      fxLayoutGap="2rem"
      fxLayoutAlign="start center"
      fxLayout="column"
    >
      <img src="/assets/icons/about/monarch.svg" alt="Icon of two people" />
      <h1
        class="font-bold text-3xl md:text-4xl leading-snug text-transparent bg-clip-text bg-gradient-to-tr from-gray-800 to-gray-600"
      >
        President
      </h1>
      <p class="leading-normal md:text-lg max-w-md text-center">
        The president has to organize the board work and represent the
        association to stakeholders and local authorities. They also take care
        of strategic planning and task management.
      </p>
    </div>
  </div>
</section>
