<h1 class="mat-display-4">Party Animals Manager</h1>

<h2 class="mat-display-2">
  <span class="blue">{{ registrationMNum$ | async }}</span> +
  <span class="pink">{{ registrationFNum$ | async }}</span> = {{ registrationNum$ | async }} Registrations ({{
  (inProgress$ | async).length
  }} started)
</h2>

<div
  class="applications"
  gdAuto
  gdColumns="repeat(1, 1fr)"
  gdColumns.gt-sm="repeat(auto-fit, minmax(500px, 1fr))"
  gdGap="1rem"
>
  <mat-card *ngFor="let user of registrations$ | async" [ngClass]="user.gender">
    <mat-card-header>
      <mat-card-title>{{ user.callBy }} ({{ user.firstName }} {{ user.lastName }})</mat-card-title>
      <mat-card-subtitle>{{ user.paApplicationTime }}</mat-card-subtitle>
      <img *ngIf="user.photoURL" [src]="user.photoURL" mat-card-avatar/>
    </mat-card-header>
    <mat-card-content>
      <div gdAuto gdColumns="max-content auto" gdGap="1rem">
        <strong>Country:</strong>
        <p>{{ user.country }}</p>
        <strong>Home university:</strong>
        <p>{{ user.university }}</p>
        <strong>EMail:</strong>
        <p>{{ user.email }}</p>
        <strong>Size:</strong>
        <p>{{ user.partyData.size }}</p>
        <strong>Expectations:</strong>
        <p>{{ user.partyData.expectations }}</p>
        <strong>Special Requests:</strong>
        <p>{{ user.partyData.requests }}</p>
      </div>
      <!--        {{ user.partyData | json}}-->
    </mat-card-content>
    <mat-card-actions align="start">
      <button (click)="markAsInternal(user)" mat-stroked-button>Mark as internal</button>
    </mat-card-actions>
  </mat-card>
</div>
