<div fxLayout="column" fxLayoutGap="2rem">
  <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="1rem">
    <mat-card fxFlex class="rainbow-box">
      <mat-card-title-group>
        <img alt="TUMi Logo" appIconSrc="membership-card:fluent" mat-card-sm-image />
        <mat-card-title>Get your ESNcard</mat-card-title>
        <mat-card-subtitle>Get them at our office!</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <p>To get an ESNcard book an appointment with TUMi registration (📅/⚛️) and bring the following with you</p>
        <ul>
          <li>{{ 10 | currency: 'EUR' }} <b>in cash</b></li>
          <li>A picture of you measuring 2,8 x 3,8 cm <em>(will ne stuck on the card)</em></li>
        </ul>
        <p>We can then prepare your card in the office and make it ready to use</p>
      </mat-card-content>

      <mat-card-actions>
        <a href="https://esncard.org/blog/join-erasmus-generation-get-esncard" target="_blank" mat-stroked-button
          >Learn More</a
        >
      </mat-card-actions>
    </mat-card>
    <mat-card fxFlex *ngIf="incompleteProfile$ | async">
      <mat-card-title-group>
        <img alt="TUMi Logo" appIconSrc="box-important:fluent" mat-card-sm-image />
        <mat-card-title>MISSING INFO!</mat-card-title>
        <mat-card-subtitle>New regulations due to COVID-19!</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <p>
          Due to government issued regulations we have to collect additional data from you before you can sign up for
          events again.
        </p>
        <p>Please go to your profile and add the missing info now</p>
      </mat-card-content>
      <mat-card-actions>
        <a color="accent" routerLink="/events/my" mat-raised-button>Take me there</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <h1 class="mat-display-3 no-margin">Available Appointments</h1>
  <div gdAuto gdColumns="repeat(auto-fit, minmax(350px, 1fr))" gdGap="1rem">
    <ng-container *ngFor="let day of days$ | async">
      <h2 gdColumn="-1/1" style="margin: 1rem 0;">{{ day.date }}</h2>
      <mat-card
        *ngFor="let event of day.events; trackBy: getId"
        class="event"
        fxLayout="column"
        routerLink="/events/show/{{ event.id }}"
      >
        <mat-card-title-group>
          <img
            *ngIf="event.icon"
            fxFlex="80px"
            height="80px"
            loading="lazy"
            mat-card-sm-image
            [appIconSrc]="event.icon"
            width="80px"
          />
          <mat-card-title class="break-words">{{ event.name }} </mat-card-title>
          <mat-card-subtitle
            >{{ event.start | date: 'EEE dd MMM (bbbb)' }}
            <br />
            <em>{{ event.freeSpots }}</em>
          </mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content *ngIf="isTutor$ | async">
          Spots taken: {{ event.usersSignedUp }}/{{ event.participantSpots }}
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
