<main class="mt-6">
  <section class="mx-auto max-w-7xl px-4 sm:px-6">
    <div class="-mt-2 mb-4 flex items-center">
      <a routerLink="../.." class="text-">Admin</a>
      <mat-icon svgIcon="icon-forward" style="width: 1rem"></mat-icon>
      <a routerLink=".." class="text-">Invites</a>
      <mat-icon svgIcon="icon-forward" style="width: 1rem"></mat-icon>
      <span>Create</span>
    </div>
    <h1
      class="text-4xl font-extrabold tracking-tight text-slate-900 dark:text-slate-100 sm:text-5xl md:text-6xl"
    >
      Create Invites
    </h1>
    <p>
      You can create Invites to give new or existing users a certain status by
      using a special link
    </p>
  </section>
  <section class="mx-auto mt-4 max-w-7xl px-4 sm:px-6">
    <form
      [formGroup]="inviteForm"
      class="flex flex-col space-y-4"
      (ngSubmit)="submitForm()"
    >
      <mat-form-field>
        <mat-label>Email addresses</mat-label>
        <textarea matInput formControlName="emails"></textarea>
        <mat-hint>Please enter one mail address per line</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Membership Status</mat-label>
        <mat-select formControlName="status" required>
          <mat-option [value]="MembershipStatus.None">
            No section member
          </mat-option>
          <mat-option [value]="MembershipStatus.Trial">Trial member</mat-option>
          <mat-option [value]="MembershipStatus.Full">Full member</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="primary" [disabled]="inviteForm.invalid">
        Create Invites
      </button>
    </form>
  </section>
</main>
