// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tumi-app-primary: mat-palette($mat-blue);
$tumi-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tumi-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tumi-app-theme: mat-light-theme(
  (
    color: (
      primary: $tumi-app-primary,
      accent: $tumi-app-accent,
      warn: $tumi-app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tumi-app-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title {
  span {
    background: linear-gradient(33deg, #b92b27, #1565c0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  margin: 0 !important;
  font-weight: 500 !important;
}

mat-nav-list.mat-nav-list {
  .mat-list-item.active {
    background: mat-color($tumi-app-primary, default, 0.1);

    &:focus,
    &:hover {
      background: mat-color($tumi-app-primary, default, 0.2);
    }

    mat-icon {
      color: mat-color($tumi-app-primary);
    }
  }
}

button:not(.mat-icon-button),
a:not(.mat-icon-button) {
  .mat-button-wrapper {
    mat-icon.mat-icon {
      width: 24px !important;
      height: 24px !important;
      font-size: 24px !important;
      line-height: 24px !important;
      margin-right: 8px;
      margin-left: -8px;
    }
  }
}

mat-icon.mat-icon {
  width: 24px !important;
  height: 24px !important;
  font-size: 24px !important;
  line-height: 24px !important;

  &[matDatepickerToggleIcon] {
    width: 24px !important;
    height: 24px !important;
    font-size: 24px !important;
    line-height: 24px !important;
  }
}

.break-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a.styled {
  text-decoration: underline dashed;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    text-decoration: underline double;
  }
}

markdown {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  a {
    text-decoration: underline dashed;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      text-decoration: underline double;
    }
  }

  img {
    width: 100%;
    max-width: 600px;
  }
}
