<h1
  class="text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-tr from-accent-600 to-accent-500 pb-8"
>
  Application
</h1>
<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="1rem">
  <div fxFlex="60" class="panel" *ngrxLet="application$; let application">
    <h2 class="text-xl mb-8">
      {{ application?.name }} ({{ application?.email }})
    </h2>
    <div
      gdAuto
      gdGap="1rem"
      gdColumns="repeat(2, max-content)"
      gdColumns.gt-sm="repeat(4, max-content)"
    >
      <p>Phone:</p>
      <p>{{ application?.phone }}</p>
      <p>Birthday:</p>
      <p>{{ application?.birthday | date }} ({{ age$ | ngrxPush }})</p>
      <p>Country:</p>
      <p>{{ application?.country }}</p>
      <p class="font-bold" gdColumn="-1/1">Studies at TUM</p>
      <p>Field:</p>
      <p>{{ application?.studyField }}</p>
      <p>Level:</p>
      <p>{{ application?.studyLevel | titlecase }}</p>
      <p>Semester:</p>
      <p>{{ application?.studySemester }}</p>
      <p>Graduation:</p>
      <p>{{ application?.graduation | date }} ({{ studyTime$ | ngrxPush }})</p>
    </div>
    <p class="font-bold mt-4 mb-2">Language skills</p>
    <div gdAuto gdGap="1rem" gdColumns="repeat(2, max-content)">
      <ng-container *ngFor="let skill of application?.languages">
        <p>{{ skill.language }}</p>
        <p>{{ skill.level }}</p>
      </ng-container>
    </div>
    <p class="font-bold mt-4 mb-2">Motivation</p>
    <p class="prose md:prose-lg">{{ application?.motivation }}</p>
    <p class="font-bold mt-4 mb-2">International experience</p>
    <p class="prose md:prose-lg">{{ application?.experienceAbroad }}</p>
    <p class="font-bold mt-4 mb-2">Volunteering Experience</p>
    <p class="prose md:prose-lg">{{ application?.experienceVolunteering }}</p>
  </div>
  <div fxFlex="40" class="panel" fxLayout="column">
    <h2 class="text-xl font-bold mb-4">Votes</h2>
    <div *ngFor="let vote of votes$ | ngrxPush" class="mb-4">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
        <mat-icon [svgIcon]="vote.icon"></mat-icon>
        <p>{{ vote.author }}</p>
      </div>
      <p>{{ vote.comment }}</p>
    </div>
    <ng-container *ngIf="(alreadyVoted$ | ngrxPush) === false">
      <p class="font-bold">Add vote</p>
      <form fxLayout="column" [formGroup]="newVoteForm">
        <mat-form-field>
          <mat-label>Rating</mat-label>
          <mat-select formControlName="rating">
            <mat-option value="approve">Approve</mat-option>
            <mat-option value="neutral">Neutral</mat-option>
            <mat-option value="disapprove">Deny</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Comment</mat-label>
          <textarea matInput rows="3" formControlName="comment"></textarea>
        </mat-form-field>
        <button
          (click)="submitForm()"
          [disabled]="newVoteForm.invalid"
          mat-flat-button
          color="primary"
        >
          Add vote
        </button>
      </form>
    </ng-container>
    <div fxFlex="noshrink"></div>
    <ng-container *ngIf="canBeAccepted$ | ngrxPush; else cantAccept">
      <button mat-flat-button color="primary" (click)="acceptApplication()">
        Accept application
      </button>
    </ng-container>
    <ng-template #cantAccept>
      <p class="mt-4">
        You can accept this application as soon as there are at least two
        positive votes on it
      </p>
    </ng-template>
  </div>
</div>
