<h2 mat-dialog-title>Create form field</h2>
<mat-dialog-content>
  <form [formGroup]="fieldConfigForm" class="flex flex-col gap-2">
    <mat-form-field class="mt-1">
      <mat-label>Field type</mat-label>
      <mat-select formControlName="type">
        <mat-option value="text">Text</mat-option>
        <mat-option value="select">Selection</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Field name</mat-label>
      <input formControlName="label" matInput required />
    </mat-form-field>
    @if (type === 'select') {
      <p>Options for the select field</p>
      <ng-container formArrayName="options">
        @for (option of options.controls; track option; let i = $index) {
          <div class="flex gap-2">
            <mat-form-field>
              <mat-label>Option {{ i + 1 }}</mat-label>
              <input matInput [formControlName]="i" required />
            </mat-form-field>
            <button mat-icon-button (click)="options.removeAt(i)">
              <mat-icon svgIcon="icon-delete-forever"></mat-icon>
            </button>
          </div>
        }
      </ng-container>
      <button mat-button (click)="addOption()">
        <mat-icon svgIcon="icon-add"></mat-icon>Add option
      </button>
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="space-x-2">
  <button mat-dialog-close mat-flat-button>Cancel</button>
  <button
    [disabled]="fieldConfigForm.invalid"
    [mat-dialog-close]="fieldConfigForm.value"
    color="primary"
    mat-flat-button
  >
    Create field
  </button>
</mat-dialog-actions>
