<h1
  *ngrxLet="memberCount$; let count"
  class="text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-tr from-accent-700 to-accent-500 mb-2"
>
  Association Members ({{ count.full + count.trial }})
</h1>
<h2 class="mb-6 text-3xl text-accent-600" *ngrxLet="memberCount$; let count">
  Full: {{ count.full }} &nbsp; Trial: {{ count.trial }}
</h2>

<app-member-functions
  [members]="members$ | ngrxPush"
  [tutors]="tutors$ | ngrxPush"
></app-member-functions>

<mat-nav-list>
  <a
    *ngFor="let member of members$ | ngrxPush"
    routerLink="./{{ member.id }}"
    mat-list-item
  >
    <mat-icon
      mat-list-icon
      [svgIcon]="
        member.status === 'FULL' ? 'icon-full-version' : 'icon-trial-version'
      "
    ></mat-icon>
    <p mat-line>{{ member.name }}</p>
  </a>
</mat-nav-list>
