<div class="flex flex-col-reverse space-x-4 md:flex-row">
  <div>
    <markdown class="prose lg:prose-xl" [data]="event?.description"></markdown>
  </div>
  <div>
    <div
      class="sticky top-5 aspect-square w-full min-w-[200px] overflow-hidden rounded-md bg-gray-200 p-4 group-hover:opacity-75"
    >
      <img
        src="{{ event?.icon ?? null | iconUrl }}"
        alt="Front of men&#039;s Basic Tee in black."
        class="aspect-square w-full object-fill object-center"
      />
    </div>
  </div>
</div>
