<div lang="de" class="gradient -mb-8 leading-normal tracking-normal text-white">
  <div class="pt-8 sm:pt-24">
    <div
      class="container mx-auto flex flex-col flex-wrap items-center px-6 pb-16 md:flex-row md:px-10"
    >
      <!--Left Col-->
      <div
        class="flex flex-col items-start justify-center sm:text-center md:w-1/2 md:pr-12 md:text-left"
      >
        <!-- <p class="uppercase tracking-loose w-full">Was ist TUMi?</p> -->
        <h1 class="my-4 text-4xl font-bold !leading-tight sm:text-5xl">
          Eine studentische Initiative wie keine andere.
        </h1>
        <p class="mb-4 text-lg !leading-normal sm:text-xl">
          TUMi ist ein Verein, der ein umfangreiches Orientierungsprogramm für
          internationale und deutsche Studierende anbietet.
        </p>
        <!--<a
          class="focus:shadow-outline mx-auto my-6 transform rounded-full bg-white py-4 px-8 font-bold text-gray-800 shadow-lg transition duration-300 ease-in-out hover:scale-105 hover:underline focus:outline-none lg:mx-0"
          href="https://forms.office.com/r/ZyKq9JZu8A"
          target="blank"
        >
          Jetzt bewerben
        </a>-->
        <p class="py-4 text-lg !leading-normal sm:text-xl">
          Leider ist die Frist zur Bewerbung bereits abgelaufen. Wir suchen am
          Ende jeden Semesters neue Mitglieder.
        </p>
        <img
          src="/assets/logos/full_white.svg"
          alt="ESN TUMi Logo"
          class="logo"
        />
      </div>
      <!--Right Col-->
      <div class="w-full py-6 text-center md:w-1/2">
        <img
          class="z-50 ml-auto w-full"
          src="/assets/images/apply/regensburg.jpg"
        />
      </div>
    </div>
  </div>
  <div class="relative -mt-12 lg:-mt-24">
    <svg
      viewBox="0 0 1428 174"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g
          transform="translate(-2.000000, 44.000000)"
          fill="#FFFFFF"
          fill-rule="nonzero"
        >
          <path
            d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
            opacity="0.100000001"
          ></path>
          <path
            d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
            opacity="0.100000001"
          ></path>
          <path
            d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
            id="Path-4"
            opacity="0.200000003"
          ></path>
        </g>
        <g
          transform="translate(-4.000000, 76.000000)"
          fill="#FFFFFF"
          fill-rule="nonzero"
        >
          <path
            d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z"
          ></path>
        </g>
      </g>
    </svg>
  </div>
  <section class="border-b bg-white py-8">
    <div class="container m-8 mx-auto max-w-5xl">
      <h1
        class="my-2 w-full text-center text-5xl font-bold leading-tight text-gray-800"
      >
        Warum TUMi?
      </h1>
      <div class="mb-4 w-full">
        <div
          class="gradient mx-auto my-0 h-1 w-64 rounded-t py-0 opacity-25"
        ></div>
      </div>
      <div class="space-y-12">
        <div class="flex flex-wrap">
          <div class="p-6 sm:w-1/2">
            <h3 class="mb-3 text-3xl font-bold text-gray-800">
              Erweitere deinen Horizont.
            </h3>
            <p class="text-gray-600">
              Bei TUMi zu sein ist wie ein Auslandssemester in München selbst zu
              erleben. Wir möchten, dass unsere Teilnehmer die bestmögliche Zeit
              in München verbringen, und bieten eine große Palette an spannenden
              Events aller Art an. So fahren wir zu den schönsten Orten in ganz
              Bayern und darüber hinaus, und organisieren tolle kulturelle und
              sportliche Aktivitäten. Auch das Nachtleben kommt dabei nicht zu
              kurz.
            </p>
          </div>
          <div class="w-full p-6 sm:w-1/2">
            <img
              class="mx-auto h-60 w-full sm:h-80"
              src="/assets/images/apply/passau.jpg"
            />
          </div>
        </div>
        <div class="flex flex-col-reverse flex-wrap sm:flex-row">
          <div class="w-full p-6 sm:w-1/2">
            <img
              class="mx-auto h-60 w-full sm:h-80"
              src="/assets/images/apply/lindau.jpg"
            />
          </div>
          <div class="w-full p-6 sm:w-1/2">
            <div class="align-middle">
              <h3 class="mb-3 text-3xl font-bold text-gray-800">
                Lerne Leute aus aller Welt kennen.
              </h3>
              <p class="text-gray-600">
                Bei TUMi-Events kommst du mit Studierenden aller Fachrichtungen
                und Nationalitäten in Berührung. Persönliche Weiterentwicklung
                ist garantiert!
              </p>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap">
          <div class="p-6 sm:w-1/2">
            <h3 class="mb-3 text-3xl font-bold text-gray-800">
              Sei Teil einer einzigarten Community.
            </h3>
            <p class="text-gray-600">
              Bei TUMi findest du gleichgesinnte Leute aller Studiengänge.
              Zusammen bilden wir eine einzigartige Gemeinschaft, die sich der
              gegenseitigen Hilfe, der Integration, und der Völkerverständigung
              verschrieben hat, und eine gute Zeit in internationaler Umgebung
              haben möchte.
            </p>
          </div>
          <div class="w-full p-6 sm:w-1/2">
            <img
              class="mx-auto h-60 w-full sm:h-80"
              src="/assets/images/home/tutors.jpg"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="border-b bg-gray-100 py-8">
    <div class="container m-8 mx-auto w-5/6 max-w-5xl">
      <h1
        class="my-2 w-full text-center text-5xl font-bold leading-tight text-gray-800"
      >
        Was macht TUMi?
      </h1>
      <div class="mb-4 w-full">
        <div
          class="gradient mx-auto my-0 h-1 w-64 rounded-t py-0 opacity-25"
        ></div>
      </div>
      <div class="mb-4 w-full">
        <div class="text-md text-center text-gray-600">
          <p>
            TUMi organisiert jedes Semester eine Vielzahl von Events. Circa die
            Hälfte der Events finden in den ersten zwei Wochen vor
            Semesterbeginn statt („Orientierungswochen“), aber wir veranstalten
            auch während des Semesters viele Events.
          </p>
          <div class="my-8 flex flex-col">
            <div
              class="my-2 flex flex-col justify-center gap-8 sm:flex-row sm:gap-16"
            >
              <div>
                <div class="counter" *ngIf="(events$ | async) === null">
                  220+
                </div>
                <div class="counter" *ngIf="events$ | async as events">
                  {{ events.eventCount }}
                </div>
                <div class="text-sm">Events</div>
              </div>
              <div>
                <div class="counter" *ngIf="(events$ | async) === null">
                  7800+
                </div>
                <div class="counter" *ngIf="events$ | async as events">
                  {{ events.registrationCount }}
                </div>
                <div class="text-sm">Teilnehmer</div>
              </div>
            </div>
            <p class="mt-2 text-xs italic text-gray-400">Sommersemester 2022</p>
          </div>
        </div>

        <div class="event-cards">
          <mat-card appearance="outlined" class="event-card">
            <mat-card-header>
              <mat-card-title>Party Animals</mat-card-title>
              <mat-card-subtitle>1.–9. Oktober 2022</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/apply/partyanimals.jpg" />
            <mat-card-content>
              <p>
                Party Animals ist unser ultimatives Integrationsprogramm. Acht
                Gruppen à 20 Studierende unterschiedlicher Nationalitäten
                unternehmen neun Tage lang etwas miteinander. Inklusive einer
                Übernachtung und Party auf einer waschechten Burg! Jede Gruppe
                wird von mehreren Tutoren und Tutorinnen begleitet.
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card appearance="outlined" class="event-card">
            <mat-card-header>
              <mat-card-title>Orientierungswochen</mat-card-title>
              <mat-card-subtitle>3.–16. Oktober 2022</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/apply/wordcloud.png" />
            <mat-card-content>
              <p>
                In den zwei Orientierungswochen vor Vorlesungsbeginn finden sehr
                viele Events gleichzeitig statt. Das Angebot ist sehr bunt:
                Städtetrips, Exkursionen, Wanderungen, Sport- und Kulturevents,
                Museumsbesuche, Pub Crawls, und vieles mehr.
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card appearance="outlined" class="event-card">
            <mat-card-header>
              <mat-card-title>Tutorenevents</mat-card-title>
              <mat-card-subtitle>mehrmals pro Semester</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/apply/tutorevent.jpg" />
            <mat-card-content>
              <p>
                Abseits von unseren Events wollen wir, dass TUMi eine lebendige
                Gemeinschaft ist. Daher gibt es regelmäßige Tutorenevents, wo
                wir uns besser kennenlernen und austauschen wollen. So fahren
                wir zum Beispiel jedes Semester ein Wochenende gemeinsam weg.
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card appearance="outlined" class="event-card">
            <mat-card-header>
              <mat-card-title>Parties</mat-card-title>
              <mat-card-subtitle>wird noch bekanntgegeben ;)</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/apply/party.jpg" />
            <mat-card-content>
              <p>
                Partyfreunde aufgepasst: TUMi ist für exzellente Feiern bekannt,
                zum Beispiel die große Semester Opening Party, die Summer Party,
                die Christmas Party, Tram Parties und mehr. Hilf gerne bei der
                Organisation mit!
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card appearance="outlined" class="event-card">
            <mat-card-header>
              <mat-card-title>Wochenendtrips</mat-card-title>
              <mat-card-subtitle>mehrmals pro Semester</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/apply/weekendtrips.jpg" />
            <mat-card-content>
              <p>
                Jedes Semester führen wir mehrere Wochenendtrips durch, zum
                Beispiel nach Hamburg, Berlin, Wien, Straßburg, und Brüssel. Da
                die Tutorenplätze bei diesen Trips sehr begehrt sind, zahlt sich
                Engagement in den Orientierungswochen besonders aus.
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card appearance="outlined" class="event-card">
            <mat-card-header>
              <mat-card-title>TUMi Winterkonzert</mat-card-title>
              <mat-card-subtitle>Januar 2023</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/apply/concert.jpg" />
            <mat-card-content>
              <p>
                Begeisterst du dich für Musik? Dann tritt beim TUMi
                Winterkonzert auf, oder hilf bei der Organisation mit!
              </p>
              <p>
                Das
                <a
                  href="events/3b4d9535-2129-4ee2-ab3f-5ba2f901df7a"
                  target="blank"
                  >TUMi Sommerkonzert 2022</a
                >
                fand am 3. Juli im Gasteig statt und wurde zu einem vollen
                Erfolg.
                <a
                  href="https://youtube.com/playlist?list=PLJGMqadXDXE13sOivlALV1qIrF4mvWn4-"
                  target="blank"
                  >Hier</a
                >
                findest du eine Aufnahme vom Konzert.
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card appearance="outlined" class="event-card">
            <mat-card-header>
              <mat-card-title>Sprachencafé</mat-card-title>
              <mat-card-subtitle>Wöchentlich</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="https://www.in.tum.de/fileadmin/_processed_/b/a/csm_DSC_2960_zugeschnitten_9171994ac1.jpg"
            />
            <mat-card-content>
              <p>
                Beim wöchentlichen Sprachencafé (Stammgelände und Garching)
                bauen wir mehrere Tische auf, wo jeweils in gemütlicher
                Atmosphäre eine bestimmte Sprache gesprochen wird. Dazu gibt's
                gratis Kaffee und Kuchen spendiert. Verbesserungen deiner
                Sprachkenntnisse sind garantiert!
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card appearance="outlined" class="event-card">
            <mat-card-header>
              <mat-card-title>TUMi Sports</mat-card-title>
              <mat-card-subtitle>durchgehend</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/apply/sports.jpg" />
            <mat-card-content>
              <p>
                TUMi Sports hält die Leute fit! Wir führen viele Wanderungen
                durch und spielen regelmäßig verschiedene Indoor- und
                Outdoorsportarten (Basketball, Volleyball, Fußball, Bouldern,
                Crossminton, Spikeball, Squash, und mehr). Wir veranstalten auch
                Turniere mit netten kleinen Preisen.
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card appearance="outlined" class="event-card">
            <mat-card-header>
              <mat-card-title>TUMi Nights</mat-card-title>
              <mat-card-subtitle>durchgehend</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/apply/nights.jpg" />
            <mat-card-content>
              <p>
                TUMi Nights sorgt dafür, dass das Nachtleben nicht zu kurz
                kommt. Zusätzlich zu den Klassikern wie Pub Crawls,
                Spieleabenden und Karaoke sind auch unsere bunten
                „Tasting“-Abende sehr beliebt, sei es ein Beer Tasting, Cocktail
                Tasting, Wine Tasting, Whisky Tasting, oder sogar ein Cheese
                Tasting.
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card appearance="outlined" class="event-card">
            <mat-card-header>
              <mat-card-title>TUMi Culture</mat-card-title>
              <mat-card-subtitle>durchgehend</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/apply/culture.jpg" />
            <mat-card-content>
              <p>
                TUMi Culture ist das Kulturprogramm von TUMi. Jedes Semester
                besuchen wir verschiedene Konzerte, Theateraufführungen, Opern,
                Musicals und vieles mehr, und entdecken damit das vielfältige
                Angebot der Kulturhauptstadt München.
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card appearance="outlined" class="event-card">
            <mat-card-header>
              <mat-card-title>Länderabend</mat-card-title>
              <mat-card-subtitle>alle zwei Wochen</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/apply/laenderabend.jpg" />
            <mat-card-content>
              <p>
                Beim TUMi Länderabend steht jedes Mal ein anderes Land im Fokus.
                Studierende aus diesem Land sind Gastgeber und bereiten ein
                Gericht zu, das von allen Teilnehmern in gemütlicher Atmosphäre
                verzehrt wird. Traditionell fängt das Semester mit dem
                Länderabend Bayern an, wo wir bayerische Speisen kochen.
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card appearance="outlined" class="event-card">
            <mat-card-header>
              <mat-card-title>Social Erasmus</mat-card-title>
              <mat-card-subtitle>durchgehend</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/apply/socialerasmus.jpg" />
            <mat-card-content>
              <p>
                Über das Social-Erasmus-Programm engagieren sich Studierende
                unter dem Motto „Leave your mark“ in verschiedenen sozialen
                Projekten. Diese sind so vielfältig wie die Herkunft der
                Teilnehmer selbst und reichen von der Hilfe in Tierheimen und
                Tafeln bis hin zu Cleanup-Tagen und Blutspendeaktionen.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white py-8">
    <div class="container m-8 mx-auto w-5/6 max-w-5xl">
      <h1
        class="my-2 w-full text-center text-5xl font-bold leading-tight text-gray-800"
      >
        Was mache ich?
      </h1>
      <div class="mb-4 w-full">
        <div
          class="gradient mx-auto my-0 h-1 w-64 rounded-t py-0 opacity-25"
        ></div>
      </div>
      <div class="mt-6 flex flex-wrap">
        <div
          class="text-md order-3 space-y-2 text-gray-600 sm:order-1 sm:w-1/2 md:p-6"
        >
          <p>
            Bei TUMi bringst du als sozialer und kultureller Botschafter bzw.
            Botschafterin den Studierenden München und Deutschland näher. Wir
            sind allerdings kein Buddy-Programm – es gibt keine 1:1-Betreuung.
            Vielmehr hilfst du bei der Organisation und Durchführung von Events
            mit.
          </p>
          <p>
            Wir erwarten nicht, dass du gleich jede Woche mehrere Events
            organisierst. Allerdings hoffen wir, dass du ein aktiver Teil der
            TUMi-Gemeinschaft werden kannst. Nichtsdestotrotz sind wir über
            jegliche Mithilfe dankbar, vor allem bei den belebten
            Orientierungswochen.
          </p>
          <p>
            Wir erhalten tatkräftige Unterstützung vom
            <a
              href="https://www.international.tum.de/global/startseite/"
              target="blank"
              >TUM Global & Alumni Office</a
            >
            und finanzieren uns hauptsächlich aus Fördermitteln des Deutschen
            Akademischen Austauschdienstes (DAAD). Als Dank für ihre Mithilfe
            fahren Tutoren und Tutorinnen bei Events entgeltfrei mit.
          </p>
          <p class="font-bold">
            Am Samstag, den 24. September, findet unser Kickoff-Treffen für neue
            Tutoren und Tutorinnen statt!
          </p>
        </div>
        <div class="order-2 mb-8 w-full sm:w-1/2 sm:p-6">
          <img
            class="mx-auto w-full"
            src="/assets/images/apply/welcomebags.jpg"
          />
        </div>
      </div>
    </div>
  </section>
  <svg
    class="wave-top"
    viewBox="0 0 1439 147"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(-1.000000, -14.000000)" fill-rule="nonzero">
        <g class="wave" fill="#fff">
          <path
            d="M1440,84 C1383.555,64.3 1342.555,51.3 1317,45 C1259.5,30.824 1206.707,25.526 1169,22 C1129.711,18.326 1044.426,18.475 980,22 C954.25,23.409 922.25,26.742 884,32 C845.122,37.787 818.455,42.121 804,45 C776.833,50.41 728.136,61.77 713,65 C660.023,76.309 621.544,87.729 584,94 C517.525,105.104 484.525,106.438 429,108 C379.49,106.484 342.823,104.484 319,102 C278.571,97.783 231.737,88.736 205,84 C154.629,75.076 86.296,57.743 0,32 L0,0 L1440,0 L1440,84 Z"
          ></path>
        </g>
        <g transform="translate(1.000000, 15.000000)" fill="#FFFFFF">
          <g
            transform="translate(719.500000, 68.500000) rotate(-180.000000) translate(-719.500000, -68.500000) "
          >
            <path
              d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
              opacity="0.100000001"
            ></path>
            <path
              d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
              opacity="0.100000001"
            ></path>
            <path
              d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
              opacity="0.200000003"
            ></path>
          </g>
        </g>
      </g>
    </g>
  </svg>
  <section
    class="container mx-auto flex w-5/6 flex-col items-center py-6 text-center"
  >
    <h1
      class="my-2 w-full text-center text-5xl font-bold leading-tight text-white"
    >
      Wir suchen dich!
    </h1>
    <div class="mb-4 w-full">
      <div
        class="mx-auto my-0 h-1 w-1/6 rounded-t bg-white py-0 opacity-25"
      ></div>
    </div>
    <h3 class="my-4 text-lg">
      Bist du weltoffen, besitzt du gute Deutschkenntnisse (C1 oder höher), und
      hast du Interesse daran, Teil einer einzigarten Community zu sein? Dann
      werde Teil von TUMi!
    </h3>
    <p class="py-4 text-lg !leading-normal sm:text-xl">
      Leider ist die Frist zur Bewerbung bereits abgelaufen. Wir suchen am Ende
      jeden Semesters neue Mitglieder.
    </p>
    <!--<a
      class="focus:shadow-outline mx-auto mt-6 mb-10 transform rounded-full bg-white py-4 px-8 font-bold text-gray-800 shadow-lg transition duration-300 ease-in-out hover:scale-105 hover:underline focus:outline-none lg:mx-0"
      href="https://forms.office.com/r/ZyKq9JZu8A"
      target="blank"
    >
      Jetzt bewerben
    </a>-->
  </section>
</div>
