<form [formGroup]="rightsForm" fxLayout="column" fxLayoutGap="1rem">
  <mat-checkbox formControlName="seeDrafts">seeDrafts</mat-checkbox>
  <mat-checkbox formControlName="manageApplications"
    >manageApplications</mat-checkbox
  >
  <mat-checkbox formControlName="manageMembers">manageMembers</mat-checkbox>
  <mat-checkbox formControlName="manageUsers">manageUsers</mat-checkbox>
  <mat-checkbox formControlName="manageInvoices">manageInvoices</mat-checkbox>
  <mat-checkbox formControlName="accessTransactions"
    >accessTransactions</mat-checkbox
  >
  <mat-checkbox formControlName="scanRequests">scanRequests</mat-checkbox>
  <mat-checkbox formControlName="betaFeatures">betaFeatures</mat-checkbox>
  <mat-checkbox formControlName="createEvents">createEvents</mat-checkbox>
  <button
    mat-stroked-button
    [disabled]="rightsForm.invalid"
    (click)="rightsUpdated.emit(rightsForm.value)"
  >
    Save Rights
  </button>
</form>
