<h2 class="mat-display-4 no-margin">Signed up users</h2>
<p><strong>Tutors on this event</strong></p>
<mat-list>
  <mat-list-item *ngFor="let user of event.tutorUsers">
    {{user.firstName}} {{ user.lastName}} ({{user.email}})
  </mat-list-item>
</mat-list>
<p><strong>Online Registrations</strong></p>
<mat-list>
  <mat-list-item *ngFor="let user of event.onlineUsers">
    {{user.firstName}} {{ user.lastName}} ({{user.email}})
  </mat-list-item>
</mat-list>
<ng-container *ngIf="event.hasFee || event.payedSignups.length">
  <p><strong>Payed Registrations</strong></p>
  <mat-list>
    <mat-list-item *ngFor="let user of event.payedUsers">
      {{user.firstName}} {{ user.lastName}} ({{user.email}})
    </mat-list-item>
  </mat-list>
</ng-container>
