<h1 class="font-bold text-xl mb-2">Register as Tutor</h1>
<p>You can register as tutor for this event</p>
<button
  mat-stroked-button
  color="primary"
  [disabled]="!(canSignUp$ | ngrxPush)"
  (click)="register()"
>
  Register as Tutor
</button>
<h3>Tutors already on this event</h3>
<mat-list>
  <mat-list-item *ngFor="let tutor of event.registeredTutors | ngrxPush">
    <img
      alt="Photo"
      mat-list-avatar
      src="{{ tutor.photoURL || '/assets/icons/user.svg' }}"
    />
    <p mat-line>{{ tutor.firstName }} {{ tutor.lastName }}</p>
  </mat-list-item>
</mat-list>
